/* Vignette */
.media-circle-view {
	position: relative;
	border-radius: 50%;
	width: 100%;
	min-width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background-position: center center;
	vertical-align: middle;
}

.media-vignette-default {
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-variant: small-caps;
	font-weight: bold;
	color: black;
	background-color: var(--background);
	line-height: 1;
	border: 1px solid var(--border);
	text-decoration: none !important;
}

/* Logo */
.media-rectangle-view {
	position: relative;
	width: 100%;
	min-width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;
}
