:root {
	--demo: #722364;
	--soil: #48372f;
	--harvest: #2e71b5;
	--order: #7e1661;
	--todo: slategray;
	--done: teal;
	--muted: #808089;
	--selling: #722583;
	--basket: #b17e2f;
	--background: #ededf1;
	--background-dark: #e9e9ec;
	--background-light: #f4f4f6;
	--background-even: #f8f8fa;
	--primary: #3d373d;
	--secondary: #505075;
	--training: #fdf7c9;
	--shop: #006d6b;
	--border: #d5d5d5;
	--dark: #212529;
	--pro: #008874;
	--private: #527a00;
}

::selection {
  color: var(--primary);
  background: #e5e5f3;
}

@media (max-height: 767px) or (max-width: 767px) {

	:root {
		--farmNav: 5rem;
		--mainNav: 3rem;
		--farmSubNav: 2.75rem;
		--mainSticky: calc(var(--farmNav) + var(--farmSubNav));
	}

}

@media (min-height: 768px) and (min-width: 768px) {

	:root {
		--farmNav: 4rem;
		--mainNav: 3rem;
		--farmSubNav: 2.5rem;
		--mainSticky: calc(var(--mainNav) + var(--farmNav) + var(--farmSubNav));
	}

}

:root {
	--nav: calc(var(--mainNav) + var(--farmNav) + var(--farmSubNav));
}

.color-selling {
	color: var(--selling);
}

.color-todo {
	color: var(--todo);
}

.color-pro {
	color: var(--pro);
}

.bg-pro {
	background-color: var(--pro);
}

.color-private {
	color: var(--private);
}

.bg-private {
	background-color: var(--private);
}

.bg-shop {
	background-color: var(--shop) !important;
}

html {
	font-size: 13px;
}

@media (min-width: 1200px) and (max-width: 1399px) {

	html {
		font-size: 14px;
	}

}

@media (min-width: 1400px) {

	html {
		font-size: 15px;
	}

}

@media (max-width: 449px) {

	html {
		font-size: 12px;
	}

}


h1 {
	font-weight: lighter;
	font-size: 2.5rem;
}

@media (max-width: 575px) {

   h1 {
      font-size: 2rem;
	}

}

h1 a {
	color: inherit;
	transition: color 0.5s;
}

h1 a:hover {
	text-decoration: none;
	color: var(--primary);
}

h2 {
	font-weight: lighter;
	font-size: 2rem;
}

@media (max-width: 575px) {

	h2 {
		font-size: 1.75rem;
	}

}

h3 {
	background: var(--primary);
	padding: 0.5rem 1rem;
	color: white;
	font-weight: bold;
	border-radius: var(--radius);
	font-size: 1.2rem;
	width: fit-content;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-weight: bold;
	font-size: 1rem;
}

body {
	display: flex;
	flex-direction: column;
	background: var(--background-light);
}

@media (max-height: 767px) or (max-width: 767px) {

	body {
		min-height: 150vh;
	}

}

@media (min-height: 768px) and (min-width: 768px) {

	body {
		min-height: 100vh;
	}

}

header, main, footer, nav {
	width: 100%;
}
.color-harvest {
	color: var(--harvest) !important;
}
.color-order {
	color: var(--order) !important;
}

body[data-template~="panel"] header,
body[data-template~="panel"] main,
body[data-template~="panel"] footer,
body[data-template~="panel"] nav {
	display: none;
}

/* Header */
body[data-template~="default"] header {
	padding: 1.5rem 0;
	background: linear-gradient(135deg, var(--background) 0%, transparent 100%);
}

body[data-template~="farm"] header {
	position: sticky;
	z-index: 500;
	box-shadow: 0 0 1rem #8883;
}

@media (min-height: 768px) and (min-width: 768px) {

	body[data-template~="farm"] header {
		top: var(--mainNav);
	}

	body > nav {
		position: sticky;
		top: 0;
	}

}


@media (max-height: 767px) or (max-width: 767px) {

	body[data-template~="farm"] header {
		top: 0;
	}

}

body[data-template~="farm"] header {
	background: linear-gradient(to bottom, var(--background-light) 0, white 100%);
}

body[data-template~="farm"] main > div.container:not(:first-child) {
	margin-top: 0;
}

header h1:only-child {
	margin: 0;
}

body {
	overflow-y: scroll;
}

body > nav {
	z-index: 501;
	font-weight: normal;
	color: white;
	background-color: var(--primary);
}

body[data-demo] > nav {
	background-color: var(--demo);
}

body > nav a {
	color: white;
}

body > nav a.nav-logo {
	display: inline-block;
	width: 1.75rem;
	min-width: 1.75rem;
	height: 1.75rem;
	position: relative;
	align-self: center;
	margin-right: 1rem;
}

body > nav a.nav-logo div.logo-wrapper {
	transition: all 0.5s;
	transition-delay: 0s;
}

body > nav a.nav-logo div.logo-wrapper div.logo-top-left-circle,
body > nav a.nav-logo div.logo-wrapper div.logo-bottom-right-circle {
	transition: all 0.5s;
	transition-delay: 0s;
}

body > nav a.nav-logo:hover div.logo-wrapper {
	transition-delay: 0.5s;
	transform: rotate(-360deg);
	letter-spacing: 30px;
	color: transparent;
	opacity: 0;
}

body > nav a.nav-logo:hover div.logo-wrapper div.logo-top-left-circle {
	transition-delay: 0.5s;
	top: -100%;
	left: -100%;
}


body > nav a.nav-logo:hover div.logo-wrapper div.logo-bottom-right-circle {
	transition-delay: 0.5s;
	top: 100%;
	left: 100%;
}

body > nav a.nav-logo div.nav-logo-home {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: 0;
	transition: all 0.5s;
	transition-delay: 0s;
	display: flex;
	align-items: center;
	justify-content: center;
}

body > nav a.nav-logo:hover div.nav-logo-home {
	opacity: 1;
	transition-delay: 0.5s;
}

body > nav a.nav-logo svg {
	font-size: 2rem;
}

div.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: var(--mainNav);
}

body > nav ul > li > form > button {
	color: black;
}

body > nav ul.nav-actions {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body > nav ul.nav-actions li {
	display: flex;
	align-items: center;
	padding: 0;
}

@media (max-width: 575px) {

	body > nav ul.nav-actions li.nav-action-optional {
		display: none;
	}

}

body > nav .nav-item {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	transition: background-color 0.5s;
}

@media (max-width: 575px) {

	body > nav .nav-item {
		padding: 0 0.5rem;
	}

}

body > nav ul.nav-actions a.nav-item:hover {
	background-color: #ffffff20;
}

body > nav ul.nav-actions li > a.nav-icon {
	font-weight: bold;
}

@media (max-width: 575px) {

	body > nav ul.nav-actions li > a.nav-icon {
		font-size: 0.9rem;
	}

}


@media (min-width: 576px) and (max-width: 767px) {

	body > nav ul.nav-actions li > a.nav-icon {
		font-size: 0.9rem;
	}

}

.nav-deleted,
.nav-deleted a,
.nav-deleted a:hover {
	font-weight: bold;
}

@media (max-width: 767px) {

	.nav-deleted {
		display: none;
	}

}

body > nav a:active:not(.dropdown-item),
body > nav a:hover:not(.dropdown-item) {
	text-decoration: none;
}

.nav-title {
	display: flex;
	align-items: center;
	line-height: 1.4;
}

body > nav .nav-user {
	line-height: 1.2;
}

body > nav .nav-user > *:not(:last-child) {
	margin-right: .5rem;
}


/* Logo */
div.logo-wrapper {
	position: relative;
}

div.logo-middle-circle {
	position: absolute;
	left: 28%;
	top: 28%;
	background-color: white;
	border-radius: 50%;
	width: 44%;
	height: 44%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

div.logo-top-left-circle {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 50%;
	border-top-left-radius: 100%;
	background-color: white;
	opacity: 0.25;
}

div.logo-bottom-right-circle {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
	border-bottom-right-radius: 100%;
	background-color: white;
	opacity: 0.25;
}

/* Main */
main {
	flex-grow: 1;
}

main > div.container {
	margin-top: 1.5rem;
}

/* Footer */
footer:empty {
	display: none;
}

footer:not(:empty) {
	margin-top: 3rem;
	padding: 1rem 0;
	background: linear-gradient(to bottom, var(--background-light) 0, white 100%);
}

footer a {
	color: var(--muted);
}

div.footer-content {
	font-size: 0.9rem;
	padding: 2rem 0;
}

div.footer-content-text {
	border-top: 1px solid var(--border);
	padding: 1rem 2rem 0;
	color: var(--secondary);
	text-align: center;
}

div.footer-content-legal {
	padding: 1rem 2rem;
	display: flex;
	column-gap: 3rem;
	justify-content: center;
}

div.h-line {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 0.25rem;
	margin-bottom: 0.75rem;
}

div.h-line > *:not(:last-child) {
    margin-right: .5rem;
}

div.h-line > * {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

div.h-line > div.h-tabs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: .25rem 0;
	font-size: 1rem;
	text-align: right;
}

div.h-line > div.h-tabs > a.h-tab:not(:last-child) {
	padding-right: .75rem;
	border-right: 1px solid var(--primary);
	margin-right: .75rem;
}

.text-secondary a {
	color: inherit;
	text-decoration: underline;
}

.util-unit {
	white-space: nowrap;
}

.plant-start {
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	font-size: 0.9em;
	margin-left: 0.25em;
	background-color: #8881;
	border-radius: 0.5em;
	line-height: 1;
}

.plant-start-background {
	padding: 0.25em 0.375em;
}

.plant-start-border {
	border: 1px solid #8888;
	padding: 0.25em;
}

div.soil-icon {
	display: inline-block;
	vertical-align: middle;
	background-image: url(/asset/ouvretaferme/production/image/soil.jpg);
	background-size: cover;
	border-radius: 50%;
}

div.util-vignette {
	margin-bottom: 1.5rem;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.5rem;
	align-items: center;
}

div.util-vignette > *:first-child {
	align-self: start;
}

@media (max-width: 575px) {

	div.util-vignette.util-vignette-xs {
		grid-template-columns: 1fr;
		gap: 1rem;
	}

}

div.logout-external {
	position: fixed;
	bottom: 10px;
	right: 10px;
	max-width: 300px;
	z-index: 100000;
	font-size: 0.875rem;
	padding: 1rem;
	border-radius: var(--radius);
	color: white;
	background-color: var(--warning);
}

div.logout-external a {
	color: white;
	text-decoration: underline;
}

code {
	background: rgba(0, 0, 0, 0.05);
	border-radius: var(--radius);
	padding: 1rem;
	display: block;
}


/* Batch */
.batch-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	color: white;
}

.batch-title h4 {
	margin-bottom: 0;
}

.batch-item {
	position: relative;
}

.batch-menu {
	overflow-x: auto;
	color: white;
}

address {
	margin: 0.5rem 0 0.5rem 1rem;
	border-left: 2px solid var(--border);
	padding-left: 1rem;
}