:root {
	--soil: #48372f;
	--harvest: #2e71b5;
	--order: #7e1661;
	--todo: slategray;
	--done: teal;
	--muted: #7a7a80;
	--muted-light: #d5d5d5;
	--selling: #722583;
	--basket: #b17e2f;
	--background-body: #e8e8eb;
	--background: #ececef;
	--background-dark: #e9e9eb;
	--background-highlight: #c49f1033;
	--background-light: #f5f5f7;
	--background-odd: #fcfcfe;
	--background-even: #f6f6f8;
	--background-game: #f7ecda;
	--info: #e1eaff;
	--primary: #373737;
	--secondary: #4a4a70;
	--secondary-rgb: 74, 74, 112;
	--training: #fdf7c9;
	--shop: #006d6b;
	--border: #ddd;
	--dark: #212529;
	--pro: #008874;
	--private: #527a00;
	--production: #035e42;
	--commercialisation: #4a4a70;
	--accounting: #205160;
	--game: #7a1b1b;
	--account-group: #FDE9D9;
	--system: linear-gradient(to right, var(--commercialisation) 0, var(--production) 50%, var(--accounting) 100%);

	--draft: var(--todo);
	--confirmed: var(--order);
	--prepared: var(--done);
	--delivered: var(--success);

	--unprocessed-plant: var(--success);
	--unprocessed-animal: #ada779;
	--processed-food: #b17e2f;
	--processed-product: var(--prepared);
	--composition: var(--order);
	--service: #5a720e;
	--other: black;

	--ach: var(--todo);
	--ven: var(--order);
	--ban: var(--done);
	--ks: var(--success);
	--od: var(--harvest);
}

:root:has(body[data-template~="farm-production"]) {
	--secondary: var(--production);
	--info: #e1ffe4;
}

:root:has(body[data-template~="farm-commercialisation"]) {
}

:root:has(body[data-template~="farm-accounting"]) {
	--secondary: var(--accounting);
	--info: #e1fbff;
}

::selection {
  color: var(--primary);
  background: #e5e5f3;
}

@media (min-width: 1100px) and (min-height: 600px) {

	:root {
		--nav-main: 3.5rem;
		--nav-farm: 0;
		--mainSticky: 0rem;
	}

}

@media (max-width: 1099px), (max-height: 599px) {

	:root {
		--farmSections: 3.5rem;
		--nav-farm: 3.25rem;
		--mainSticky: 6.75rem;
	}

	@media (max-width: 767px) {

		:root {
			--nav-main: 3rem;
		}

	}

	@media (min-width: 768px) {

		:root {
			--nav-main: 3rem;
		}

	}

}

.color-selling {
	color: var(--selling);
}

.color-accounting {
	color: var(--accounting);
}

.color-commercialisation {
	color: var(--commercialisation);
}

.color-production {
	color: var(--production);
}

.color-todo {
	color: var(--todo);
}

.color-pro {
	color: var(--pro);
}

.color-private {
	color: var(--private);
}

.color-game {
	color: var(--game);
}

.bg-harvest {
	background-color: var(--harvest) !important;
}
.bg-todo {
	background-color: var(--todo) !important;
}
.bg-done {
	background-color: var(--done) !important;
}
.bg-order {
	background-color: var(--order) !important;
}
.bg-selling {
	background-color: var(--selling) !important;
}
.bg-production {
	background-color: var(--production) !important;
}
.bg-commercialisation {
	background-color: var(--commercialisation) !important;
}
.bg-accounting {
	background-color: var(--accounting) !important;
}
.border-accounting {
	border-color: var(--accounting) !important;
}

.bg-pro {
	background-color: var(--pro);
}

.bg-private {
	background-color: var(--private);
}

.bg-shop {
	background-color: var(--shop) !important;
}

.bg-game {
	background-color: var(--game) !important;
}

html {
	font-size: 13px;
}

@media (min-width: 1600px) and (min-height: 992px) {

	html {
		font-size: 16px;
	}

	@media (min-width: 2000px) {

		html {
			font-size: 18px;
		}

	}

}

@media (min-width: 1400px) and (max-width: 1599px) and (min-height: 992px) {

	html {
		font-size: 15px;
	}

}

@media (min-width: 1400px) and (max-height: 992px) {

	html {
		font-size: 14px;
	}

}

@media (min-width: 1300px) and (max-width: 1399px) {

	html {
		font-size: 14px;
	}

}

@media (min-width: 1200px) and (max-width: 1299px) {

	html {
		font-size: 13px;
	}

}

@media (max-width: 449px) {

	html {
		font-size: 12px;
	}

}


h1 {
	font-weight: lighter;
	font-size: 2.5rem;
}

@media (max-width: 575px) {

	h1 {
		font-size: 2rem;
	}

}

h1 a {
	color: inherit;
	transition: color 0.5s;
}

h1 a:hover {
	text-decoration: none;
	color: var(--primary);
}

h2 {
	font-weight: lighter;
	font-size: 2rem;
}

@media (max-width: 575px) {

	h2 {
		font-size: 1.75rem;
	}

}

h3 {
	font-weight: bold;
	font-size: 1.3rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-weight: bold;
	font-size: 1rem;
}

body {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content;
	background-color: var(--background-body);
}

body[data-touch="yes"] {
	grid-template-columns: var(--screen-width);
}

@media print {

	body {
		background-color: white;
	}

}

@media (max-width: 1099px), (max-height: 599px) {

	body {
		min-height: 150vh;
	}

}

@media (min-height: 768px) and (min-width: 768px) {

	body {
		min-height: 100vh;
	}

}

.color-harvest {
	color: var(--harvest) !important;
}
.color-order {
	color: var(--order) !important;
}

body[data-template~="panel"] header,
body[data-template~="panel"] main,
body[data-template~="panel"] footer,
body[data-template~="panel"] nav {
	display: none;
}

/* Header */
body[data-template~="default"] header {
	padding: 1.5rem 0 2.5rem;
}

@media (min-width: 1100px) and (min-height: 600px) {

	body[data-template~="farm"] > header {
		top: var(--nav-main);
	}

	body > nav {
		position: sticky;
		top: 0;
	}

}

body[data-template~="farm"] > main > div.container:not(:first-child) {
	margin-top: 0;
}

header h1:only-child {
	margin: 0;
}

@media (min-width: 768px) {

	.util-stick-main {
		position: sticky;
		top: calc(var(--mainSticky) - 1px);
		z-index: 1;
	}

}

body {
	overflow-y: scroll;
}

body > nav {
	z-index: 501;
	font-weight: normal;
	color: white;
	background-color: var(--primary);
}

body > nav a {
	color: white;
}

div.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: var(--nav-main);
	min-height: var(--nav-main);
	column-gap: 0.5rem;
	padding: 0 var(--container-padding);
}

body > nav ul > li > form > button {
	color: black;
}

body > nav .nav-actions {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body > nav .nav-actions > * {
	display: flex;
	align-items: center;
	padding: 0;
}

body > nav .nav-item {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	transition: background-color 0.5s;
}

@media (max-width: 575px) {

	body > nav .nav-item {
		padding: 0 0.5rem;
	}

}

body > nav .nav-actions a.nav-item:hover {
	background-color: #ffffff20;
}

body > nav .nav-actions > * > a.nav-icon {
	font-weight: bold;
}

@media (max-width: 575px) {

	body > nav .nav-actions > * > a.nav-icon {
		font-size: 0.9rem;
	}

}


@media (min-width: 576px) and (max-width: 767px) {

	body > nav .nav-actions > * > a.nav-icon {
		font-size: 0.9rem;
	}

}

.nav-deleted {
	background-color: var(--danger);
	line-height: 1.2;
}

.nav-deleted,
.nav-deleted a,
.nav-deleted a:hover {
	font-weight: bold;
	font-size: 0.8rem;
}

body > nav a:active:not(.dropdown-item),
body > nav a:hover:not(.dropdown-item) {
	text-decoration: none;
}

.nav-title {
	display: flex;
	align-items: center;
	line-height: 1.2;
	z-index: 1;
}

body > nav .nav-user {
	line-height: 1.2;
}

body > nav .nav-user > *:not(:first-child) {
	margin-left: .5rem;
}

/* Footer */
footer:empty {
	display: none;
}

footer:not(:empty) {
	padding: 4rem 0 1rem;
}

footer a {
	color: var(--muted);
}

div.footer-content {
	font-size: 0.9rem;
	padding: 2rem 0;
}

div.footer-content-text {
	padding: 1rem 2rem;
	color: var(--secondary);
	text-align: center;
}

div.footer-content-legal {
	padding: 1rem 2rem;
	display: flex;
	column-gap: 3rem;
	justify-content: center;
}

@media (max-width: 575px) {

	div.footer-content-legal {
		padding: 1rem;
		column-gap: 1rem;
	}

}

thead.thead-sticky {
	position: sticky;
	background-color: var(--background-body);
	top: var(--mainSticky);
	z-index: 99; /* Doit passer sous la nav */
}

[data-admin] thead.thead-sticky {
	top: var(--mainNav)
}

@media (max-width: 449px) {

	.util-overflow-xs thead.thead-sticky {
		position: relative;
		top: 0;
	}

}

@media (max-width: 575px) {

	.util-overflow-sm thead.thead-sticky {
		position: relative;
		top: 0;
	}

}

@media (max-width: 767px) {

	.util-overflow-md thead.thead-sticky {
		position: relative;
		top: 0;
	}

}

@media (max-width: 991px) {

	.util-overflow-lg thead.thead-sticky {
		position: relative;
		top: 0;
	}

}

@media (max-width: 1199px) {

	.util-overflow-xl thead.thead-sticky {
		position: relative;
		top: 0;
	}

}

.text-secondary a {
	color: inherit;
	text-decoration: underline;
}

.util-unit {
	white-space: nowrap;
}

.util-association {
	border: 2px dashed var(--primary);
	padding: 1.5rem;
	border-radius: var(--radius);
	margin-bottom: 2rem;
}

.plant-start {
	font-weight: bold;
	display: inline-block;
	white-space: nowrap;
	font-size: 0.9em;
	margin-left: 0.25em;
	background-color: #8881;
	border-radius: 0.5em;
	line-height: 1;
}

.plant-start-background {
	padding: 0.25em 0.375em;
}

.plant-start-border {
	border: 1px solid #8888;
	padding: 0.25em;
}

div.soil-icon {
	display: inline-block;
	vertical-align: middle;
	background-image: url(/asset/ouvretaferme/sequence/image/soil.jpg);
	background-size: cover;
	border-radius: 50%;
}

div.util-vignette {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.5rem;
	align-items: center;
}

div.util-vignette > *:first-child {
	align-self: start;
}

@media (max-width: 575px) {

	div.util-vignette {
		gap: 1rem;
	}

}

div.logout-external {
	position: fixed;
	bottom: 10px;
	right: 10px;
	max-width: 300px;
	z-index: 100000;
	font-size: 0.875rem;
	padding: 1rem;
	border-radius: var(--radius);
	color: white;
	background-color: var(--warning);
}

div.logout-external a {
	color: white;
	text-decoration: underline;
}

code {
	background: rgba(0, 0, 0, 0.05);
	border-radius: var(--radius);
	padding: 1rem;
	display: block;
}


address {
	margin: 0.5rem 0 0.5rem 1rem;
	border-left: 2px solid var(--border);
	padding-left: 1rem;
}

.btn-production,
.btn-outline-production:not(.btn-readonly):hover {
	color: white;
	background-color: var(--production);
	border-color: var(--production);
}

.btn-production:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-production {
	color: var(--production);
	border-color: var(--production);
}

.btn-commercialisation,
.btn-outline-commercialisation:not(.btn-readonly):hover {
	color: white;
	background-color: var(--commercialisation);
	border-color: var(--commercialisation);
}

.btn-commercialisation:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-commercialisation {
	color: var(--commercialisation);
	border-color: var(--commercialisation);
}

.btn-accounting,
.btn-outline-accounting:not(.btn-readonly):hover {
	color: white;
	background-color: var(--accounting);
	border-color: var(--accounting);
}

.btn-accounting:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-accounting {
	color: var(--accounting);
	border-color: var(--accounting);
}

.btn-game,
.btn-outline-game:not(.btn-readonly):hover {
	color: white;
	background-color: var(--game);
	border-color: var(--game);
}

.btn-game:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-game {
	color: var(--game);
	border-color: var(--game);
}

.btn-selling,
.btn-outline-selling:not(.btn-readonly):hover {
	color: white;
	background-color: var(--selling);
	border-color: var(--selling);
}

.btn-selling:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-selling {
	color: var(--selling);
	border-color: var(--selling);
}

.btn-done,
.btn-outline-done:not(.btn-readonly):hover {
	color: white;
	background-color: var(--done);
	border-color: var(--done);
}

.btn-done:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-done {
	color: var(--done);
	border-color: var(--done);
}

.btn-todo,
.btn-outline-todo:not(.btn-readonly):hover {
	color: white;
	background-color: var(--todo);
	border-color: var(--todo);
}

.btn-todo:not(.btn-readonly):hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-todo {
	color: var(--todo);
	border-color: var(--todo);
}

.btn-harvest {
	background: var(--harvest);
	color: white;
}

.btn-harvest:hover {
	color: white;
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

.btn-outline-private {
	color: var(--private);
	border-color: var(--private);
}

.btn-outline-private:hover {
	background: var(--private);
	color: white;
}

.btn-outline-pro {
	color: var(--pro);
	border-color: var(--pro);
}

.btn-outline-pro:hover {
	background: var(--pro);
	color: white;
}
