@media (min-width: 1400px) {

	html:has(> body[data-template~="doc"]) {
		font-size: 16px;
	}

}

div.doc-wrapper {
	display: grid;
	grid-template:
		"menu header" auto
		"menu content" auto / minmax(15rem, 20vw) 1fr;
	min-width: 700px;
}

div.doc-menu {
	grid-area: menu;
	background-color: var(--background);
	box-shadow: 0 0 1rem #0003;
}

div.doc-menu-title {
	font-weight: bold;
	padding: 1rem;
}

div.doc-menu a {
	display: block;
	padding: 0.5rem 1rem;
}

div.doc-menu a.selected {
	background-color: var(--secondary);
	color: white;
}

div.doc-header {
	background-position: center center;
	background-size: cover;
	min-height: 20rem;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(145deg, var(--secondary) 0, var(--primary) 100%);
	color: white;
	margin-bottom: 2rem;
}

div.doc-header h1 {
	color: white;
	text-align: center;
	font-family: 'Itim', cursive;
	font-size: 4rem;
	max-width: 80rem;
	margin: auto;
}

@media (max-width: 767px) {

	div.doc-header h1 {
		font-size: 3rem;
	}

}

div.doc-header h4 {
	color: white;
	text-align: center;
	max-width: 40rem;
	margin: 1rem auto 0 auto;
	padding: 1rem;
}


div.doc-content {
	grid-area: content;
}

div.doc-content h2 {
	font-family: 'Itim', cursive;
	font-size: 2.2rem;
	color: var(--secondary);
	margin-bottom: 2rem;
}

div.doc-content pre {
	margin: 0;
	display: inline-block;
}

div.doc-content img {
	display: block;
	max-width: 100%;
	border: 2px solid var(--border);
	border-radius: var(--radius);
	margin-top: 1rem;
	margin-bottom: 1rem !important;
}

div.doc-content .doc-icon {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	display: inline-flex;
	margin: 0 0.25rem;
	align-items: center;
	justify-content: center;
	line-height: 1;
	color: white;
	background-color: var(--primary);
	border-radius: 50%;
}

div.doc-example {
	display: inline-block;
	background-color: var(--background-light);
	font-size: 0.9rem;
	padding: 0.125rem 0.5rem;
	border-radius: var(--radius);
}

.doc-annotation {
	color: var(--muted) !important;
	font-style: italic;
}
ul.doc-list-icons {
	list-style-type: none;
	padding-left: 0.75rem;
}
