@media (min-width: 1400px) {

	html:has(> body[data-template~="doc"]) {
		font-size: 16px;
	}

}

div.doc-wrapper {
	display: grid;
}

@media (min-width: 768px) {

	div.doc-wrapper {
		grid-template:
			"menu header" auto
			"menu content" auto / minmax(20rem, 20vw) 1fr;
	}

	#doc-menu {
		grid-area: menu;
		background-color: var(--background);
		box-shadow: 0 0 1rem #0003;
	}

	#doc-menu-open {
		display: none;
	}

}

@media (max-width: 767px) {

	div.doc-wrapper {
		grid-template:
			"header" auto
			"content" auto / 1fr;
	}

	#doc-menu {
		position: absolute;
		top: 10rem;
		left: 2rem;
		right: 2rem;
		border-radius: var(--radius);
		border: 2px solid var(--primary);
		box-shadow: 0 0 2rem #0009;
		background-color: white;
		font-size: 1.2rem;
	}

	#doc-menu:not(.selected) {
		display: none;
	}

	#doc-menu-open {
		position: absolute;
		top: calc(var(--nav-main) + 1rem);
		left: 1rem;
		font-size: 1.75rem;
		padding: 1rem;
		line-height: 1;
		color: white;
		border-radius: var(--radius);
		background-color: var(--primary);
		text-decoration: none;
	}

}

div.doc-menu-title {
	font-weight: bold;
	padding: 1rem;
}

#doc-menu a {
	display: block;
	padding: 0.5rem 1rem;
}

#doc-menu a.selected {
	background-color: var(--secondary);
	color: white;
}

div.doc-header {
	background-position: center center;
	background-size: cover;
	min-height: 20rem;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(145deg, var(--secondary) 0, var(--primary) 100%);
	color: white;
	margin-bottom: 2rem;
}

@media (max-width: 767px) {

	div.doc-header {
		padding: 7rem 0 2rem;
	}

}

div.doc-header h1 {
	color: white;
	text-align: center;
	font-family: 'Itim', cursive;
	font-size: 4rem;
	max-width: 80rem;
	margin: auto;
}

@media (max-width: 767px) {

	div.doc-header h1 {
		font-size: 3rem;
	}

}

div.doc-header h4 {
	color: white;
	text-align: center;
	max-width: 40rem;
	margin: 1rem auto 0 auto;
	padding: 1rem;
}


div.doc-content {
	grid-area: content;
	padding: 0 1.5rem;
	max-width: 1600px;
	margin: auto;
}

div.doc-content h2 {
	font-family: 'Itim', cursive;
	font-size: 2.2rem;
	color: var(--secondary);
	margin-bottom: 2rem;
}

div.doc-content pre {
	margin: 0;
	display: inline-block;
}

div.doc-content img {
	display: block;
	max-width: 100%;
	border: 2px solid var(--border);
	border-radius: var(--radius);
	margin-top: 1rem;
	margin-bottom: 1rem !important;
}

div.doc-content .doc-icon {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	display: inline-flex;
	margin: 0 0.25rem;
	align-items: center;
	justify-content: center;
	line-height: 1;
	color: white;
	background-color: var(--primary);
	border-radius: 50%;
}

div.doc-condition {
	font-size: 0.9rem;
	color: var(--muted);
	margin-top: 0.125rem;
}

div.doc-example {
	display: inline-block;
	background-color: var(--background-light);
	font-size: 0.9rem;
	padding: 0.125rem 0.5rem;
	border-radius: var(--radius);
}

.doc-annotation {
	color: var(--muted) !important;
	font-style: italic;
}
ul.doc-list-icons {
	list-style-type: none;
	padding-left: 0.75rem;
}

label:has(.doc-hidden-checkbox) {
	display: block;
}
label:has(.doc-hidden-checkbox:checked) [doc-hidden-checkbox] {
	border-color: red;
	display: inherit;
}
label:has(.doc-hidden-checkbox:not(:checked)) [doc-hidden-checkbox] {
	border-color: green;
	display: none;
}
