@media (min-width: 1400px) {

	html:has(> body[data-template~="doc"]) {
		font-size: 16px;
	}

}

div.doc-wrapper {
	display: grid;
	background-color: white;
}

@media (min-width: 768px) {

	div.doc-wrapper {
		grid-template-columns: minmax(20rem, 20vw) 1fr;
	}

	#doc-menu {
		background-color: var(--secondary);
		box-shadow: 0 0 1rem #0003;
	}

	#doc-menu-open {
		display: none;
	}

}

@media (max-width: 767px) {

	#doc-menu {
		position: absolute;
		background-color: var(--secondary);
		top: 10rem;
		left: 1rem;
		width: calc(var(--screen-width) - 2rem);
		max-width: 30rem;
		border-radius: var(--radius);
		box-shadow: 0 0 2rem #0009;
		font-size: 1.2rem;
	}

	#doc-menu:not(.selected) {
		display: none;
	}

	#doc-menu-open {
		position: absolute;
		top: calc(var(--nav-main) + 1rem);
		left: 1rem;
		font-size: 1.75rem;
		padding: 1rem;
		line-height: 1;
		color: white;
		border-radius: var(--radius);
		background-color: var(--primary);
		text-decoration: none;
	}

}

div.doc-menu-title {
	font-weight: bold;
	padding: 1rem;
	text-transform: uppercase;
	color: white;
}

div.doc-menu-title:not(:first-child) {
	border-top: 1px dashed #fff8;
	margin-top: 0.5rem;
}

#doc-menu a {
	display: block;
	padding: 0.375rem 1rem;
	color: white;
}

#doc-menu a.selected {
	background-color: #0002;
	color: white;
}

div.doc-header {
	background-position: center center;
	background-size: cover;
	padding: 4rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--secondary);
}

@media (max-width: 767px) {

	div.doc-header {
		padding-top: 7rem;
	}

}

div.doc-header h1 {
	text-align: center;
	font-family: 'Itim', cursive;
	font-size: 3rem;
	line-height: 1;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 0.25rem solid var(--text);
	padding-bottom: 1rem;
}

@media (max-width: 767px) {

	div.doc-header h1 {
		font-size: 2.5rem;
	}

}

div.doc-header h4 {
	text-align: center;
	max-width: 50rem;
	margin: 1rem auto 0 auto;
	color: var(--text);
}


div.doc-content {
	padding: 2rem;
	max-width: 1200px;
	margin: auto;
}

@media (max-width: 767px) {

	div.doc-content {
		padding: 1rem;
	}

}

div.doc-content h2 {
	font-size: 2.2rem;
	color: var(--text);
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px dashed var(--border);
}

@media (max-width: 767px) {

	div.doc-content h2 {
		font-size: 2rem;
	}

}

div.doc-content h3 {
	font-family: 'Itim', cursive;
	font-size: 1.5rem;
	margin-top: 2rem;
	font-weight: normal;
}

div.doc-content h4,
div.doc-content h5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.doc-content pre {
	margin: 0;
	display: inline-block;
}

div.doc-content img {
	display: block;
	max-width: 100%;
	border: 2px solid var(--border);
	border-radius: var(--radius);
	margin-top: 1rem;
	margin-bottom: 1rem !important;
}

div.doc-content .doc-icon {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.25rem;
	display: inline-flex;
	margin: 0 0.25rem;
	align-items: center;
	justify-content: center;
	line-height: 1;
	color: white;
	background-color: var(--primary);
	border-radius: 50%;
}

div.doc-condition {
	font-size: 0.9rem;
	color: var(--muted);
	margin-top: 0.125rem;
}

div.doc-example {
	display: inline-block;
	background-color: var(--background-light);
	font-size: 0.9rem;
	padding: 0.125rem 0.5rem;
	border-radius: var(--radius);
}

.doc-annotation {
	color: var(--muted) !important;
	font-style: italic;
}
ul.doc-list-icons {
	list-style-type: none;
	padding-left: 0.75rem;
}

label:has(.doc-hidden-checkbox) {
	display: block;
}
label:has(.doc-hidden-checkbox:checked) [doc-hidden-checkbox] {
	border-color: red;
	display: inherit;
}
label:has(.doc-hidden-checkbox:not(:checked)) [doc-hidden-checkbox] {
	border-color: green;
	display: none;
}

.doc-intro {
	background: linear-gradient(145deg, var(--secondary-highlight) 0, white 100%);
	padding: calc(var(--container-sm-padding) * 2);
	border-radius: var(--radius);
	margin-bottom: 1rem;
}

.doc-intro > *:first-child {
	margin-top: 0;
}
.doc-intro > *:last-child {
	margin-bottom: 0;
}

.doc-title-before {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}