body[data-template^="home"] header {
	background-position: center center;
	background-size: cover;
	padding: 2rem 0 5rem 0;
	color: white;
}

body[data-template^="home"] nav,
body[data-template^="home"] header {
	background: linear-gradient(to right, var(--commercialisation) 0, var(--production) 50%, var(--accounting) 100%);
}

body[data-template^="home"] main {
	padding-top: 2rem;
}

body[data-template="home-main"] header {
	padding: 3rem 0 10rem 0;
}

body[data-template="home-invoicing"] .container {
	max-width: 1000px;
}

body[data-template="home-legal"] header {
	background-color: var(--secondary);
	color: white;
	position: relative;
}

body[data-template^="home"] main {
	background-color: var(--background-light);
}

body[data-template^="home"] footer {
	background-color: var(--background-light);
}

body[data-template^="home"] header h1 {
	text-align: center;
	font-size: 4rem;
	max-width: 80rem;
	font-weight: normal;
	margin: auto;
	font-family: 'Chelsea Market', serif;
}

@media (max-width: 767px) {

	body[data-template^="home"] header h1 {
		font-size: 2.5rem;
	}

}

body[data-template^="home-"] header h2,
body[data-template^="home-"] header h3,
body[data-template^="home-"] header h4 {
	margin-top: 1.5rem;
	text-align: center;
}

.home-domain {
	color: white;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.2;
	font-weight: lighter;
}

.home-presentation {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	margin: 1rem 0 2rem;
}

@media (max-width: 767px) {

	.home-presentation {
		grid-template-columns: 1fr;
	}


}

.home-presentation-item {
	padding: 1.5rem;
	border-radius: var(--radius);
	margin-bottom: 1rem;
	background-color: white;
}

.home-presentation h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.home-presentation h2 svg {
	margin-bottom: 1rem;
}

.home-presentation ul {
	font-size: 1.2rem;
}

.home-presentation ul:last-child {
	margin-bottom: 0;
}

.home-presentation li:not(:last-child) {
	margin-bottom: 0.5rem;
}

.home-presentation small {
	font-size: 1rem;
	color: var(--secondary);
}

.home-story-wrapper {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: 1rem;
	margin-bottom: 2rem;
}

.home-story {
	padding: 1rem;
	background-color: var(--background);
	border-radius: var(--radius);
}

.home-story-wrapper img {
	width: auto;
	height: 12rem;
}

@media (max-width: 767px) {

	.home-story-wrapper {
		grid-template-columns: 1fr;
	}

	.home-story-wrapper img {
		width: 100%;
		height: auto;
	}

}

.home-points {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 2rem;
}

@media (max-width: 767px) {

	.home-points {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}


}

.home-point {
	background-color: white;
	border-radius: var(--radius);
	padding: 1rem;
	text-align: center;
	color: var(--primary);
	border: 2px solid var(--primary);
}

.home-point svg {
	font-size: 3rem;
	margin: 1rem 0;
}

.home-point h4 {
	margin-bottom: 0rem;
}

.home-point-fill {
	grid-column: span 4;
}

@media (max-width: 767px) {

	.home-point-fill {
		grid-column: span 2;
	}


}

.home-why {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 2rem;
}

@media (max-width: 767px) {

	.home-why {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr;
	}


}

.home-why-item {
	background-color: var(--secondary);
	border-radius: var(--radius);
	padding: 1rem;
	text-align: center;
	color: white;
}

.home-why-item svg {
	font-size: 3rem;
	margin: 1rem 0;
}

.home-why-item h4 {
	margin-bottom: 0rem;
}

div.home-user-types {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
}

a.home-user-type {
	width: 20rem;
	height: 20rem;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 3rem;
	border: 1rem solid var(--muted);
}

a.home-user-type:hover,
a.home-user-type-selected {
	border-color: var(--shop);
	opacity: 1;
}

a.home-user-type-other {
	opacity: 0.33;
}

a.home-user-type h2 {
	font-size: 6rem;
	margin-bottom: 1.5rem;
}

a.home-user-type h4 {
	color: var(--text);
	font-size: 1.4rem;
	text-align: center;
}

div.home-user-already {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2rem;
	padding: 1rem 0.5rem;
	border-radius: var(--radius);
	background-color: var(--background);
	color: var(--text);
}

div.home-category {
	margin-left: 1rem;
	border-left: 0.5em solid var(--border);
	padding-left: 1rem;
}

div.home-features {
	display: grid;
	grid-gap: 1.5rem;
	margin-bottom: 3rem;
	border-radius: var(--radius);
}

div.home-overlay {
	margin-top: -8rem;
}

.home-feature-title {
	font-size: 1.5rem;
	text-align: center;
}

.home-feature-subtitle {
	font-weight: bold;
	font-size: 1.75rem;
	text-align: center;
	font-family: 'PT Serif', serif;
	line-height: 1.4;
	align-self: center;
}

div.home-feature {
	box-shadow: 1px 1px 1px #0001;
	border-radius: var(--radius);
	background-color: white;
	padding: 1.25rem;
	position: relative;
	margin-bottom: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 1rem;
}

div.home-feature.home-feature-other {
	grid-template-rows: 1fr auto;
	text-align: center;
}

div.home-feature h2 {
	font-size: 2.25rem;
}

div.home-feature ul {
	padding-left: 1.5rem;
}

div.home-feature-icon {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	opacity: 0.15;
	pointer-events: none;
}

div.home-feature-for {
	display: block;
	text-decoration: none;
	font-size: .9rem;
	font-weight: bold;
	text-transform: uppercase;
}

.home-feature-description {
	color: var(--muted);
	font-size: 1rem;
	margin-bottom: 1rem;
}

body[data-template^="home-start"] div.home-feature {
	border-radius: var(--radius);
	border: 1px solid var(--background);
}


@media (min-width: 992px) {

	div.home-features.home-features-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}

	div.home-features.home-features-2 {
		grid-template-columns: 1fr 1fr;
	}

	div.home-features.home-features-3 .home-feature-fill {
		grid-column: span 3;
	}

	div.home-features.home-features-2 .home-feature-fill {
		grid-column: span 2;
	}

}

@media (min-width: 768px) and (max-width: 991px) {


	div.home-features {
		grid-template-columns: 1fr 1fr;
	}

	div.home-features .home-feature-fill {
		grid-column: span 2;
	}

}

@media (max-width: 767px) {

	body[data-template^="home-main"] div.home-feature:not(:last-child) {
		padding-bottom: 2rem;
	}

	div.home-feature ul {
		padding-left: 0;
	}

	div.home-feature ul li {
		list-style: none;
	}

}


div.home-profiles {
	display: grid;
	grid-gap: 1.5rem;
	margin-bottom: 2rem;
	grid-template-columns: 1fr 1fr 1fr;
}

div.home-profile {
	border: 1px solid var(--border);
	background-color: white;
	border-radius: var(--radius);
	padding: 1rem;
	font-family: 'PT Serif', serif;
}

@media (min-width: 576px) {

	div.home-profile-extended {
		grid-column: span 2;
	}

}

div.home-profile-header {
	display: grid;
	align-items: center;
	margin-bottom: 1rem;
}


div.home-profile-header:not(.home-profile-header-text) {
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
}

div.home-profile-header .home-profile-image {
	display: block;
	width: 6rem;
	height: 4.5rem;
	border-radius: var(--radius);
}

div.home-profile-header h4 {
	color: var(--muted);
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

div.home-profile-header h4 a {
	color: var(--muted);
}

div.home-profile-header h3 {
	font-size: 1.75rem;
	font-weight: normal;
	margin-bottom: 0;
}

div.home-profile p {
	line-height: 1.4;
}

div.home-profile p a {
	color: var(--text);
}

div.home-profile.home-profile-dark {
	color: white;
}

@media (min-width: 576px) and (max-width: 991px) {


	div.home-profiles {
		grid-template-columns: 1fr 1fr;
	}

}

@media (max-width: 575px) {


	div.home-profiles {
		grid-template-columns: 1fr;
	}

}

div.home-highlight {
	padding: 1.5rem 2rem;
	background: var(--gradient);
	border: 2px solid var(--radius);
	box-shadow: 0 0 2rem white;
	border-radius: 2rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}

.home-emphasis {
	margin: 2rem auto 0;
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	max-width: 75rem;
}