body[data-template^="home"] header {
	background-position: center center;
	background-size: cover;
	min-height: 20rem;
	padding: 5rem 0 8rem 0;
	color: white;
}

body[data-template="home-main"] header {
	background-image: url(/asset/ouvretaferme/main/image/banner.jpg);
}


body[data-template="home-farmer"] header {
   background-image: url(/asset/ouvretaferme/main/image/banner-farmer.jpg);
}

body[data-template="home-legal"] header {
	background-color: var(--secondary);
	color: white;
	position: relative;
}

body[data-template^="home"] main {
	font-size: 1.1rem;
	background-color: var(--background-light);
}

body[data-template^="home"] footer {
	background-color: var(--background-light);
}

body[data-template^="home"] header h1 {
	text-align: center;
	font-size: 3.5rem;
	max-width: 80rem;
	font-weight: normal;
	margin: auto;
	font-family: 'PT Serif', serif;
}

@media (max-width: 767px) {

   body[data-template^="home"] header h1 {
      font-size: 3rem;
   }

}

body[data-template="home-main"] h2 {
	text-align: center;
	font-size: 2.25rem;
	margin-bottom: 1.5rem;
}

.home-blog {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-column-gap: 2rem;
	align-items: center;
}

.home-blog:not(:last-child) {
	margin-bottom: 2rem;
}

.home-blog img {
	width: 10rem;
	height: 10rem;
}

@media (max-width: 575px) {

	.home-blog img {
		width: 5rem;
		height: 5rem;
	}

}

.home-blog div.util-block {
	margin-bottom: 0;
}

.home-domain {
	color: white;
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.2;
	margin-top: 1.5rem;
	font-weight: lighter;
}

.home-presentation {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2rem;
   margin: 1rem 0 2rem;
}

@media (max-width: 767px) {

   .home-presentation {
      grid-template-columns: 1fr;
   }


}

.home-presentation-description {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    border-radius: var(--radius);
    line-height: 1.4;
    background-color: white;
	border: 1px solid var(--border);
}

.home-presentation h2 {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.home-presentation h2 svg {
	margin-bottom: 1rem;
}

.home-presentation ul {
	font-size: 1.2rem;
}

.home-presentation ul:last-child {
	margin-bottom: 0;
}

.home-presentation li:not(:last-child) {
	margin-bottom: 0.5rem;
}

.home-presentation small {
	font-size: 1rem;
	color: var(--secondary);
}

.home-story {
	padding: 1rem;
	background-color: var(--background);
	margin-bottom: 2rem;
	border-radius: var(--radius);
}

.home-points {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 1rem;
}

@media (max-width: 767px) {

   .home-points {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
   }


}

.home-point {
	background-color: white;
	border-radius: var(--radius);
	padding: 1rem;
	text-align: center;
	color: var(--shop);
	margin-bottom: 0;
	box-shadow: 0 0 1rem #eee;
	font-family: 'PT Serif', serif;
}

.home-point svg {
   font-size: 3rem;
   margin: 1rem 0;
}

.home-point h4 {
   margin-bottom: 0rem;
}

div.home-user-types {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 2rem;
	margin-top: 2rem;
}

a.home-user-type {
	width: 20rem;
	height: 20rem;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem;
	border: 1rem solid var(--muted);
}

a.home-user-type:hover,
a.home-user-type-selected {
	border-color: var(--shop);
	opacity: 1;
}

a.home-user-type-other {
	opacity: 0.33;
}

a.home-user-type h2 {
	font-size: 7rem;
	margin-bottom: 1.5rem;
}

a.home-user-type h4 {
	color: var(--text);
	font-size: 1.5rem;
	text-align: center;
}

div.home-user-already {
	text-align: center;
	font-weight: bold;
	margin-bottom: 2rem;
	padding: 1rem 0.5rem;
	border-radius: var(--radius);
	background-color: var(--background);
	color: var(--text);
}

div.home-category {
	margin-left: 1rem;
	border-left: 0.5em solid var(--border);
	padding-left: 1rem;
}

div.home-features {
	display: grid;
	grid-row-gap: 1rem;
	margin-bottom: 3rem;
	background: linear-gradient(to bottom, var(--background-light) 0, white 100%);
	padding: 1rem;
	border-radius: var(--radius);
	border: 1px solid var(--border);
	margin-top: -5rem;
	box-shadow: 0 0 1rem #0001;
}

.home-feature-title {
	text-align: center;
	margin: 1.5rem 0;
}

div.home-feature {
	padding: 0.75rem;
	margin-bottom: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

div.home-feature h2 {
	font-size: 1.75rem;
}

div.home-feature h2 div.home-feature-icon {
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

div.home-feature-for {
	display: block;
	border-radius: 2rem;
	text-decoration: none;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1.25rem;
}

div.home-feature-buttons {
	text-align: center;
}


@media (min-width: 992px) {

	div.home-features {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.home-feature-title {
		grid-column: span 3;
	}

	div.home-feature:not(:nth-child(3n + 1)) {
		border-right: 1px solid var(--border);
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	div.home-features {
		grid-template-columns: 1fr 1fr;
	}

	.home-feature-title {
		grid-column: span 2;
	}

	div.home-feature:nth-child(2) {
		border-right: 1px solid var(--border);
	}

	.home-feature.home-feature-other {
		grid-column: span 2;
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr auto;
		grid-column-gap: 1rem;
		border-top: 1px solid var(--border);
		padding-top: 1.5rem;
	}

	.home-feature.home-feature-other ul {
		margin-bottom: 0;
		grid-row: span 2;
	}

	.home-feature.home-feature-other h2 {
		margin: 0 2rem;
		grid-row: span 2;
	}

}

@media (max-width: 767px) {

	div.home-feature:not(:last-child) {
		border-bottom: 1px solid var(--border);
		padding-bottom: 2rem;
	}

	div.home-feature ul {
		padding-left: 0;
	}

	div.home-feature ul li {
		list-style: none;
		text-align: center;
	}

}


div.home-profiles {
	display: grid;
	grid-gap: 1rem;
	margin-bottom: 2rem;
	grid-template-columns: 1fr 1fr 1fr;
}

div.home-profile {
	background-color: var(--background-body);
	border-radius: var(--radius);
	padding: 1rem;
	font-family: 'PT Serif', serif;
}

@media (min-width: 576px) {

	div.home-profile-extended {
		grid-column: span 2;
	}

}

div.home-profile-header {
	display: grid;
	align-items: center;
	margin-bottom: 1rem;
}


div.home-profile-header:not(.home-profile-header-text) {
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
}

div.home-profile-header .home-profile-image {
	display: block;
	width: 6rem;
	height: 4.5rem;
	border-radius: var(--radius);
}

div.home-profile-header h4 {
	color: var(--muted);
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

div.home-profile-header h3 {
	font-size: 1.75rem;
	font-weight: normal;
	margin-bottom: 0;
}

div.home-profile p {
	line-height: 1.4;
}

div.home-profile.home-profile-dark {
	color: white;
}

@media (min-width: 576px) and (max-width: 991px) {


	div.home-profiles {
		grid-template-columns: 1fr 1fr;
	}

}

@media (max-width: 575px) {


	div.home-profiles {
		grid-template-columns: 1fr;
	}

}