.contact-item-stat {
	text-align: center;
}

.contact-item-stat span {
	font-weight: bold;
}

.contact-item-stat-percent {
	color: var(--muted);
	font-size: .8rem;
}

.contact-item-customers {
	font-size: 0.9rem;
}

.contact-item-email {
	letter-spacing: -0.2px;
}

@media (max-width: 1199px) {

	.contact-item-email {
		max-width: 16rem;
		word-wrap: break-word;
	}

}

@media (min-width: 1200px) and (max-width: 1599px) {

	.contact-item-email {
		max-width: 20rem;
		word-wrap: break-word;
	}

}