.contact-item-stat {
	text-align: center;
}

.contact-item-stat span {
	font-weight: bold;
}

.contact-item-stat-percent {
	color: var(--muted);
	font-size: .8rem;
}

.contact-item-customers {
	font-size: 0.9rem;
}

@media (max-width: 767px) {

	.contact-item-email {
		max-width: 16rem;
		word-wrap: break-word;
	}

}