/* Customers */
td.customer-item-actions {
	text-align: right;
}

td.customer-item-year-before {
	font-size: 0.8rem;
}

.customer-item-grid {
	text-align: center;
}

td.customer-item-grid {
	white-space: nowrap;
}

@media (max-width: 991px) {

	.customer-item-grid {
		display: none;
	}

}


@media (max-width: 575px) {

	th.customer-item-contact,
	td.customer-item-contact {
		display: none;
	}

}

tr.customer-item-details {
	max-width: 20rem;
}

.customer-item-info {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: auto auto;
	align-items: start;
}

@media (max-width: 767px) {

	.customer-item-info {
		grid-template-columns: 1fr;
	}

}

.customer-item-label {
	display: flex;
	justify-content: end;
	gap: 0.25rem 0.5rem;
	flex-wrap: wrap;
}

@media (max-width: 767px) {

	.customer-item-label {
		justify-content: start;
	}

}

.customer-panel-header {
	margin-top: .5rem;
	font-size: 1.1rem;
}

/* Prices */
.customer-price td {
	line-height: 1.4;
}
@media (min-width: 992px) {

	.customer-price thead br {
		display: none;
	}

}

.customer-price input {
	min-width: 5rem;
}

@media (max-width: 991px) {

	.customer-price-product {
		max-width: 10rem;
	}

}

.customer-color-circle {
	display: inline-block;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
}

.customer-form-itself-private {
	display: none;
}

form.customer-form-private .customer-form-itself-private {
	display: block;
}

form.customer-form-unknown .customer-form-type {
	display: none;
}

.customer-form-type {
	margin-top: 2rem;
}

form.customer-form-pro .customer-form-category:not(.customer-form-pro),
form.customer-form-private .customer-form-category:not(.customer-form-private),
form.customer-form-collective .customer-form-category:not(.customer-form-collective) {
	display: none;
}