td.invoice-item-date {
	border-bottom: 1px solid var(--border);
}

.invoice-item-comment {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

@media (min-width: 768px) {

	td.invoice-item-customer {
		min-width: 10rem;
	}

}

td.invoice-item-amount {
	white-space: nowrap;
}

.invoice-item-generation {
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.3;
}

.invoice-item-email {
	margin-top: 0.125rem;
}

.invoice-item-due {
	white-space: nowrap;
	letter-spacing: -0.3px;
}

.invoice-status-draft {
	color: var(--draft);
}

.invoice-status-draft-button {
	color: white !important;
	background-color: var(--draft);
}

.invoice-status-confirmed {
	color: var(--confirmed);
}

.invoice-status-confirmed-button {
	background-color: var(--confirmed);
	color: white !important;
}

.invoice-status-generated {
	color: var(--prepared);
}

.invoice-status-generated-button {
	background-color: var(--prepared);
	color: white !important;
}

.invoice-status-delivered {
	color: var(--delivered);
}

.invoice-status-delivered-button {
	background-color: var(--delivered);
	color: white !important;
}

.invoice-status-closed {
	color: var(--primary);
}

.invoice-status-closed-button {
	background-color: var(--primary);
	color: white !important;
}

.invoice-status-canceled {
	color: var(--muted);
}

.invoice-status-canceled-button {
	background-color: var(--muted);
	color: white !important;
}

.invoice-status-batch {
	text-decoration: none;
	margin-bottom: 0.25rem;
}

#panel-invoice-create:not(:has(input[name="sales[]"]:checked)) #invoice-sales-required {
	display: none;
}

#panel-invoice-create-collection:not(:has(input[name="sales[]"]:checked)) #invoice-sales-required {
	display: none;
}

.btn.invoice-button {
	line-height: 1.2;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: left;
}
