.pdf-document-watermark {
	position: absolute;
	top: 40%;
	left: 25%;
	transform: rotate(-45deg);
	font-size: 10rem;
	z-index: 10;
	color: var(--primary);
	opacity: 0.4;
}
.pdf-document-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.pdf-document-header {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: 6cm 1fr;
	height: 8cm;
	overflow: hidden;
	margin-bottom: 0.75cm;
}

.pdf-document-vendor {
	background-color: var(--background-light);
	border-radius: var(--radius);
	padding: 0.5cm;
	display: grid;
	grid-row-gap: 0.5rem;
	height: 100%;
	text-align: center;
}

.pdf-document-vendor:not(.pdf-document-vendor-with-logo) {
	align-content: center;
}

.pdf-document-vendor.pdf-document-vendor-with-logo {
	grid-template-rows: 1fr auto;
}

.pdf-document-vendor-logo {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 3cm;
	align-self: center;
}

.pdf-document-vendor-name {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 1.3rem;
}

.pdf-document-vendor-with-logo .pdf-document-vendor-name {
	padding-top: 0.5rem;
	font-size: 1rem;
}

.pdf-document-vendor-address {
	text-align: center;
}

.pdf-document-top {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.pdf-document-structure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2.pdf-document-title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.2cm;
	font-size: 0.8cm;
}

.pdf-document-callback {
	margin-bottom: 1.5rem;
	text-align: center;
}

.pdf-document-details {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: .25rem;
}

.pdf-document-detail-label {
	text-align: right;
}

.pdf-document-customer {
	border: 1px solid var(--border);
	border-radius: var(--radius);
	padding: 0.5cm;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 0.25rem;
}

.pdf-document-customer-name {
	font-weight: bold;
}

.pdf-document-customer-email {
	text-decoration: underline;
}

table.pdf-document-items {
	margin-bottom: 0;
}

.pdf-document-item {
	break-inside: avoid;
}

.pdf-document-item.pdf-document-item-detail td {
	padding-top: 0.05cm;
	padding-bottom: 0.05cm;
	color: var(--muted);
	font-size: 0.9em;
	background-color: #fafafa;
}

.pdf-document-item.pdf-document-item-detail td .font-sm {
	font-size: 0.8rem;
}

.pdf-document-item.pdf-document-item-detail td:first-child {
	padding-left: 1cm;
	min-width: 9cm;
}

.pdf-document-item.pdf-document-item-subtotal td {
	padding-top: 0.15cm;
	padding-bottom: 0.15cm;
	color: var(--text);
	font-size: 0.9em;
	background-color: #fafafa;
}

.pdf-document-item.pdf-document-item-subtotal td:first-child {
	padding-left: 1cm;
}

.pdf-document-product-header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	gap: 2rem;
}

.pdf-document-product-references {
	color: var(--muted);
}

.pdf-document-product {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.pdf-document-product-details {
	font-size: 0.8rem;
	color: var(--muted);
	margin-top: 0.1cm;
}

.pdf-document-number,
.pdf-document-packaging,
.pdf-document-unit-price,
.pdf-document-vat,
.pdf-document-price {
	text-align: right;
	white-space: nowrap;
}

.pdf-document-price {
	width: 3cm;
}

table.pdf-document-items tbody tr.pdf-document-item {
	border-bottom: 1px dashed var(--background);
}

table.pdf-document-items tbody tr.pdf-document-item-total {
	border-top: 1px solid var(--border);
}

table.pdf-document-items tbody tr.pdf-document-item-total td {
	padding-top: 0.5cm;
	vertical-align: top;
}

table.pdf-document-items tbody td.pdf-document-item-quality {
	vertical-align: bottom;
	max-width: 7cm;
}

td.pdf-document-item-vat-rates {
	vertical-align: bottom;
}

div.pdf-document-vat-rates {
	border-radius: var(--radius);
	border: 1px solid var(--border);
	display: grid;
	grid-template-columns: 1fr auto auto;
	margin: 0 0 0 auto;
	padding: 0.5rem;
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.125rem;
	font-size: 0.8rem;
	width: 5cm;
}

div.pdf-document-vat-rates > * {
	padding: 0.25rem;
}

div.pdf-document-vat-rates > *:nth-child(3n + 2),
div.pdf-document-vat-rates > *:nth-child(3n + 3) {
	text-align: right;
}

.pdf-document-item-header {
	font-weight: bold;
	border-bottom: 1px solid var(--border);
	align-self: stretch;
	vertical-align: top;
}

.pdf-document-item-header.pdf-document-number,
.pdf-document-item-header.pdf-document-packaging,
.pdf-document-item-header.pdf-document-unit-price,
.pdf-document-item-header.pdf-document-price {
	text-align: right;
}

.pdf-document-total {
	break-inside: avoid;
	display: grid;
	align-items: center;
	justify-content: end;
	grid-template-columns: 2.5cm 2cm;
	grid-row-gap: 1rem;
}

.pdf-document-total-label {
	font-weight: bold;
}

.pdf-document-total-value {
	text-align: right;
}

.pdf-document-delivery {
	margin-bottom: 0.75cm;
	text-align: center;
	text-decoration: underline;
}

.pdf-document-nature {
	margin-bottom: 1rem;
}

.pdf-document-quality {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}


.pdf-document-custom-bottom,
.pdf-document-mentions,
.pdf-document-payment {
	margin-top: .5cm;
	padding-top: .5cm;
	border-top: 1px solid var(--border);
	break-inside: avoid;
}

.pdf-document-mentions {
	font-style: italic;
}

.pdf-document-payment h4 {
	font-weight: bold;
	font-size: 1.1rem;
}


.pdf-document-custom-bottom p,
.pdf-document-payment p {
	margin-bottom: 0.25rem;
}

.pdf-document-custom-top {
	padding: .5cm;
	border: 1px solid var(--border);
	border-radius: var(--radius);
	break-inside: avoid;
	margin-bottom: .5cm;
}

.pdf-document-custom-top p {
	margin-bottom: 0.25rem;
}

.pdf-label-wrapper {
	display: grid;
	width: 19.5cm;
	height: 28.2cm;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, auto);
	grid-gap: 0.75cm;
	page-break-after: always;
}

.pdf-label-item {
	position: relative;
	border: 2px solid var(--text);
	background-color: white;
	line-height: 1.2;
	display: grid;
	grid-template-columns: 12fr 20fr;
}

.pdf-label-item:nth-child(even) {
	margin-right: 0.25cm;
}

.pdf-label-color {
	border-right-width: 3px;
	padding-right: 0.5rem;
}

.pdf-label-customer {
	position: absolute;
	right: -1.45rem;
	width: 1cm;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}

.pdf-label-customer > span {
	transform: rotate(-90deg);
	transform-origin: center center;
	white-space: nowrap;
	background-color: white;
	padding: 0.25rem 0.5rem;
}


.pdf-label-vendor {
	border-right: 2px solid var(--text);
	display: grid;
	grid-auto-flow: row;
	align-items: center;
	justify-items: center;
	padding: 0.2cm;
}

.pdf-label-farm {
	text-align: center;
	font-size: 0.7rem;
	font-weight: bold;
	align-self: start;
}

.pdf-label-logo {
	width: 100%;
	height: 1.5cm;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.pdf-label-address {
	font-size: 0.6rem;
	text-align: center;
	line-height: 1;
}

.pdf-label-quality {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 0.15cm;
	font-size: 0.7rem;
	align-items: center;
	font-weight: bold;
}

.pdf-label-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-items: stretch;
	width: 100%;
	font-size: 0.8rem;
	letter-spacing: -0.3px;
	padding: 0;
	margin: 0;
}

.pdf-label-content > div {
	background-color: white;
	padding: 0.2cm;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pdf-label-content > div > h4 {
	font-size: 0.9rem;
	margin-bottom: 0.15cm;
}

.pdf-label-content > div > .pdf-label-value {
	font-weight: bold;
	font-size: 1rem;
}

.pdf-label-content > div:not(:last-child) {
	border-bottom: 2px solid var(--text);
}

@media print {
	@page {
		size: landscape
	}
}

.pdf-sales-summary-wrapper {
	page-break-after: always;
}

.pdf-sales-summary-wrapper h1,
.pdf-sales-summary-wrapper h2 {
	text-align: center;
}

table.pdf-sales-summary {
	margin-top: 0.5cm;
}

.pdf-sales-summary td {
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
}

.pdf-sales-summary-comment {
	width: 50%;
}

.pdf-sales-summary-quantity {
	font-size: 1.3rem;
	font-weight: lighter;
}

.pdf-sales-summary-distribution {
	display: flex;
	flex-wrap: wrap;
	gap: 0.2cm;
}

.pdf-sales-summary-distribution span {
	border: 1px solid var(--border);
	padding: 0.05cm 0.2cm;
	border-radius: var(--radius);
}

.pdf-sales-summary-composition {
	margin-bottom: 0.5rem;
}

.pdf-sales-summary-composition table {
	width: auto;
	min-width: 7cm;
}

.pdf-sales-label-comment {
	font-style: italic;
	font-size: 1rem;
}

.pdf-sales-label-page {
	display: inline-block;
	text-align: center;
	padding: 0.1cm;
	border-radius: var(--radius);
	background-color: black;
	color: white;
	line-height: 1;
}

.pdf-sales-label-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pdf-sales-label-details-next .pdf-sales-label-detail:not(:first-child) {
	opacity: 0;
}

.pdf-sales-label-detail-title {
	color: var(--muted);
	text-align: center;
	margin-bottom: 0.25rem;
	font-size: 0.8rem;
}

.pdf-sales-label-products {
	text-transform: uppercase;
	font-size: 0.8rem;
	text-align: center;
	margin-bottom: -0.5rem;
	z-index: 1;
	position: relative;
}

.pdf-sales-label-products span {
	background-color: white;
	padding: 0 0.25rem;
	border-radius: 0.1cm;
}


.pdf-sales-label-count {
	text-align: center;
	font-weight: bold;
	padding-top: 0.25rem;
	font-size: 1.75rem;
	line-height: 1;
	width: 6rem;
	height: 3rem;
	border-radius: 0.1cm;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-light);
	margin: auto;
}

.pdf-sales-label-content-item {
	display: grid;
	grid-template-columns: min-content 1fr;
	overflow: hidden;
}

.pdf-sales-label-content-border {
	border-bottom: 1px dotted var(--border);
	transform: translate(0, -3px);
}

.pdf-sales-label-content-farm {
	grid-column: span 4;
	font-weight: bold;
	margin-bottom: 0.15cm;
	text-transform: uppercase;
}

.pdf-sales-label-content-value {
	display: inline-block;
	background-color: white;
	padding-right: 0.15cm;
	white-space: nowrap;
}

.pdf-sales-label-content-size {
	color: var(--muted);
	margin-left: 0.25cm;
	font-size: 0.8rem;
}

.pdf-sales-label-content-shrink {
	letter-spacing: -0.2px;
}

.pdf-sales-label-content-shrink-strong {
	letter-spacing: -0.3px;
}

.pdf-sales-label-content-quantity {
	font-weight: bold;
	padding-left: 0.1cm;
}

.pdf-sales-label-content-price {
	text-align: right;
	color: var(--muted);
}


.pdf-sales-template-grid {

	.pdf-sales-label-wrapper {
		display: grid;
		height: 19.9cm;
		page-break-after: always;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-2x2 {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		font-size: 0.9rem;
		grid-gap: 0.5cm;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x2 {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		font-size: 0.8rem;
		grid-gap: 0.25cm;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		font-size: 0.8rem;
		grid-gap: 0.25cm;
	}

	.pdf-sales-label-item {
		position: relative;
		border: 1px solid var(--text);
		background-color: white;
		line-height: 1.2;
		display: grid;
		grid-template-columns: 8fr 20fr;
		grid-template-rows: min-content auto;
	}

	.pdf-sales-label-details {
		border-right: 1px solid var(--text);
		display: grid;
		grid-template-columns: 1fr;
		padding: 0.15cm;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-2x2 .pdf-sales-label-details {
		font-size: 0.8rem;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x2 .pdf-sales-label-details {
		font-size: 0.7rem;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-details {
		font-size: 0.7rem;
	}

	.pdf-sales-label-details-next {
		background-color: var(--background-light);
	}

	.pdf-sales-label-customer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-column: span 2;
		height: 1.5cm;
		font-size: 0.5cm;
		width: 100%;
		border-bottom: 1px solid var(--text);
		padding: 0 1rem;
	}

	.pdf-sales-label-customer-large {
		font-size: 1.1rem;
	}


	.pdf-sales-label-content {
		align-self: start;
		display: grid;
		grid-template-columns: min-content auto auto max-content;
		grid-template-rows: auto;
		grid-row-gap: 0.125cm;
		grid-column-gap: 0.25cm;
		align-items: stretch;
		width: 100%;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-2x2 .pdf-sales-label-content {
		padding: 0.25cm 0.25cm 0 0.25cm;
		grid-column-gap: 0.25cm;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-content,
	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x2 .pdf-sales-label-content {
		padding: 0.125cm 0.125cm 0 0.125cm;
		grid-column-gap: 0.125cm;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-content {
		grid-row-gap: 0.1cm;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-detail-date {
		display: none;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-customer {
		height: 1.2cm;
		font-size: 0.35cm;
	}

	.pdf-sales-label-detail-value {
		font-weight: bold;
		text-align: center;
		letter-spacing: -0.1px;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-detail-title {
		margin-bottom: 0.1rem;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-detail-value {
		font-size: 0.7rem;
	}

	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x2 .pdf-sales-label-address,
	.pdf-sales-label-wrapper.pdf-sales-label-grid-3x3 .pdf-sales-label-address {
		font-size: 0.6rem;
	}

}

.pdf-sales-template-line {

	table.pdf-sales-summary {
		font-size: 0.9rem;
	}

	.pdf-sales-label-item {
		display: grid;
		column-gap: 0.25cm;
		grid-template-columns: 4cm 1fr;
		page-break-inside: avoid;
		line-height: 1.2;
		border-bottom: 1px dashed var(--text);
		padding-bottom: 0.4cm;
	}

	.pdf-sales-label-item:not(:last-child) {
		margin-bottom: 0.4cm;
	}

	.pdf-sales-label-details {
		display: flex;
		align-items: start;
		gap: 0.3cm;
		margin-bottom: 0.2cm;
		padding-bottom: 0.2cm;
		font-size: 0.8rem;
		border-bottom: 1px dashed var(--border);
	}

	.pdf-sales-label-details-next {
		background-color: var(--background-light);
	}

	.pdf-sales-label-customer {
		background-color: var(--background-light);
		grid-row: span 2;
		font-size: 0.3cm;
		width: 100%;
		line-height: 1.2;
		align-items: center;
		padding: 0.2cm;
	}

	.pdf-sales-label-detail-value {
		text-align: center;
		letter-spacing: -0.1px;
	}

	.pdf-sales-label-content {
		align-self: start;
		display: grid;
		grid-template-columns: min-content 1fr 3cm 5cm;
		grid-template-rows: auto;
		grid-row-gap: 0.1cm;
		grid-column-gap: 0.25cm;
		align-items: stretch;
		width: 100%;
		font-size: 0.8rem;
	}


}
