/* Products */
.item-panel-header {
	margin-top: .5rem;
	font-size: 1.1rem;
}

div.product-item-wrapper {
	overflow-x: auto;
}

table.product-item-table {
	min-width: calc(599px);
}
td.product-item-actions {
	text-align: right;
}

td.product-item-price {
	white-space: nowrap;
}

td.product-item-unit {
	width: 3rem;
	font-weight: bold;
}


td.product-item-year-before {
	font-size: 0.8rem;
}

.product-item-vignette {
	width: 4rem;
}

.product-item-vat {
	white-space: nowrap;
}

@media (max-width: 767px) {

	.product-item-vat {
		display: none;
	}

}

td.product-item-stock {
	font-size: 1.1rem;
	padding-top: 0.2rem;
}

td.product-item-stock a {
	color: var(--text);
}

.product-item-stock-expired {
	color: var(--muted);
	font-size: 0.9rem;
	margin-right: 0.5rem;
}

div.product-item-label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	column-gap: 0.25rem;
	line-height: 1.4;
}

div.product-item-label > a {
	line-height: 1.4;
}

.product-item-label-unit {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;
	margin-left: 0.5rem;
}

div.product-item-infos {
	font-size: 0.9rem;
	line-height: 1.2;
	color: var(--muted);
}

div.product-item-presentation-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

@media (max-width: 575px) {

	div.product-item-presentation-wrapper {
		grid-template-columns: 1fr;
	}

}

div.product-item-presentation {
	margin-bottom: 2rem;
}

div.product-vignette-plant,
div.product-vignette-profile {
	pointer-events: none;
	position: absolute;
	width: 50%;
	height: 50%;
	z-index: 1;
	border: 2px solid;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60%;
	top: -12%;
	left: -12%;
	color: white;
	background-color: white;
}

.product-write-profile [data-profile] {
	display: none;
}

.product-write-profile:not(:has(input[name="profile"]:not([value="other"]):checked)) .product-write-profile-details {
	display: none;
}

.product-write-profile:has(input[name="profile"][value="unprocessed-plant"]:checked) [data-profile~="unprocessed-plant"] {
	display: block;
}

.product-write-profile:has(input[name="profile"][value="unprocessed-plant"]:checked) [data-not-profile~="unprocessed-plant"] {
	display: none;
}

.product-write-profile:has(input[name="profile"][value="unprocessed-animal"]:checked) [data-profile~="unprocessed-animal"] {
	display: block;
}

.product-write-profile:has(input[name="profile"][value="unprocessed-animal"]:checked) [data-not-profile~="unprocessed-animal"] {
	display: none;
}

.product-write-profile:has(input[name="profile"][value="processed-food"]:checked) [data-profile~="processed-food"] {
	display: block;
}

.product-write-profile:has(input[name="profile"][value="processed-food"]:checked) [data-not-profile~="processed-food"] {
	display: none;
}

.product-write-profile:has(input[name="profile"][value="processed-product"]:checked) [data-profile~="processed-product"] {
	display: block;
}

.product-write-profile:has(input[name="profile"][value="processed-product"]:checked) [data-not-profile~="processed-product"] {
	display: none;
}

.product-write-profile:has(input[name="profile"][value="composition"]:checked) [data-profile~="composition"] {
	display: block;
}

.product-write-profile:has(input[name="profile"][value="composition"]:checked) [data-not-profile~="composition"] {
	display: none;
}

#product-update.product-write-profile [data-field="profile"]:has(input[name="profile"][value="composition"]:checked) {
	display: none;
}

/* Pas d'affichage de composition à l'update*/
#product-update.product-write-profile [data-field="profile"] label:has(input[name="profile"][value="composition"]) {
	display: none;
}

.product-profile-icon {
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white;
}

.product-profile-unprocessed-plant {
	background-color: var(--success);
}

.product-profile-unprocessed-animal {
	background-color: #ada779;
}
