/* Sales */
#panel-sale,
#panel-sale .panel-header {
	background-color: var(--background-body);
}

.sale-item-invoice {
	padding: 0rem;
}

th.sale-item-invoice {
	background-color: var(--background);
}

td.sale-item-invoice {
	background-color: var(--secondary);
}

.sale-item-invoice label {
	padding: 0.5rem 1rem;
}

@media (max-width: 575px) {

	td.sale-item-name {
		line-height: 1.2;
	}

}

td.sale-item-status {
	white-space: nowrap;
}

.sale-item-delivery-source {
	letter-spacing: -0.2px;
	font-size: 0.8rem;
}

td.sale-item-price {
	white-space: nowrap;
}

td.sale-item-basket {
	line-height: 1.2;
	font-size: 0.9rem;
	text-align: center;
}

td.sale-item-payment-type {
	line-height: 1.2;
}

td.sale-item-actions {
	text-align: right;
}

/* Labels */
div.selling-label {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 768px) and (max-width: 991px) {

	div.selling-label {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (max-width: 767px) {

	div.selling-label {
		grid-template-columns: 1fr;
	}

}

label.selling-label-item {
	display: block;
}

div.selling-label-title {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: auto 1fr auto;
	align-items: center;
}

div.selling-label-title h4 {
	margin-bottom: 0;
}

div.selling-label-title input {
	width: 2rem;
	height: 2rem;
}

div.selling-label-example {
	margin-bottom: 1rem;
	overflow-y: auto;
}

div.selling-label-example > * {
	width: calc((21cm - 2.25rem) / 2);
	height: calc((21cm - 2.25rem) / 2 / 2.16);
}

.sale-field-preparation-status:has(option[value="draft"]:checked) {
	color: var(--draft);
}

.sale-field-preparation-status:has(option[value="confirmed"]:checked) {
	color: var(--confirmed);
}

.sale-field-preparation-status:has(option[value="prepared"]:checked) {
	color: var(--prepared);
}

.sale-field-preparation-status:has(option[value="delivered"]:checked) {
	color: var(--delivered);
}

.sale-preparation-status-batch {
	text-decoration: none;
	margin-bottom: 0.25rem;
}

@media (max-width: 767px) {

	.sale-preparation-status-mobile {
		display: inline-block;
		margin-top: 0.25rem;
		font-size: 0.9rem;
		text-align: right;
	}

}

.sale-payment-status {
	font-size: 0.8rem;
}

.sale-payment-status-paid,
.sale-payment-status-success {
	background-color: var(--success);
}

.sale-payment-status-not-paid,
.sale-payment-status-initialized {
	background-color: var(--muted);
}

.sale-payment-status-failure {
	background-color: var(--danger);
}

.sale-payment-status-undefined,
.sale-payment-status-waiting,
.sale-payment-status-sepa-waiting {
	background-color: var(--muted);
}

.sale-preparation-status-draft {
	color: var(--draft);
}

.sale-preparation-status-draft-button {
	color: white !important;
	background-color: var(--draft);
	font-weight: bold;
}

.sale-preparation-status-confirmed {
	color: var(--confirmed);
}

.sale-preparation-status-confirmed-button {
	background-color: var(--confirmed);
	color: white !important;
	font-weight: bold;
}

.sale-preparation-status-selling {
	color: var(--selling) !important;
	border: 1px solid var(--selling);
}

.sale-preparation-status-selling-button {
	background-color: var(--selling);
	color: white !important;
	font-weight: bold;
}

.sale-preparation-status-prepared {
	color: var(--prepared);
}

.sale-preparation-status-prepared-button {
	background-color: var(--prepared);
	color: white !important;
	font-weight: bold;
}

.sale-preparation-status-delivered {
	color: var(--delivered);
}

.sale-preparation-status-delivered-button {
	background-color: var(--delivered);
	color: white !important;
	font-weight: bold;
}

.sale-preparation-status-closed {
	color: var(--primary);
}

.sale-preparation-status-closed-button {
	background-color: var(--primary);
	color: white !important;
	font-weight: bold;
}

.sale-preparation-status-basket {
	color: var(--basket);
}

.sale-preparation-status-basket-button {
	background-color: var(--basket);
	color: white !important;
	font-weight: bold;
}

.sale-preparation-status-expired,
.sale-preparation-status-canceled {
	color: var(--muted);
}

.sale-preparation-status-expired-button,
.sale-preparation-status-canceled-button {
	background-color: var(--muted);
	color: white !important;
}

div.sale-documents {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

div.sale-documents-list {
	justify-content: center;
}

.sale-document-cell {
	padding: 0.25rem;
}

@media (min-width: 992px) {

	.sale-document-cell-0 {
		padding-left: 1rem;
	}

	.sale-document-cell-2 {
		padding-right: 1rem;
	}

}

div.sale-documents-element {
	margin-top: 0.5rem;
}

a.sale-document {
	border-radius: var(--radius);
	display: inline-block;
	border: 1px solid var(--primary);
	text-decoration: none;
	color: var(--primary);
	text-align: center;
	transition: all 0.5s;
	position: relative;
}

a.sale-document-disabled {
	opacity: 0.2;
}

a.sale-document-disabled,
a.sale-document-new {
	color: var(--text);
	border-color: var(--border);
}

a.sale-document-new:hover {
	border-color: var(--primary);
}

a.sale-document:not(.sale-document-disabled):hover {
	background-color: var(--primary);
	color: white;
}

.sale-document-name {
	font-weight: bold;
}

.sale-document-status,
.sale-document-count {
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: var(--primary);
	border: 1px solid transparent;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
}

.sale-document-count {
	right: -0.375rem;
	bottom: -0.5rem;
}

.sale-document-status {
	right: -0.375rem;
	top: -0.5rem;
}

a.sale-document-disabled .sale-document-status,
a.sale-document-new .sale-document-status {
	color: var(--text);
	background-color: white;
	border-color: var(--border);
}

.sale-document-status svg,
.sale-document-count svg {
	font-size: 1.2rem;
}

.sale-document-forbidden {
	text-decoration: line-through;
}

.sale-document-expired {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
}

.sale-document-expires {
	font-size: 0.8rem;
	opacity: 0.7;
}

.sale-display-address {
	color: var(--muted);
	font-size: 0.9rem;
	line-height: 1.2;
	font-weight: normal;
}

.sale-relative-wrapper {
	display: grid;
	grid-template: "before title after" auto / 1fr auto 1fr;
	align-items: center;
	background-color: var(--selling);
	padding: 1rem;
	color: white;
	margin-bottom: 1rem;
}

@media (max-width: 575px) {

	.sale-relative-wrapper {
		grid-template:
			"title title" auto
			"before after" auto / 1fr 1fr;
		grid-row-gap: 1rem;
	}

}

@media (min-width: 576px) {

	.sale-relative-wrapper {
		border-radius: var(--radius);
	}

}

.sale-relative-title {
	grid-area: title;
	padding: 0 2rem;
	text-align: center;
}

@media (min-width: 992px) {

	.sale-relative-title {
		min-width: 50vw;
	}

}

.sale-relative-title h4 {
	margin-bottom: 0;
}

.sale-relative-title a.sale-relative-date {
	color: white;
	text-decoration: underline;
}

.sale-relative-current {
	margin-top: 0.5rem;
	color: #FFFB;
}

.sale-relative-arrow {
	justify-self: center;
	width: 3rem;
	min-width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sale-relative-arrow svg {
	font-size: 1.5rem;
}

a.sale-relative-before,
a.sale-relative-after {
	text-decoration: none;
	color: white;
}

a.sale-relative-before:hover .sale-relative-customer,
a.sale-relative-after:hover .sale-relative-customer {
	text-decoration: underline;
}

.sale-relative-before {
	grid-area: before;
	display: flex;
	align-items: center;
	column-gap: 1rem;
	justify-content: end;
	padding-right: 1rem;
	line-height: 1.3;
	text-align: right;
}

.sale-relative-after {
	grid-area: after;
	display: flex;
	align-items: center;
	column-gap: 1rem;
	padding-left: 1rem;
	line-height: 1.3;
}

.sale-create-market .field-radio-group {
	background-color: #fff4;
	color: white;
}

.sale-composition-switch {
	display: inline-grid;
	grid-template-columns: max-content max-content max-content;
	grid-column-gap: 0.5rem;
	line-height: 0.8;
	font-size: 1.2rem;
	align-items: center;
}

.sale-composition-switch-label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sale-composition-switch .field-switch {
	background-color: var(--secondary);
}

.sale-closed {
	text-align: center;
	color: var(--muted);
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.sale-closed a {
	color: var(--muted);
	text-decoration: underline;
}

.sale-summary {
	margin-bottom: 2rem;
	max-width: 40rem;
}

.sale-summary-value {
	text-align: right;
}

.sale-summary-value-highlight {
	font-weight: bold;
	font-size: 1.2rem;
}