/* Liste de planches avec leurs cultures */
div.bed-item-wrapper {
	position: relative;
}

div.bed-item-grid {
	display: grid;
	align-items: baseline;
	background-color: white;
}

div.bed-item-grid.selected,
div.bed-item-grid.selected .bed-item-bed {
	background-color: var(--info) !important;
}

div.bed-item-fill {
	display: none;
	padding: 0.5rem 0;
}

div.zone-wrapper:has(input.zone-title-fill:checked) .bed-item-fill-zone,
div.plot-wrapper:has(input.plot-title-fill:checked) .bed-item-fill-plot {
	display: grid;
}

#zone-content:not(.zone-update) div.zone-wrapper:has(.place-grid-series-timeline) .bed-item-fill-zone,
#zone-content:not(.zone-update) div.plot-wrapper:has(.place-grid-series-timeline) .bed-item-fill-plot {
	display: grid;
}

div.bed-item-grid-plan:not(.bed-item-grid-header):nth-child(even),
div.bed-item-grid-plan:not(.bed-item-grid-header):nth-child(even) .bed-item-bed {
	background-color: white;
}

div.bed-item-grid-plan:not(.bed-item-grid-header):nth-child(odd),
div.bed-item-grid-plan:not(.bed-item-grid-header):nth-child(odd) .bed-item-bed {
	background-color: var(--background-odd);
}

div.bed-item-grid-plan:not(.bed-item-grid-header):hover,
div.bed-item-grid-plan:not(.bed-item-grid-header):hover .bed-item-bed,
div.bed-item-grid-rotation:not(.bed-item-grid-header):hover {
	background-color: var(--background);
	transition: background-color 0.25s;
}

div.bed-item-grid-plan:not(.bed-item-grid-header),
div.bed-item-grid-rotation:not(.bed-item-grid-header) {
	border-bottom: 1px solid var(--border);
}

div.bed-item-grid-plan {
	grid-template-columns: 12rem 1fr;
	align-items: end;
}

div.zone-update div.bed-item-grid-plan {
	grid-template-columns: 16rem 1fr;
}

div.bed-item-wrapper div.series-grid {
	left: 12rem;
}

div.zone-update div.bed-item-wrapper div.series-grid {
	left: 16rem;
}

div.bed-item-grid-rotation-5 {
	grid-template-columns: 1fr repeat(5, 1fr);
}

div.bed-item-grid-rotation-4 {
	grid-template-columns: 1fr repeat(4, 1fr);
}

div.bed-item-grid-rotation-3 {
	grid-template-columns: 1fr repeat(3, 1fr);
}

div.bed-item-grid-rotation-2 {
	grid-template-columns: 1fr repeat(2, 1fr);
}

@media (max-width: 1199px) {

	div.bed-item-grid-plan {
		grid-template-columns: 9rem 1fr;
	}

	div.zone-update div.bed-item-grid-plan {
		grid-template-columns: 12rem 1fr;
	}

	div.bed-item-wrapper div.series-grid {
		left: 9rem;
	}

	div.zone-update div.bed-item-wrapper div.series-grid {
		left: 12rem;
	}

}

@media (max-width: 768px) {

	div.bed-item-grid-rotation-5 {
		grid-template-columns: 8rem repeat(5, 1fr);
	}

	div.bed-item-grid-rotation-4 {
		grid-template-columns: 8rem repeat(4, 1fr);
	}

	div.bed-item-grid-rotation-3 {
		grid-template-columns: 8rem repeat(3, 1fr);
	}

	div.bed-item-grid-rotation-2 {
		grid-template-columns: 8rem repeat(2, 1fr);
	}

	div.zone-update div.bed-item-grid-plan {
		grid-template-columns: 10rem 1fr;
	}

	div.zone-update div.bed-item-wrapper div.series-grid {
		left: 10rem;
	}

}

div.bed-item-grid .bed-item-bed {
	position: sticky;
	align-self: stretch;
	z-index: 10;
	display: flex;
	align-items: center;
}

body[data-touch="no"] main div.bed-item-grid .bed-item-bed {
	left: calc(var(--nav-width) + var(--container-padding));
}

body[data-touch="yes"] main div.bed-item-grid .bed-item-bed {
	left: 0;
}

.panel div.bed-item-grid .bed-item-bed {
	left: 0;
}

.bed-item-all {
	cursor: pointer;
}

.bed-item-all:hover {
	text-decoration: underline;
}

.bed-item-all input {
	display: none;
}

.bed-item-all input:not(:checked) + .show-checked {
	display: none;
}

.bed-item-all input:checked + .show-checked + .show-not-checked {
	display: none;
}

.bed-item-select {
	align-self: stretch;
	color: white;
	margin: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 3rem;
	min-width: 3rem;
}

@media (max-width: 991px) {

	.bed-item-select {
		width: 2.5rem;
		min-width: 2.5rem;
	}

}

div.bed-item-grid .bed-item-select {
	background-color: #0001;
}

div.zone-title .bed-item-select,
div.plot-title .bed-item-select {
	margin-right: 0.75rem;
}


div.bed-item-grid:has(input[name^="beds"]:checked) .bed-item-select {
	background-color: var(--info);
}

div.bed-item-grid .bed-item-content {
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 3rem;
	padding-left: 0.75rem;
	width: 100%;
}

div.bed-item-grid:has(input[name^="beds"]:checked) .bed-item-content {
	min-height: 5rem;
}

div.bed-item-grid div.bed-item-name {
	letter-spacing: -0.1px;
	display: flex;
	justify-content: space-between;
}

div.bed-item-grid div.bed-item-name a {
	color: black;
}

div.bed-item-grid div.bed-item-size {
	font-size: 0.7rem;
	color: #999;
}

div.bed-item-grid div.bed-item-size-read {
	margin-top: 0.125rem;
}

div.bed-item-grid div.bed-item-size-write,
div.bed-item-grid div.bed-item-size-fill {
	width: 12rem;
	margin-top: 0.25rem;
}

div.bed-item-grid div.bed-item-size-write input,
div.bed-item-grid div.bed-item-size-fill input {
	text-align: center;
}

div.bed-item-grid div.bed-item-size-write .input-group-addon,
div.bed-item-grid div.bed-item-size-fill .input-group-addon {
	background-color: var(--background) !important;
}

div.bed-item-grid:has(input[name^="beds"]:checked) div.bed-item-size-read {
	display: none;
}

div.bed-item-grid:not(:has(input[name^="beds"]:checked)) div.bed-item-size-write {
	display: none;
}

div.bed-item-grid .bed-item-rotation {
	font-size: 0.9rem;
	color: var(--secondary);
	white-space: nowrap;
	padding-right: 0.5rem;
}

@media (max-width: 991px) {

	div.bed-item-grid .bed-item-rotation {
		display: none;
	}

}

div.bed-item-grid div.bed-item-places {
	overflow: hidden;
}

div.bed-item-grid div.bed-item-cultivation {
	padding: 0.5rem;
	height: 100%;
}

div.bed-item-grid div.series-timeline-season:not(:empty) {
	overflow: hidden;
}

div.bed-item-grid div.bed-item-cultivation-muted {
	opacity: 0.5;
}

div.bed-item-grid div.bed-item-followup,
div.bed-item-grid div.bed-item-followup + div,
div.bed-item-grid div.bed-item-followup + div + div {
	border-top: 1px solid var(--border);
}

div.bed-item-grid div.bed-item-cultivation-family {
	display: flex;
	flex-wrap: wrap;
}

div.bed-item-grid div.bed-item-cultivation-family > * {
	margin-right: -0.33rem;
	margin-bottom: 0.25rem;
}

div.bed-item-grid div.bed-item-cultivation-plant {
	font-size: 0.9rem;
	line-height: 1;
}

/* Grid */
.bed-update-grid {
	display: grid;
	grid-template-columns: auto 1fr auto auto auto auto 1fr auto;
	align-items: center;
}

.bed-configure-actions {
	grid-column: span 7;
}

@media (max-width: 767px) {

	.bed-update-grid {
		grid-template-columns: auto 1fr auto auto auto auto 1fr;
	}

	.bed-configure-actions {
		grid-column: span 6;
	}

}

.bed-update-grid > * {
	height: 100%;
	padding: 0.5rem 0.75rem;
}

.bed-update-grid > *:not(.bed-update-grid-group) {
	border-bottom: 1px dashed var(--border);
}

.bed-update-grid label.bed-update-grid-select {
	background-color: #0001;
	padding: 0 0.75rem;
	margin: 0;
	min-height: 2rem;
	height: 100%;
	display: flex;
	align-items: center;
}

.bed-update-grid label:empty {
	padding: 0 !important;
}

.bed-update-grid div.bed-update-grid-name {
	font-weight: bold;
}

.bed-update-grid div.bed-update-grid-name a {
	color: var(--text);
}

.bed-update-grid span.bed-update-grid-name-drawn {
	font-size: 0.9rem;
	margin-right: 1rem;
}

.bed-update-grid span.bed-update-grid-name-interval {
	font-weight: normal;
	font-size: 0.9rem;
	color: var(--muted);
	margin-left: 0.5rem;
}

.bed-update-grid div.bed-update-grid-length {
	text-align: right;
}

.bed-update-grid div.bed-update-grid-x {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.bed-update-grid div.bed-update-grid-area {
	text-align: right;
	font-size: 0.9rem;
	color: var(--muted);
	background-color: var(--background);
}

@media (max-width: 767px) {

	.bed-update-grid div.bed-update-grid-actions {
		display: none;
	}

}

/* Create */
div.bed-create-number {
	background-color: var(--background);
	padding: 1rem !important;
	margin: 0;
	border-radius: var(--radius);
}

#bed-create-form {
	padding: 1rem;
}

#bed-create-form[data-number="0"] {
	display: none;
}

#bed-create-names {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}


.bed-create-one h5 {
	margin-bottom: 0.25rem;
}

.bed-create-fill {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 0.5rem;
}

@media (max-width: 991px) {

	.bed-create-fill {
		grid-template-columns: auto;
	}

}

/* Write */

div.bed-write-size-form {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	grid-column-gap: 0.5rem;
}

div.bed-write-size-area {
	font-weight: bold;
	margin-top: 0.5rem;
	text-align: right;
}

div.bed-write-size-area[data-area="0"] {
	display: none;
}

#bed-map-line {
	width: 100%;
	height: 500px;
	max-height: 70vh;
}