#zone-header {
	background-color: var(--background-body);
	position: sticky;
	z-index: 50;
	top: 0;
}

.panel #zone-header {
	background-color: white;
}

.zone-button {
	text-align: left;
	width: calc(100% - 1rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.zone-dropdown {
	display: inline-block;
	max-width: 9rem;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
	line-height: 1.2;
}

@media (min-width: 1200px) {

	.zone-dropdown {
		max-width: 12rem;
	}

}

.zone-container {
	margin-top: -1.5rem;
	padding-top: 0.5rem;
}

#zone-content.zone-update .bed-read {
	display: none;
}

#zone-content:not(.zone-update) .bed-write {
	display: none;
}

.zone-corner {
	position: sticky;
	top: 0;
	background-color: var(--background-body);
	align-self: stretch;
	z-index: 1;
	display: flex;
	align-items: end;
	padding: 1rem 0 0 0 !important;
}

.panel .zone-corner {
	background-color: white;
	left: 0;
}

body[data-touch="no"] main .zone-corner {
	left: calc(var(--nav-width) + var(--container-padding));
}

body[data-touch="yes"] main .zone-corner {
	left: 0;
}

div.zone-header-season {
	overflow: hidden;
}

.zone-count {
	margin-left: .5rem;
}

.zone-count:empty {
	display: none;
}

/* Cartographie */
div.zone-cartography {
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
	background-color: var(--secondary);
	color: white;
	padding: var(--responsive-padding);
}

span.zone-cartography-interval {
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

div.zone-cartography h3 {
	padding: 0;
	margin-bottom: 0.5rem;
}

div.zone-cartography .zone-no-cartography {
	margin-left: 0.5rem;
	font-weight: normal;
	font-size: 50%;
	opacity: 0.7;
	text-transform: uppercase;
}

div.zone-cartography > *:last-child {
	margin-bottom: 0;
}

div.zone-map {
	width: 100%;
	height: 100%;
}

#zone-map-write {
	width: 100%;
	height: 500px;
}

/* Items */
div.zone-title {
	margin-top: 1.5rem;
	padding: 1.25rem 0.75rem;
	background: var(--secondary);
	color: white;
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

div.zone-title a {
	color: white;
}

div.zone-update div.zone-title {
	padding-left: 0;
}

.zone-title-area {
	opacity: 0.8;
	font-size: 1rem;
	margin-left: 1rem;
}

.zone-sticky-overlay-left,
.zone-sticky-overlay-right {
	display: none;
}

main .zone-sticky-left {
	position: sticky;
	width: calc(var(--screen-width) - var(--nav-width) - var(--container-padding) * 2);
}

body[data-touch="no"] {

	main .zone-sticky-overlay-left,
	main .zone-sticky-overlay-right {
		display: block;
		width: var(--container-padding);
		background-color: var(--background-body);
		top: 0;
		height: 100vh;
		position: fixed;
		z-index: 98;
	}

	main .zone-sticky-overlay-left {
		left: var(--nav-width);
	}

	main .zone-sticky-overlay-right {
		right: 0;
	}

	main .zone-sticky-left {
		left: calc(var(--nav-width) + var(--container-padding));
	}

}

body[data-touch="yes"] {

	main .zone-sticky-left {
		left: 0;
	}

}
