#zone-header {
	background-color: var(--background-body);
	position: sticky;
	z-index: 50;
	top: 0;
}

@media (min-width: 1100px) and (min-height: 650px) {

	main #zone-header {
		height: 6rem;
	}

}

.panel #zone-header {
	background-color: white;
}

.zone-button {
	text-align: left;
	width: calc(100% - 1rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.zone-dropdown {
	display: inline-block;
	max-width: 9rem;
	overflow: hidden;
	vertical-align: middle;
	text-align: left;
	line-height: 1.2;
}

@media (min-width: 1200px) {

	.zone-dropdown {
		max-width: 12rem;
	}

}

body.bed-updating .bed-read,
body.panel-open .bed-read {
	display: none;
}

body:not(.bed-updating):not(.panel-open) .bed-write {
	display: none;
}

.zone-corner {
	position: sticky;
	top: 0;
	background-color: var(--background-body);
	align-self: stretch;
	z-index: 1;
	display: flex;
	align-items: end;
	padding: 1rem 0 0 0 !important;
	margin-bottom: 0.5rem;
}

.panel .zone-corner {
	background-color: white;
	left: 0;
}

body[data-touch="no"] main .zone-corner {
	left: calc(var(--nav-width) + var(--container-padding));
}

body[data-touch="yes"] main .zone-corner {
	left: 0;
}

div.zone-header-season {
	overflow: hidden;
}

.zone-count {
	margin-left: .5rem;
}

.zone-count:empty {
	display: none;
}

/* Cartographie */
div.zone-cartography {
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
	background-color: var(--secondary);
	color: white;
	padding: var(--responsive-padding);
}

span.zone-cartography-interval {
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

div.zone-cartography h3 {
	padding: 0;
	margin-bottom: 0.5rem;
}

div.zone-cartography .zone-no-cartography {
	margin-left: 0.5rem;
	font-weight: normal;
	font-size: 50%;
	opacity: 0.7;
	text-transform: uppercase;
}

div.zone-cartography > *:last-child {
	margin-bottom: 0;
}

div.zone-map {
	width: 100%;
	height: 100%;
}

#zone-map-write {
	width: 100%;
	height: 500px;
}

/* Items */
@media screen {

	body[data-touch="yes"] main #zone-content {
		width: calc(var(--screen-width) - var(--container-padding) * 2 - var(--nav-width));
		overflow-x: auto;
	}

	main  #zone-content > * {
		min-width: calc(var(--zone-content-months) * 4.5rem + 10rem);
	}

	#zone-content [data-hide="1"]:not(.selected) {
		display: none;
	}

}

div.zone-wrapper {
	position: relative;
}

div.zone-printing div.zone-wrapper {
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 5cm 1fr;
}

div.zone-title {
	z-index: 11;
}

div.zone-printing div.zone-title {
	border-right: 0.25cm solid #8883;
	padding: 1rem 0.5rem;
}

div.zone-printing div.zone-title h3 {
	margin-bottom: 0.5rem;
	word-break: break-word;
}

@media screen {

	div.zone-title {
		padding: 1.25rem 0.75rem;
		background: var(--secondary);
		color: white;
	}

	#zone-header + .zone-wrapper div.zone-title {
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}

}

@media print {

	div.zone-title {
		position: relative;
		background-color: white;
	}

	div.zone-title h2 {
		font-size: 2rem;
		font-weight: bold;
	}

}

div.zone-title a {
	color: white;
}

body.bed-updating div.zone-title {
	padding-left: 0;
}

.zone-title-area {
	margin-left: 1rem;
}

@media screen {

	.zone-title-area {
		font-size: 1rem;
		opacity: 0.8;
	}

	main .zone-sticky-left {
		position: sticky;
		width: calc(var(--screen-width) - var(--nav-width) - var(--container-padding) * 2);
	}

	@media (min-width: 1100px) and (min-height: 650px) {

		main div.zone-title {
			top: 6rem;
		}

	}

	body[data-touch="no"] {

		main .zone-sticky-overlay-left,
		main .zone-sticky-overlay-right {
			display: block;
			width: var(--container-padding);
			background-color: var(--background-body);
			top: 0;
			height: 100vh;
			position: fixed;
			z-index: 98;
		}

		.zone-sticky-overlay-left {
			left: var(--nav-width);
		}

		.zone-sticky-overlay-right {
			right: 0;
		}

		main .zone-sticky-left {
			left: calc(var(--nav-width) + var(--container-padding));
		}

	}

	body[data-touch="yes"] {

		main .zone-sticky-left {
			left: 0;
		}

	}

}

@media print {

	.zone-title-area {
		font-size: 1.5rem;
	}

}

div.zone-printing .zone-table {
	margin: 0 !important;
}

div.zone-printing .zone-table tbody {
	position: relative;
	z-index: 0;
}

div.zone-printing .zone-table td {
	padding: 0 !important;
}

div.zone-printing .zone-table thead {
	position: relative;
	z-index: 1;
}

div.zone-printing .zone-table th {
	padding: 0 0 0 16rem !important;
}