
table.income-statement-table.tr-hover thead tr.overview_row-title,
table.income-statement-table thead.thead-sticky tr.overview_row-title th,
table.income-statement-table.tr-hover thead tr.overview_row-title:hover,
table.income-statement-table thead.thead-sticky tr.overview_row-title:hover th {
	background-color: var(--primary) !important;
	color: white;
}

table.income-statement-table tr.overview_row_sizing {
	height: 0;
}
table.income-statement-table tr.overview_row_sizing td {
	background-color: transparent!important;
	width: 50%;
	padding: 0;
	margin: 0;
	height: 0;
}

table.income-statement-table thead.thead-sticky tr.overview_group-title th,
table.income-statement-table .overview_group-title th {
	vertical-align: middle;
}

table.income-statement-table .overview_line {
	td:nth-child(1),
	td:nth-child(4),
	td:nth-child(5),
	/*td:nth-child(6),*/
	td:nth-child(9),
	td:nth-child(10) {
		border-left: 1px solid var(--muted);
	}
	td:last-child {
		border-right: 1px solid var(--muted);
	}
}
table.income-statement-table:not(.overview_has_previous) .overview_line {
	td:nth-child(1),
	td:nth-child(4),
	td:nth-child(5),
	td:nth-child(8) {
		border-left: 1px solid var(--muted);
	}
	td:last-child {
		border-right: 1px solid var(--muted);
	}
}

table.income-statement-table .overview_group-total {
	border-bottom: 1px solid var(--muted);

	:first-child {
		border-left: 1px solid var(--muted);
	}
	:last-child {
		border-right: 1px solid var(--muted);
	}

}

table.income-statement-table.overview_has_previous .overview_group-total {
	:nth-child(2),
	:nth-child(3),
	:nth-child(5) {
		border-right: 1px solid var(--muted);
		border-left: 1px solid var(--muted);
	}

}

table.income-statement-table:not(.overview_has_previous) .overview_group-total {
	:nth-child(2), :last-child {
		border-right: 1px solid var(--muted);
		border-left: 1px solid var(--muted);
	}

}
table.income-statement-table .overview_cell-links a {
	color: var(--muted);
}
table.income-statement-table .overview_cell-summary {
	font-weight: bold;
}

table.income-statement-table .overview_class-detail {
	color: var(--muted);
}
