
.overview_income-statement {

	.overview_income-statement_row-title {
		background-color: var(--background-highlight) !important;
	}
	.overview_income-statement_group-title {
		th {
			border: 1px solid var(--muted);
			width: 50%;
		}
	}
	.overview_income-statement_line {
		td:nth-child(1),
		td:nth-child(4) {
			border-left: 1px solid var(--muted);
		}
		td:last-child {
			border-right: 1px solid var(--muted);
		}
	}

	.overview_income-statement_group-total {
		border-bottom: 1px solid var(--muted);

		:first-child {
			border-left: 1px solid var(--muted);
		}
		:nth-child(2), :last-child {
			border-right: 1px solid var(--muted);
		}

	}
}
