.vat-width-100 {
	min-width: inherit;
	max-width: 100%;
}

.vat-summary-table {
	width: inherit;
}


table.vat-cerfa {
	margin-bottom: 0;
}
table.vat-cerfa input {
	width: 100px;
}
table.vat-cerfa th {
	border-bottom: 1px dotted var(--muted);
}
table.vat-cerfa td {
	padding: 0.1rem 0.25rem;
	border-bottom: 1px dotted var(--muted);
}
table.vat-cerfa th.vat-cerfa-chapter-title {
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: var(--primary);
}
table.vat-cerfa th.vat-cerfa-title {
	font-weight: bold;
	background-color: var(--background-even);
	text-transform: inherit;
}
table.vat-cerfa th.vat-cerfa-title.vat-upper {
	text-transform: uppercase;
}
table.vat-cerfa td.vat-cerfa-number {
	background-color: var(--background);
	width: 35px;
	white-space: nowrap;
	text-align: center;
}
table.vat-cerfa td.vat-cerfa-identifier {
	background-color: var(--background-light);
	width: 1%;
}
table.vat-cerfa td.vat-cerfa-input {
	width: 100px;
}
table.vat-cerfa td.vat-cerfa-input input {
	margin: auto;
}
.vat-reverse-direction {
	display: flex;
	justify-content: end;
	align-items: center;
}

.vat-history-not-passed {
	color: var(--muted-light);
	font-style: italic;
}

.vat-period-block {
	border: 1px solid var(--primary);
	text-align: center;
	margin-bottom: 2rem;
}
.vat-period-block h3 {
	margin: 1rem;
}
