.vat-width-100 {
	min-width: inherit;
	max-width: 100%;
}

.vat-summary-table {
	width: inherit;
}


table.vat-cerfa {
	margin-bottom: 0;
}
table.vat-cerfa input {
	width: 94px; /* Pour prendre en compte les paddings */
}
table.vat-cerfa th {
	border-bottom: 1px dotted var(--muted);
}
table.vat-cerfa td {
	padding: 0.1rem 0.25rem;
	border-bottom: 1px dotted var(--muted);
}
table.vat-cerfa th.vat-cerfa-chapter-title {
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: var(--primary);
}
table.vat-cerfa th.vat-cerfa-title {
	font-weight: bold;
	background-color: var(--background-even);
	text-transform: inherit;
}
table.vat-cerfa th.vat-cerfa-title.vat-upper {
	text-transform: uppercase;
}
table.vat-cerfa td.vat-cerfa-number {
	background-color: var(--background);
	width: 35px;
	white-space: nowrap;
	text-align: center;
}
table.vat-cerfa td.vat-cerfa-identifier {
	background-color: var(--background-light);
	width: 1%;
}
table.vat-cerfa td.vat-cerfa-input {
	width: 100px;
}
table.vat-cerfa td.vat-cerfa-input input {
	margin: auto;
}
table.no-border-bottom td {
	border-bottom: 0;
}
.pl-1 {
	padding-left: 1rem !important;
}
.vat-reverse-direction {
	display: flex;
	justify-content: end;
	align-items: center;
}

.vat-history-not-passed {
	color: var(--muted-light);
	font-style: italic;
}

.vat-period-block {
	border: 1px solid var(--primary);
	text-align: center;
	margin-bottom: 2rem;
}
.vat-period-block h3 {
	margin: 1rem;
}


/* Récap des déclarations */
.vat-period-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}


@media (min-width: 768px) and (max-width: 1600px) {

	.vat-period-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 767px) {

	.vat-period-container {
		grid-template-columns: 1fr;
	}
}


.vat-period {
	padding: 1rem;
  border-radius: var(--radius);
  transition: color 0.25s, background-color 0.25s, border-color 0.25s, box-shadow 0.25s;
  text-decoration: none;
  background-color: white;
}

.vat-period-future {
	opacity: 0.33;
}
.vat-period-title {
	display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.vat-period-title h3 {
	margin: 0;
}
.vat-period-details {
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
}
.vat-period-details .vat-period-value {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
