.invoicing-presentation {
	background: linear-gradient(135deg, var(--commercialisation) 0, var(--production) 50%, var(--accounting) 100%) !important;
	color: white;
	text-align: center;
	min-height: 20rem;
}


.invoice-summary {
	margin-bottom: 2rem;
	max-width: 40rem;
}

.invoice-summary-value {
	text-align: right;
}

.invoice-summary-value-highlight {
	font-weight: bold;
	font-size: 1.2rem;
}
