span.action-name {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 90%;
}

div.action-color-circle {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	margin-right: 0.5rem;
	vertical-align: middle;
}

div.action-manage-methods {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
}

div.action-manage-categories {
	margin-left: 1.75rem;
	color: var(--muted);
	font-size: .9rem;
}