
#farm-nav {
	padding: 0;
}

.farm-tabs.farm-section-production {
	background-color: var(--production);
}

.farm-tabs.farm-section-commercialisation {
	background-color: var(--commercialisation);
}

.farm-tabs.farm-section-accounting {
	background-color: var(--accounting);
}

.farm-tab {
	display: block;
	padding: 0.75rem 1rem;
	text-decoration: none;
	color: white;
	letter-spacing: 0.1px;
	font-weight: bold;
}

.farm-tab.disabled {
	opacity: 0.33;
}

@media (max-height: 699px) {

	.farm-tab {
		padding: 0.5rem;
	}

}

@media (min-height: 992px) {

	.farm-tab {
		padding: 0.75rem;
	}

}

a.farm-tab:not(.farm-tab-subnav):hover {
	text-decoration: underline;
}

.farm-tab:not(.farm-tab-subnav).selected {
	background-color: #0003;
}

.farm-tab .farm-tab-on {
	display: none;
}

.farm-tab + div.farm-subnav-wrapper {
	margin-top: -0.125rem;
}

.farm-tab .farm-tab-icon svg {
	font-size: 1.2rem;
}

a.farm-subnav-item {
	display: block;
	color: white;
}

@media (max-height: 649px) {

	a.farm-subnav-item {
		padding-top: 0.125rem;
		padding-bottom: 0.125rem;
	}

}

@media (min-height: 650px) and (max-height: 767px) {

	a.farm-subnav-item {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

}

a.farm-subnav-item.selected {
	background-color: #0003;
}

a.farm-subnav-item:hover {
	text-decoration: none;
}

body[data-template^="farm"] header a:hover {
	color: white;
}

.nav-title-farm {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.nav-year {
	display: inline-block;
	font-size: 1.2rem;
	text-align: left;
	background-color: var(--primary);
	color: white;
	border-radius: calc(var(--radius) * 2);
	width: max-content;
	transition: color .5s;
}

@media print {

	.nav-year {
		display: none;
	}

}

.nav-year {
	text-decoration: none;
}

.nav-year:hover {
	color: white;
}

@media (min-width: 1100px) and (min-height: 650px) {

	:root {
		--nav-height: 8.5rem;
	}

	@media (min-width: 1600px) {

		:root {
			--nav-width: 22rem;
			--nav-padding: 1.5rem;
		}

	}

	@media (min-width: 1200px) and (max-width: 1599px) {

		:root {
			--nav-width: 20rem;
			--nav-padding: 1rem;
		}

	}

	@media (max-width: 1199px) {

		:root {
			--nav-width: 19rem;
			--nav-padding: 1rem;
		}

	}

	@media (max-height: 991px) {

		.nav-title .farm-vignette-view {
			width: 3rem !important;
			height: 3rem !important;
			min-width: 3rem !important;
		}

	}

	body[data-template~="farm"] {
		display: grid;
		grid-template:
			"nav main" var(--nav-height)
			"header main" auto
			"header footer" auto / var(--nav-width) 1fr;
	}

	@media (min-width: 2000px) {

		body[data-template~="farm"] {
			padding: 0 calc((100vw - 1800px) / 2);
		}

	}

	body[data-template~="farm"] header {
		grid-area: header;
		position: fixed;
		width: var(--nav-width);
		top: var(--nav-height);
		height: calc(100vh - var(--nav-height));
	}

	body[data-template~="farm"] main  {
		grid-area: main;
	}

	body[data-template~="farm"] main .container {
		margin-left: 0;
		margin-right: 0;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media (max-width: 1199px) {

		body[data-template~="farm"] main .container {
			padding-left: 1rem;
			padding-right: 1rem;
		}

	}

	body[data-template~="farm"] main .container.farm-template-main-title {
		height: var(--nav-height);
		margin-bottom: 1rem;
		margin-top: 0;
		position: relative;
	}

	body[data-template~="farm"] main .container.farm-template-main-title:not(.farm-template-main-title-with-year) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	body[data-template~="farm"] main .container.farm-template-main-title.farm-template-main-title-with-year {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	body[data-template~="farm"] main .container.farm-template-main-title > div.farm-template-main-content {
		display: flex;
		align-items: center;
	}

	body[data-template~="farm"] main .container.farm-template-main-title > div.farm-template-main-content > div {
		width: 100%;
	}

	body[data-template~="farm"] main .container.farm-template-main-title > div.farm-template-main-content > div > *:last-child {
		margin-bottom: 0;
	}

	body[data-template~="farm"] footer  {
		grid-area: footer;
	}

	body[data-template~="farm"] nav {
		grid-area: nav;
		top: 0;
		width: var(--nav-width);
	}

	body[data-template~="farm"] nav .nav-wrapper.container {
		padding: 0 var(--nav-padding);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	body[data-template~="farm"] nav .nav-wrapper {
		display: block;
		height: var(--nav-height);
		min-height: var(--nav-height);
	}

	body[data-template~="farm"] nav .nav-actions {
		position: absolute;
		top: 0;
		left: 0;
	}

	body[data-template~="farm"] nav .nav-actions .nav-item {
		padding: 1rem var(--nav-padding);
	}

	body[data-template~="farm"] nav .nav-actions .nav-user .media-vignette-image {
		border: 1px solid white;
		width: 2rem;
		height: 2rem;
		min-width: 2rem;
	}

	body[data-template~="farm"] .nav-title {
		justify-content: center;
	}

	body[data-template~="farm"] .nav-title-farm {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.1rem;
		text-align: center;
	}

	#farm-nav {
		overflow: auto;
		top: var(--nav-height);
		height: calc(100vh - var(--nav-height));
	}

	#farm-nav:last-child {
		margin-bottom: 1rem;
	}

	.farm-tabs {
		padding-top: 0.5rem;
		height: 100%;
	}

	@media (min-height: 992px) {

		.farm-tabs {
			font-size: 1.1rem;
		}

	}

	.farm-tab-close {
		display: none;
	}

	#farm-nav-sections {
		bottom: -1px;
		display: grid;
		grid-column-gap: 0.5rem;
		width: 100%;
		height: 4rem;
		align-items: end;
		padding: 0 0.5rem;
		border-bottom: 2px solid #fff8;
		background-color: var(--primary);
	}

	.farm-nav-sections-2 {
		grid-template-columns: max-content max-content;
	}

	.farm-nav-sections-3 {
		grid-template-columns: auto auto auto;
	}

	.farm-nav-section {
		height: 100%;
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		margin-bottom: -2px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 0.25rem;
		color: white;
	}

	.farm-nav-sections-2 .farm-nav-section {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.farm-nav-section svg {
		font-size: 1.2rem;
	}

	.farm-nav-section-up,
	.farm-nav-section-down {
		display: none;
	}

	#farm-nav div.farm-subnav-wrapper {
		display: flex;
		flex-direction: column;
		grid-column-gap: 1.25rem;
	}

	@media (min-height: 800px) {

		#farm-nav-sections {
			height: 4.75rem;
		}

	}

	.farm-tab .farm-tab-icon {
		width: 2rem;
		height: 2rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius);
		margin-right: 0.5rem;
		background-color: #fff1;
	}

	a.farm-subnav-item {
		padding: 0.5rem 0.5rem 0.5rem 1.8rem;
	}

	a.farm-subnav-item:hover *:not(.farm-subnav-prefix) {
		text-decoration: underline;
	}

	.nav-year {
		margin-top: 1.5rem;
		margin-left: -2rem;
		padding: 0.375rem 2rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	#farm-breadcrumbs {
		display: none;
	}

}

@media (max-width: 1099px), (max-height: 649px) {

	body[data-template~="farm"] header {
		position: sticky;
		z-index: 500;
	}

	body[data-template~="farm"] main .container.farm-template-main-title {
		background: linear-gradient(to bottom, var(--background) 0, var(--background) 50%, transparent 100%);
		margin-top: 0;
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@media print {

		body[data-template~="farm"] main .container.farm-template-main-title {
			background: transparent;
		}

	}

	body[data-template~="farm"] main .container.farm-template-main-title > div > *:last-child {
		margin-bottom: 0;
	}

	body[data-template~="farm"] main .container.farm-template-main-title + .container {
		margin-top: 1.5rem;
	}

	/* Farm nav */
	#farm-nav-sections {
		bottom: -1px;
		display: flex;
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		grid-column-gap: 0.75rem;
		width: 100%;
		height: var(--farmSections);
		padding-top: 0.5rem;
		align-items: end;
		background-color: var(--primary);
	}

	.farm-nav-sections-2 {
		grid-template-columns: max-content max-content;
	}

	.farm-nav-sections-3 {
		grid-template-columns: auto auto auto;
	}

	.farm-nav-section {
		height: 100%;
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		padding: 0.25rem 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 0.5rem;
		color: white;
	}

	.farm-nav-section svg {
		font-size: 1.2rem;
	}

	.farm-nav-planning {
		grid-area: planning;
	}

	.farm-nav-cultivation {
		grid-area: cultivation;
	}

	.farm-nav-analyze-production {
		grid-area: analyze;
	}

	.farm-nav-settings-production {
		grid-area: settings;
	}

	@media (min-width: 768px) {

		.farm-section-production {
			display: grid;
			grid-template: "planning cultivation analyze settings" auto / 1fr 1fr 1fr 1fr;
		}


	}

	@media (min-width: 576px) and (max-width: 767px) {

		.farm-section-production {
			display: grid;
			grid-template:
					"planning cultivation analyze" auto
					"planning cultivation settings" 1fr / 1fr 1fr 1fr;
		}


	}

	@media (min-width: 360px) and (max-width: 575px) {

		.farm-section-production {
			display: grid;
			grid-template:
					"planning cultivation" auto
					"analyze cultivation" auto
					"analyze settings" 1fr / 1fr 1fr;
		}


	}

	.farm-nav-selling {
		grid-area: selling;
	}

	.farm-nav-shop {
		grid-area: shop;
	}

	.farm-nav-communication {
		grid-area: communication;
	}

	.farm-nav-analyze-commercialisation {
		grid-area: analyze;
	}

	.farm-nav-settings-commercialisation {
		grid-area: settings;
	}

	@media (min-width: 992px) {

		.farm-section-commercialisation {
			display: grid;
			grid-template: "selling shop communication analyze settings" auto / auto auto auto auto auto;
		}


	}

	@media (min-width: 768px) and (max-width: 991px) {

		.farm-section-commercialisation {
			display: grid;
			grid-template:
				"selling shop communication analyze" auto
				"selling shop communication settings" 1fr / auto auto auto auto;
		}


	}

	@media (min-width: 576px) and (max-width: 767px) {

		.farm-section-commercialisation {
			display: grid;
			grid-template:
				"selling shop communication" auto
				"selling shop analyze" auto
				"selling shop settings" 1fr / auto auto auto;
		}


	}

	@media (min-width: 360px) and (max-width: 575px) {

		.farm-section-commercialisation {
			display: grid;
			grid-template:
				"selling shop" auto
				"selling analyze" auto
				"communication analyze" auto
				"communication settings" auto / auto auto;
		}


	}

	.farm-nav-bank {
		grid-area: bank;
	}

	.farm-nav-journal {
		grid-area: journal;
	}

	.farm-nav-assets {
		grid-area: assets;
	}

	.farm-nav-analyze-accounting {
		grid-area: analyze;
	}

	.farm-nav-settings-accounting {
		grid-area: settings;
	}

	@media (min-width: 992px) {

		.farm-section-accounting {
			display: grid;
			grid-template: "bank journal assets analyze settings" auto / auto auto auto auto auto;
		}


	}

	@media (min-width: 768px) and (max-width: 991px) {

		.farm-section-accounting {
			display: grid;
			grid-template:
				"bank journal assets analyze" auto
				"bank journal assets settings" 1fr / auto auto auto auto;
		}


	}

	@media (min-width: 576px) and (max-width: 767px) {

		.farm-section-accounting {
			display: grid;
			grid-template:
				"bank journal analyze" auto
				"assets journal analyze" auto
				"assets journal settings" 1fr / auto auto auto;
		}


	}

	@media (min-width: 360px) and (max-width: 575px) {

		.farm-section-accounting {
			display: grid;
			grid-template:
				"bank assets" auto
				"journal analyze" auto
				"journal settings" auto / auto auto;
		}


	}

	#farm-nav {
		display: flex;
		align-items: center;
		height: var(--farmNav);
		min-height: var(--farmNav);
		background-color: var(--secondary);
	}

	.farm-nav-section-up {
		display: none;
	}

	.nav-title .farm-vignette-view {
		width: 1.75rem !important;
		height: 1.75rem !important;
		min-width: 1.75rem !important;
		font-size: 1rem !important;
	}

	.farm-tabs {
		position: absolute;
		top: var(--farmSections);
		width: 100%;
		padding: 0.5rem 1rem 1rem 0.5rem;
		column-gap: 1rem;
		box-shadow: 0 0 1rem #0003;
	}

	.farm-tab {
		border-radius: var(--radius);
		display: flex;
		column-gap: 0.5rem;
		font-size: 1.1rem;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.farm-tab-close {
		position: absolute;
		top: 0rem;
		right: 0rem;
		width: 3.5rem;
		height: 3.5rem;
		font-size: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.farm-tab-close span {
		width: calc(100% - 1rem);
		height: calc(100% - 1rem);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #0003;
		color: white;
	}

	@media (min-width: 576px) {

		.farm-tab-close {
			top: 0.5rem;
			right: 0.5rem;
			width: 4rem;
			height: 4rem;
		}

	}

	a.farm-subnav-item {
		padding: 0.75rem 0.75rem 0.75rem 1rem;
		border-radius: var(--radius);
	}

	@media (max-width: 449px) {

		a.farm-subnav-item {
			padding-left: 1rem;
		}

	}

	.nav-year {
		font-size: 1.1rem;
		padding: 0.25rem 0.75rem;
		margin-bottom: .5rem;
	}

	#farm-breadcrumbs {
		padding-left: calc(var(--container-padding) + 0.5rem);
		padding-right: var(--container-padding);
		color: white;
	}

}

.farm-tab-disabled {
	opacity: 0.5;
}

/* Onglets pour les saisons */
.farm-tabs-season .farm-tabs-season-page {
	display: flex;
	align-items: center;
	height: 3rem;
	font-weight: bold;
}

.farm-tabs-season .farm-tabs-season-page:before {
	content: ">";
	font-size: 0.9rem;
	margin: 0 0.75rem;
}

.farm-tabs-season .farm-tabs-season-action {
	flex: 1 0 auto;
	text-align: right;
}


body[data-template~="farm-production"]:not([data-template*="farm-section-"]) .farm-nav-section-production,
body[data-template~="farm-section-production"] .farm-nav-section-production,
body[data-template~="farm-commercialisation"]:not([data-template*="farm-section-"]) .farm-nav-section-commercialisation,
body[data-template~="farm-section-commercialisation"] .farm-nav-section-commercialisation,
body[data-template~="farm-accounting"]:not([data-template*="farm-section-"]) .farm-nav-section-accounting,
body[data-template~="farm-section-accounting"] .farm-nav-section-accounting {
	border-color: #fff8;
}


body[data-template~="farm-production"]:not([data-template*="farm-section-"]) .farm-nav-section-production,
body[data-template~="farm-section-production"] .farm-nav-section-production {
	background-color: var(--production);
	position: relative;
	z-index: 1;
}


body[data-template~="farm-commercialisation"]:not([data-template*="farm-section-"]) .farm-nav-section-commercialisation,
body[data-template~="farm-section-commercialisation"] .farm-nav-section-commercialisation {
	background-color: var(--commercialisation);
	position: relative;
	z-index: 1;
}

body[data-template~="farm-accounting"]:not([data-template*="farm-section-"]) .farm-nav-section-accounting,
body[data-template~="farm-section-accounting"] .farm-nav-section-accounting {
	background-color: var(--accounting);
	position: relative;
	z-index: 1;
}

body:not([data-template~="farm-production"]):not([data-template~="farm-section-production"]) .farm-tabs.farm-section-production,
body[data-template*="farm-section-"]:not([data-template~="farm-section-production"]) .farm-tabs.farm-section-production {
	display: none;
}

body:not([data-template~="farm-commercialisation"]):not([data-template~="farm-section-commercialisation"]) .farm-tabs.farm-section-commercialisation,
body[data-template*="farm-section-"]:not([data-template~="farm-section-commercialisation"]) .farm-tabs.farm-section-commercialisation {
	display: none;
}

body:not([data-template~="farm-accounting"]):not([data-template~="farm-section-accounting"]) .farm-tabs.farm-section-accounting,
body[data-template*="farm-section-"]:not([data-template~="farm-section-accounting"]) .farm-tabs.farm-section-accounting {
	display: none;
}

@media (max-width: 1099px), (max-height: 649px) {

	body:not([data-template~="farm-section-production"]) .farm-tabs.farm-section-production {
		display: none;
	}

	body[data-template~="farm-section-production"] .farm-nav-section-production .farm-nav-section-down {
		display: none;
	}

	body[data-template~="farm-section-production"] .farm-nav-section-production .farm-nav-section-up {
		display: block;
	}

	body:not([data-template~="farm-section-commercialisation"]) .farm-tabs.farm-section-commercialisation {
		display: none;
	}

	body[data-template~="farm-section-commercialisation"] .farm-nav-section-commercialisation .farm-nav-section-down {
		display: none;
	}

	body[data-template~="farm-section-commercialisation"] .farm-nav-section-commercialisation .farm-nav-section-up {
		display: block;
	}

	body:not([data-template~="farm-section-accounting"]) .farm-tabs.farm-section-accounting {
		display: none;
	}

	body[data-template~="farm-section-accounting"] .farm-nav-section-accounting .farm-nav-section-down {
		display: none;
	}

	body[data-template~="farm-section-accounting"] .farm-nav-section-accounting .farm-nav-section-up {
		display: block;
	}

}
