body.template-pdf {
    background-color: white;
    line-height: 1.4;
}

html {
    font-size: 12px !important;
}
:root {
    --margin-bloc-height: 3cm;
}

.pdf-document-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0.25rem auto;
    width: 18.9cm;
}

.pdf-document-footer {
    position: fixed;
    bottom: 0;
}

.pdf-document-details-table-content {
    background-color: white;
    border: 1px solid black;
}

.pdf-document-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pdf-document-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdf-document-details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: .25rem;
}

.pdf-document-detail-label {
    text-align: right;
}

tr {
    page-break-inside: avoid;
}

.tr-fixed-height tr td {
    line-height: 0.5;
}

.text-small {
    font-size: 0.75rem;
}

.table-pdf {
    font-size: 0.85rem;
}
