/* Customers */
td.customer-item-actions {
	text-align: right;
}

td.customer-item-year-before {
	font-size: 0.8rem;
}

.customer-item-grid {
	text-align: center;
}

td.customer-item-grid {
	white-space: nowrap;
}

@media (max-width: 575px) {

	.customer-item-grid {
		display: none;
	}

}


@media (max-width: 575px) {

	th.customer-item-contact,
	td.customer-item-contact {
		display: none;
	}

}

div.customer-item-name a {
	font-size: 1.1rem;
	font-weight: bold;
	color: var(--text);
}

.customer-panel-header {
	margin-top: .5rem;
	font-size: 1.1rem;
}

/* Prices */
table.customer-price td {
	line-height: 1.4;
}

.customer-price-vignette {
	width: 4rem;
}

@media (max-width: 575px) {

	.customer-price-vignette {
		display: none;
	}
}

.customer-color-circle {
	display: inline-block;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
}

.customer-form-itself-private {
	display: none;
}

form.customer-form-private .customer-form-itself-private {
	display: block;
}

form.customer-form-unknown .customer-form-type {
	display: none;
}

form.customer-form-pro .customer-form-category:not(.customer-form-pro),
form.customer-form-private .customer-form-category:not(.customer-form-private),
form.customer-form-collective .customer-form-category:not(.customer-form-collective) {
	display: none;
}