.pdf-document-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.pdf-document-header {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: 6cm 1fr;
	height: 7cm;
	overflow: hidden;
	margin-bottom: 0.75cm;
}

.pdf-document-vendor {
	background-color: var(--background-light);
	border-radius: var(--radius);
	padding: 0.5cm;
	display: grid;
	grid-row-gap: 0.5rem;
	height: 100%;
	text-align: center;
}

.pdf-document-vendor:not(.pdf-document-vendor-with-logo) {
	align-content: center;
}

.pdf-document-vendor.pdf-document-vendor-with-logo {
	grid-template-rows: 1fr auto;
}

.pdf-document-vendor-logo {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	max-height: 3cm;
	align-self: center;
}

.pdf-document-vendor-name {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 1.3rem;
}

.pdf-document-vendor-with-logo .pdf-document-vendor-name {
	padding-top: 0.5rem;
	font-size: 1rem;
}

.pdf-document-vendor-address {
	text-align: center;
}

.pdf-document-top {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.pdf-document-structure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2.pdf-document-title {
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.2cm;
	font-size: 0.8cm;
}

.pdf-document-details {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: .25rem;
}

.pdf-document-detail-label {
	text-align: right;
}

.pdf-document-customer {
	border: 1px solid var(--border);
	border-radius: var(--radius);
	padding: 0.5cm;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 0.5rem;
}

.pdf-document-customer-name {
	font-weight: bold;
}

.pdf-document-customer-email {
	text-decoration: underline;
}

table.pdf-document-items {
	margin-bottom: 0;
}

.pdf-document-item {
	break-inside: avoid;
}

.pdf-document-item.pdf-document-item-main td {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.pdf-document-item.pdf-document-item-detail td {
	padding-top: 0;
	padding-bottom: 0;
	color: var(--muted);
	font-size: 0.9em;
	background-color: #fafafa;
}

.pdf-document-item.pdf-document-item-detail td:first-child {
	padding-left: 1cm;
	min-width: 9cm;
}

.pdf-document-product {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.pdf-document-product-details {
	font-size: 0.8rem;
	color: var(--muted);
	margin-top: 0.1cm;
}

.pdf-document-number,
.pdf-document-packaging,
.pdf-document-unit-price,
.pdf-document-vat,
.pdf-document-price {
	text-align: right;
	white-space: nowrap;
}

.pdf-document-price {
	width: 3cm;
}

table.pdf-document-items tbody tr.pdf-document-item {
	border-bottom: 1px dashed var(--background);
}

table.pdf-document-items tbody tr.pdf-document-item-total {
	border-top: 1px solid var(--border);
}

table.pdf-document-items tbody tr.pdf-document-item-total td {
	padding-top: 0.5cm;
	vertical-align: top;
}

table.pdf-document-items tbody td.pdf-document-item-quality {
	vertical-align: bottom;
	max-width: 7cm;
}

td.pdf-document-item-vat-rates {
	vertical-align: bottom;
}

div.pdf-document-vat-rates {
	border-radius: var(--radius);
	border: 1px solid var(--border);
	display: grid;
	grid-template-columns: 1fr auto auto;
	margin: 0 0 0 auto;
	padding: 0.5rem;
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.125rem;
	font-size: 0.8rem;
	width: 5cm;
}

div.pdf-document-vat-rates > * {
	padding: 0.25rem;
}

div.pdf-document-vat-rates > *:nth-child(3n + 2),
div.pdf-document-vat-rates > *:nth-child(3n + 3) {
	text-align: right;
}

.pdf-document-item-header {
	font-weight: bold;
	border-bottom: 1px solid var(--border);
	align-self: stretch;
	vertical-align: top;
}

.pdf-document-item-header.pdf-document-number,
.pdf-document-item-header.pdf-document-packaging,
.pdf-document-item-header.pdf-document-unit-price,
.pdf-document-item-header.pdf-document-price {
	text-align: right;
}

.pdf-document-total {
	break-inside: avoid;
	display: grid;
	align-items: center;
	justify-content: end;
	grid-template-columns: 2.5cm 2cm;
	grid-row-gap: 1.5rem;
}

.pdf-document-total-label {
	font-weight: bold;
}

.pdf-document-total-value {
	text-align: right;
}

.pdf-document-delivery {
	margin-bottom: 0.75cm;
	text-align: center;
	text-decoration: underline;
}

.pdf-document-quality {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}


.pdf-document-custom-bottom,
.pdf-document-payment {
	margin-top: .5cm;
	padding-top: .5cm;
	border-top: 1px solid var(--border);
	break-inside: avoid;
}

.pdf-document-payment h4 {
	font-weight: bold;
	font-size: 1.1rem;
}


.pdf-document-custom-bottom p,
.pdf-document-payment p {
	margin-bottom: 0.25rem;
}

.pdf-document-custom-top {
	padding: .5cm;
	border: 1px solid var(--border);
	border-radius: var(--radius);
	break-inside: avoid;
	margin-bottom: .5cm;
}

.pdf-document-custom-top p {
	margin-bottom: 0.25rem;
}

.pdf-label-wrapper {
	display: grid;
	width: 19.5cm;
	height: 28.2cm;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, auto);
	grid-gap: 0.75cm;
	page-break-after: always;
}

.pdf-label-item {
	position: relative;
	border: 2px solid var(--text);
	background-color: white;
	line-height: 1.2;
	display: grid;
	grid-template-columns: 11fr 20fr;
}

.pdf-label-item:nth-child(even) {
	margin-right: 0.25cm;
}

.pdf-label-color {
	border-right-width: 3px;
	padding-right: 0.5rem;
}

.pdf-label-customer {
	position: absolute;
	right: -1.45rem;
	width: 1cm;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}

.pdf-label-customer > span {
	transform: rotate(-90deg);
	transform-origin: center center;
	white-space: nowrap;
	background-color: white;
	padding: 0.25rem 0.5rem;
}


.pdf-label-vendor {
	border-right: 2px solid var(--text);
	display: grid;
	grid-auto-flow: row;
	align-items: center;
	justify-items: center;
	padding: 0.2cm;
}

.pdf-label-farm {
	text-align: center;
	font-size: 0.7rem;
	font-weight: bold;
	align-self: start;
}

.pdf-label-logo {
	width: 100%;
	height: 1.5cm;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.pdf-label-address {
	font-size: 0.6rem;
	text-align: center;
	line-height: 1;
}

.pdf-label-quality {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 0.15cm;
	font-size: 0.7rem;
	align-items: center;
	font-weight: bold;
}

.pdf-label-content {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	align-items: stretch;
	width: 100%;
	font-size: 0.8rem;
	letter-spacing: -0.3px;
}

.pdf-label-content > * {
	background-color: white;
	display: flex;
	align-items: center;
}

.pdf-label-content > *:not(.pdf-label-content-last) {
	border-bottom: 2px solid var(--text);
}

.pdf-label-content > *:nth-child(odd) {
	padding-right: 0.5cm;
	padding-left: 0.25cm;
}

.pdf-label-content > *:nth-child(even) {
	font-weight: bold;
}

@media print{
	@page {
		size: landscape
	}
}

.pdf-sales-summary-wrapper {
	page-break-after: always;
}

.pdf-sales-summary-wrapper h1,
.pdf-sales-summary-wrapper h2 {
	text-align: center;
}

table.pdf-sales-summary {
	margin-top: 0.5cm;
}

.pdf-sales-summary td {
	padding-top: 0.1cm;
	padding-bottom: 0.1cm;
}

.pdf-sales-summary-comment {
	width: 15cm;
}

.pdf-sales-summary-quantity {
	font-size: 1.3rem;
	font-weight: lighter;
	padding-right: 0;
}

.pdf-sales-label-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 19.9cm;
	grid-gap: 0.5cm;
	page-break-after: always;
}

.pdf-sales-label-item {
	position: relative;
	border: 2px solid var(--text);
	background-color: white;
	line-height: 1.2;
	display: grid;
	grid-template-columns: 9fr 20fr;
	grid-template-rows: min-content auto;
}

.pdf-sales-label-address {
	font-size: 1rem;
}

.pdf-sales-label-details {
	border-right: 2px solid var(--text);
	display: grid;
	grid-template-columns: 1fr;
	padding: 0.15cm;
}

.pdf-sales-label-details-next {
	background-color: var(--background);
}

.pdf-sales-label-customer {
	grid-column: span 2;
	height: 1cm;
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	font-size: 1.3rem;
	border-bottom: 2px solid var(--text);
	padding: 0 1rem;
}

.pdf-sales-label-page {
	margin-left: 0.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
	background-color: black;
	color: white;
	font-size: 80%;
}

.pdf-sales-label-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pdf-sales-label-detail:not(:last-child) {
	border-bottom: 1px dashed var(--border);
}

.pdf-sales-label-detail-title {
	color: var(--muted);
	text-align: center;
	margin-bottom: 0.25rem;
	font-size: 0.9rem;
}

.pdf-sales-label-detail-value {
	font-weight: bold;
	text-align: center;
}

.pdf-sales-label-content {
	align-self: start;
	display: grid;
	grid-template-columns: auto auto max-content;
	grid-template-rows: auto;
	grid-row-gap: 0.15cm;
	align-items: stretch;
	width: 100%;
	font-size: 0.8rem;
	padding: 0.25cm;
}

.pdf-sales-label-content > * {
	border-bottom: 1px solid var(--border);
	padding-bottom: 0.05cm;
}

.pdf-sales-label-content-shrink {
	letter-spacing: -0.2px;
}

.pdf-sales-label-content-shrink-strong {
	letter-spacing: -0.3px;
}

.pdf-sales-label-content > *:nth-child(3n + 2) {
	font-weight: bold;
	padding-left: 0.5cm;
}