td.stock-item-actions {
	text-align: right;
}

td.stock-item-name {
	line-height: 1.3;
}

@media (max-width: 767px) {

	td.stock-item-name {
		max-width: 8rem;
	}

}

td.stock-item-value {
	font-weight: bold;
	text-align: right;
	font-size: 1.2rem;
	padding-left: 1rem;
}

td.stock-item-unit {
	padding-left: 0;
	padding-right: 1rem;
	font-size: 1.2rem;
	line-height: 1;
}

@media (max-width: 767px) {

	td.stock-item-value {
		padding-left: 0.25rem;
	}

	td.stock-item-unit {
		padding-right: 0.25rem;
	}

}

td.stock-item-unit a,
td.stock-item-value a {
	color: var(--text);
	display: block;
	margin: -1rem -0.5rem;
	padding: 1rem 0.5rem;
	text-decoration: none;
}

td.stock-item-comment {
	font-size: 0.9rem;
	color: var(--muted);
}

@media (max-width: 767px) {

	td.stock-item-stock-updated {
		padding-left: 0;
		line-height: 1.4;
		font-size: 0.9rem;
	}

}

.stock-item-stock-updated-comment {
	font-size: 0.8rem;
	line-height: 1.2;
	color: var(--muted);
}

.stock-item-main:not(:last-child) {
	margin-bottom: 0.25rem;
}

.stock-item-sibling {
	color: var(--muted);
	font-size: .9rem;
}

a.stock-item-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--secondary);
	color: white;
	line-height: 1;
	font-weight: bold;
	font-size: 1.2rem;
}

@media (max-width: 767px) {

	a.stock-item-button {
		width: 1.75rem;
		height: 1.75rem;
	}

}

a.stock-item-button:hover {
	color: white;
	text-decoration: none;
}