div.legal-friend {
	display: flex;
	align-items: center;
	border: 1px solid #e5e5e5;
	padding: 2rem;
	background-color: white;
}

@media (max-width: 767px) {

	div.legal-friend {
		flex-wrap: wrap;
	}

}

@media (min-width: 768px) {

	div.legal-friend-presentation {
		padding-right: 2rem;
	}

}
