#shop-order-nav {

}
#shop-order-nav ol {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0;
	margin: 0;
}

#shop-order-nav ol li {
	counter-increment: steps;
	display: inline-block;
	margin: 0;
}

#shop-order-nav ol li > *::before {
	content: counter(steps) " - ";
}

.basket-flow {
	background-color: var(--secondary);
	border-radius: var(--radius);
	padding: 1rem;
	color: white;
}

@media (min-width: 576px) {

	.basket-flow {
		display: inline-block;
	}

}


.shop-payments {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr auto auto;
	grid-gap: 1rem;
}

@media (min-width: 576px) and (max-width: 767px) {

	.shop-payments {
		grid-template-columns: 1fr 1fr;
	}

}

@media (max-width: 575px) {

	.shop-payments {
		grid-template-columns: 1fr;
	}

}

.shop-payment {
	display: grid;
	grid-gap: 1rem;
	grid-row: span 3;
	transition: border-color 0.5s;
	color: var(--text);
	border: 2px solid var(--border);
}

@supports (grid-template-columns: subgrid) {

	.shop-payment {
		grid-template-rows: subgrid;
	}

}

.shop-payment h4 {
	color: var(--text);
	font-size: 1.5rem;
	font-weight: lighter;
}

.shop-payment:hover {
	text-decoration: none;
	border-color: var(--secondary);
}

.shop-payment .btn {
	white-space: normal;
}

.shop-payment-description {
	margin-bottom: 0;
}

.shop-payment-cancel {
	color: var(--secondary);
}

.sale-confirmation-container {
	margin-bottom: 2rem;
}

#shop-basket-summary-list td.basket-summary-product {
	line-height: 1.4;
}

@media (max-width: 575px) {

	#shop-basket-summary-list td.basket-summary-product {
		letter-spacing: -0.1px;
	}

}

.basket-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem
}