.department-vignette-wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
}

.department-vignette-wrapper > * {
	padding: 0 1rem;
}

.department-vignette-wrapper > *:not(:last-child) {
	border-right: 1px solid var(--border);
}

label.department-vignette-empty  {
	display: flex;
	align-items: center;
}

label.department-vignette-icon  {
	transition: all 0.25s;
	cursor: pointer;
}

label.department-vignette-icon:has(> input:checked),
label.department-vignette-icon:hover {
}

label.department-vignette-icon:has(> input:checked) svg,
label.department-vignette-icon:hover svg {
	stroke-width: 4px;
}

.department-vignette {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}

.department-vignette svg {
	stroke: var(--text);
	stroke-width: 2px;
	transition: all 0.25s;
}