div.point-wrapper {
	display: grid;
	align-items: start;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
}

@media(max-width: 767px) {

	div.point-wrapper {
		grid-template-columns: 1fr;
	}

}

div.point-list:not(:last-child) {
	margin-bottom: 1rem;
}

.point-element {
	display: block;
}

.point-element:not(:last-child) {
	padding-bottom: 1rem;
}

.point-element:not(:first-child) {
	padding-top: 1rem;
}

label.point-element {
	cursor: pointer;
}

.point-element:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

div.point-update {
	width: 2.5rem;
	height: 2.5rem;
}

div.point-update-content {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px solid var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-size: 1.75rem;
}

div.point-update input {
	display: none;
}

div.point-update input:checked + .point-update-content,
label.point-element:hover .point-update-content {
	border: 0;
	background-color: var(--secondary);
	color: white;
}

label.point-element:not(:hover) div.point-update input:not(:checked) + .point-update-content svg {
	opacity: 0;
}

div.point-name {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: start;
	column-gap: 0.75rem;
}

div.point-name svg.point-icon {
	font-size: 1.25rem;
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}

div.point-name h4 {
	margin-bottom: 0;
}

div.point-name > div:last-child {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.point-description  {
	font-size: 0.9rem;
}

.point-address {
	display: block;
	font-weight: normal;
	line-height: 1;
	margin-top: 1rem;
	margin-left: 2.25rem;
	color: var(--muted);
}

label.point-element .point-address {
	margin-left: 3.25rem;
}

.point-badge {
	margin-top: 0.5rem;
	margin-left: 2.25rem;
}

.point-badge .util-badge {
	font-size: 90%;
	color: var(--text);
	background-color: var(--background-light);
}

.point-badge .util-badge.point-order-min:not(.point-badge-selected) {
	color: var(--danger);
}

.point-badge .util-badge.point-badge-selected {
	color: var(--success);
}

.point-badge .util-badge:not(.point-badge-selected) .point-shipping-charged,
.point-badge .util-badge.point-badge-selected .point-shipping-free {
	text-decoration: underline;
}

label.point-element .point-badge {
	margin-left: 3.25rem;
}