body[data-template~="game"] {
	background: var(--background-game);
}

body[data-template~="game"] main {
	padding-top: 2rem;
}

@media (min-width: 991px) and (max-width: 1399px) {
    html:has(body[data-template~="game"]) {
        font-size: 14px;
    }
}

body[data-template~="game"] .util-box-sticked {
	width: 25rem;
	left: calc(50vw - 12.5rem);
	font-size: 1.5rem;
	line-height: 1.4;
	text-align: center;
	background-color: var(--game);
	box-shadow: 0 0 5rem black;
}

body[data-template~="game"] h1 {
	font-family: 'Mystery Quest', serif;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 4rem;
}

@media (min-width: 768px) {

	body[data-template~="game"] h1 {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}

}



.game-boards {
	display: flex;
	justify-content: center;
	gap: 1rem;
	transform: translate(0, 2rem);
	position: relative;
	z-index: 1;
}

.game-board svg {
	font-size: 1.5rem;
}

.game-board-label {
	margin-top: .75rem;
}

.game-board-disabled {
	opacity: 0.5;
	cursor: initial !important;
}

.game-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	column-gap: 1rem	;
}

.game-menu > .input-group {
	width: max-content;
}

#game-tabs {
	max-width: 50rem;
	margin: 0 auto 3rem auto;
}

#game-tabs .tabs-item {
	border-color: var(--game);
}

#game-tabs .tab-item:hover,
#game-tabs .tab-item.selected {
	background-color: var(--game);
}

.game-intro {
	max-width: 50rem;
	margin: 0 auto 2rem auto;
}

.game-intro h2,
.game-intro h3 {
	text-align: center;
}

.game-intro h3 {
	font-size: 1.5rem;
}

.game-intro h2 {
	font-size: 2rem;
}

a.game-intro-start {
	border: 2px solid var(--game);
	background-color: white;
	color: var(--game);
	font-size: 1.75rem;
	border-radius: 2rem;
	padding: 1rem 2rem;
	font-weight: lighter;
	text-decoration: none;
	transition: all 0.5s;
}

a.game-intro-start:hover  {
	border-color: white;
	background-color: var(--game);
	color: white;
}

.game-intro-disclaimer {
	color: var(--primary);
	text-align: center;
	margin-top: 2rem;
}

.game-intro-disclaimer p {
	font-style: italic;
}

.game-intro-disclaimer a {
	text-decoration: underline;
}

.game-dashboard {
	display: grid;
	max-width: 70rem;
	margin: auto;
	grid-template-columns: auto minmax(auto, 40vw) auto;
	background-color: #fbf5eb;
	border-radius: var(--radius);
}

@media (min-width: 576px) {

	.game-dashboard {
		grid-template:
			"title title title" auto
			"time production points" auto / auto minmax(auto, 40vw) auto;
	}

}

@media (max-width: 575px) {

	.game-dashboard {
		grid-template:
			"title" auto
			"production" auto
			"time" auto
			"points" auto / 1fr;
	}

}

@media (min-width: 1100px) {

	.game-dashboard {
		position: sticky;
		top: 0;
		z-index: 2;
	}

}

.game-dashboard > * {
	padding: 1rem;
}

.game-dashboard > h3 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	height: var(--mainNav);
	display: flex;
	align-items: center;
	justify-content: center
}

@media (max-width: 575px) {

	.game-dashboard > *:not(:last-child) {
		border-bottom: 1px solid var(--border);
	}

}

@media (min-width: 575px) {

	.game-dashboard > h3 {
		border-bottom: 1px solid var(--border);
	}

	.game-dashboard > div:not(:last-child) {
		border-right: 1px solid var(--border);
	}

}

.game-dashboard > div {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 575px) {

	.game-dashboard-title {
		white-space: nowrap;
	}

	.game-dashboard-title br {
		display: none;
	}

}

@media (min-width: 576px) {

	.game-dashboard-title {
		margin-bottom: .75rem;
	}

}

@media (min-width: 992px) {

	.game-dashboard-title br {
		display: none;
	}

}

.game-dashboard-value {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.game-dashboard-item {
	padding: 0.375rem 0.5rem;
	border-radius: var(--radius);
	border: 1px solid var(--border);
}

.game-dashboard-item a {
	color: var(--primary);
	text-decoration: none;
}

.game-dashboard-more {
	margin-top: 0.25rem;
	font-size: 0.9rem;
	letter-spacing: -0.1px;
	color: var(--game);
}

.game-desk {
	aspect-ratio: calc(77 / 58);
	position: relative;
	background-size: cover;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 992px) {

	.game-desk {
		width: 100%;
		max-width: 70rem;
	}

}

@media (max-width: 991px) {

	.game-desk-wrapper {
		margin-left: calc(-1 * var(--container-padding));
		margin-right: calc(-1 * var(--container-padding));
		width: var(--screen-width);
		overflow: hidden;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.game-desk {
		width: 120vw;
		transform: translate(-10vw, 0);
	}

}

@media (max-width: 767px) {

	.game-desk {
		width: 160vw;
		transform: translate(-30vw, 0);
	}

}

.game-tile {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12.6%;
	width: 16.1%;
	transition: background-color 0.5s;
	pointer-events: none;
	font-size: 1.2rem;
}

.game-tile:not(.game-tile-growing) {
	clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
}

.game-tile-1 {
	left: 16.2%;
	top: 48.8%;
}

.game-tile-2 {
	left: 24.8%;
	top: 42.3%;
}

.game-tile-3 {
	left: 33.0%;
	top: 35.8%;
}

.game-tile-4 {
	left: 41.2%;
	top: 28.9%;
}

.game-tile-5 {
	left: 24.8%;
	top: 55.7%;
}

.game-tile-6 {
	left: 33.0%;
	top: 48.8%;
}

.game-tile-7 {
	left: 41.4%;
	top: 42.3%;
}

.game-tile-8 {
	left: 49.3%;
	top: 35.7%;
}

.game-tile-9 {
	left: 33.0%;
	top: 62.8%;
}

.game-tile-10 {
	left: 41.4%;
	top: 55.9%;
}

.game-tile-11 {
	left: 49.5%;
	top: 49.0%;
}

.game-tile-12 {
	left: 57.6%;
	top: 42.3%;
}

.game-tile-13 {
	left: 41.3%;
	top: 69.5%;
}

.game-tile-14 {
	left: 49.5%;
	top: 62.8%;
}

.game-tile-15 {
	left: 57.6%;
	top: 55.9%;
}

.game-tile-16 {
	left: 65.9%;
	top: 49.0%;
}

.game-tile-action {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 75%;
	height: 75%;
	text-align: center;
	color: white;
	text-decoration: none;
	transition: all 0.5s;
	font-weight: bold;
	line-height: 1.2;
	pointer-events: auto;
}

.game-tile:has(.game-tile-harvest) .game-tile-action {
	margin-top: -12%;
}

a.game-tile-action {
	text-decoration: none;
	color: white;
}

.game-tile-action-label {
	font-size: 0.8rem;
	margin-top: 0.125rem;
	color: #fffa;
}

.game-tile-action-start {
	font-size: 1.5rem;
}

.game-tile:has([data-dropdown-display]) .game-tile-action-start,
.game-tile-action-start:hover {
	font-size: 2rem;
}

.game-tile-harvest {
	position: absolute;
	top: 60%;
	left: 25%;
	width: 50%;
	border-radius: var(--radius);
	text-align: center;
	background-color: #e5e3e3;
	text-decoration: none;
	font-size: 0.9rem;
	pointer-events: auto;
	line-height: 1.2;
	padding: 0.125rem 0;
}

@media (max-width: 575px) {

	.game-tile-harvest {
		top: 50%;
		font-size: 0.8rem;
		line-height: 1;
	}

}

a.game-tile-harvest {
	color: var(--text);
	border: 2px solid var(--text);
	text-decoration: none;
	padding: 0.25rem 0;
	transition: all .5s;
}

a.game-tile-harvest:hover {
	background-color: white;
}

.game-tile-harvest-now {
	font-weight: bold;
	text-transform: uppercase;
}

@media (max-width: 575px) {

	.game-tile-harvest {
		font-size: 0.8rem;
	}

}

.game-table th {
	white-space: nowrap;
}

.game-table td.game-table-bonus {
	text-align: right;
	font-size: .8rem;
}

.game-table .game-table-separator {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff3;
}

.game-home {
	padding: 2rem;
	border-radius: var(--radius);
	margin-bottom: 2rem;
	background-color: var(--game);
	color: white;
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 1rem;
}

.game-home-links {
	display: flex;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.game-home h4 {
	font-family: 'Mystery Quest', serif;
	font-size: 2.25rem;
}

.game-home h2 {
	font-size: 2rem;
}

.game-home img {
	width: 30vw;
	max-width: 25rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

@media (max-width: 767px) {

	.game-home img {
		display: none;
	}

}

.game-home-button {
	background-color: var(--background-game);
	color: var(--game);
}

.game-home-button:hover {
	color: var(--game);
}