tr.company-admin-closed {
	text-decoration: line-through;
	opacity: 0.5;
}

td.company-admin-vignette {
	width: 48px;
}

td.company-admin-vignette img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}