body.dropdown-fullscreen-open[data-touch="no"][data-template~="farm-accounting"] {
	padding-right: 0;
}
a.inactive:hover,
.btn.inactive:hover {
	background-color: inherit;
	border-color: inherit;
}

a.inactive,
.btn.inactive {
	cursor: not-allowed;
	opacity: 1;
  	color: var(--background-body) !important;
}

span.undefined {
	font-style: italic;
	opacity: 0.5;
}

.util-quick-dropdown .form-info {
	color: var(--muted-light);
}

div.financial-year-dropdown,
div.operation-asset-dropdown,
div.operation-comment-dropdown {
	border-radius: calc(var(--radius) / 2);
	background-color: var(--secondary);
	color: white;
	padding: 0.5rem;
	line-height: 1.4;
	max-width: 30rem;
}

div.single-checkbox {
	border: 1px solid #0002;
	padding: 1rem 0.5rem;
	border-radius: var(--radius);
}
div.single-checkbox > label.field-checkbox {
	display: flex;
	align-items: center;
	gap: 1rem;
}
div.util-unit > div.util-quick {
	border: 0;
}

table.table-bordered {
	width: 100%;
	border-collapse: separate; /* Don't collapse */
	border-spacing: 0;
}

table.table-bordered thead.thead-sticky td[colspan],
table.table-bordered thead.thead-sticky th[colspan] {
	border-top: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

table.table-bordered thead.thead-sticky td:not([colspan]),
table.table-bordered thead.thead-sticky th:not([colspan]) {
	/* Apply both top and bottom borders to the <th> */
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

tr.border-top,
td.border-top,
th.border-top {
	border-top: 1px solid var(--border);
}

td.border-bottom,
th.border-bottom {
	border-bottom: 1px solid var(--border);
}

th.no-border-left,
td.no-border-left {
	border-left: 0!important;
}

table.table-bordered tbody td {
	/* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

table.table-bordered th:first-child,
table.table-bordered td:first-child {
	/* Apply a left border on the first <td> or <th> in a row */
	border-left: 1px solid var(--border);
}

table.table-bordered th:first-child.no-border,
table.table-bordered td:first-child.no-border {
	/* For cells which are the firsts after a rowspan */
	border-left: none;
}

thead.thead-sticky td,
thead.thead-sticky th {
	background-color: #edecec;
}

tr.tr-border-top {
	border-top: 1px dotted var(--secondary);
}

tr.tr-border-bottom {
	border-bottom: 1px dotted var(--secondary);
}

.table-container {
	overflow-x: auto;
	overflow-y: hidden;
	width: calc(100vw - var(--nav-width) - 4rem);
}
@media (max-width: 1199px) {

	.table-container {
		width: calc(100vw - var(--nav-width) - 2rem);
	}

}
@media (min-width: 1200px) {

	.table-container {
		width: calc(100vw - var(--nav-width) - 4rem);
	}

}

tr.account_not-visible {
	color: var(--muted);
	text-decoration-line: line-through;
}

.company_form_group-with-tip:not(:has(div.form-control-field)),
.company_form_group-with-tip:has(div.form-control-field) div.form-control-field {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.dropdown-list-minimalist:has([data-ajax-form^="/@module/"]) {
	min-width: 50%;
}
.dropdown-list-minimalist:has([data-ajax-form="/@module/"]) div.util-quick-form > div {
	margin: 1rem 0;
}
