.btn.inactive:hover {
	color: inherit;
	background-color: inherit;
	border-color: inherit;
}
.btn.inactive {
	cursor: initial;
	opacity: 0.33;
}

span.undefined {
	font-style: italic;
	opacity: 0.5;
}

tr.row-emphasis {
	background-color: var(--account-group) !important;
}

tr.row-highlight {
	background-color: var(--background-highlight) !important;
}

tr.row-upper,
tr.row-upper td,
tr.row-upper th {
	text-transform: uppercase;
}

tr.row-bold > td {
	font-weight: bold;
}
tr.row-light > td {
	opacity: 0.5;
}

.util-quick-dropdown .form-info {
	color: var(--muted-light);
}

tr.row-header,
tr.row-header td,
tr.row-header th
{
	background-color: var(--background-dark) !important;
	font-weight: bold;
}

div.financial-year-dropdown,
div.operation-asset-dropdown,
div.operation-comment-dropdown {
	border-radius: calc(var(--radius) / 2);
	background-color: var(--secondary);
	color: white;
	padding: 0.5rem;
	line-height: 1.4;
	max-width: 30rem;
}

div.util-unit > div.util-quick {
	border: 0;
}

table.table-bordered {
	width: 100%;
	border-collapse: separate; /* Don't collapse */
	border-spacing: 0;
}

table.table-bordered thead.thead-sticky td[colspan],
table.table-bordered thead.thead-sticky th[colspan] {
	border-top: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

table.table-bordered thead.thead-sticky td:not([colspan]),
table.table-bordered thead.thead-sticky th:not([colspan]) {
	/* Apply both top and bottom borders to the <th> */
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

tr.border-top,
td.border-top,
th.border-top {
	border-top: 1px solid var(--border);
}

td.border-bottom,
th.border-bottom {
	border-bottom: 1px solid var(--border);
}

th.no-border-left,
td.no-border-left {
	border-left: 0!important;
}

table.table-bordered tbody td {
	/* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

table.table-bordered th:first-child,
table.table-bordered td:first-child {
	/* Apply a left border on the first <td> or <th> in a row */
	border-left: 1px solid var(--border);
}

table.table-bordered th:first-child.no-border,
table.table-bordered td:first-child.no-border {
	/* For cells which are the firsts after a rowspan */
	border-left: none;
}

thead.thead-sticky {
	position: sticky;
	top: calc(var(--mainSticky) - 1px);
	z-index: 1;
}
thead.thead-sticky td,
thead.thead-sticky th {
	background-color: #edecec;
}

tr.tr-border-top {
	border-top: 1px dotted var(--secondary);
}

.table-container {
	overflow-x: auto;
	overflow-y: hidden;
	width: calc(100vw - var(--nav-width) - 4rem);
}
@media (max-width: 1199px) {

	.table-container {
		width: calc(100vw - var(--nav-width) - 2rem);
	}

}
@media (min-width: 1200px) {

	.table-container {
		width: calc(100vw - var(--nav-width) - 4rem);
	}

}
