/* List of companies */
.employee-companies {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin: 2rem 0;
}

@media (max-width: 1199px) {

	.employee-companies {
      grid-template-columns: 1fr 1fr;
	}

}

@media (max-width: 767px) {

	.employee-companies {
      grid-template-columns: 1fr;
	}

}

.employee-companies-item {
	display: grid;
	grid-template: "vignette content" 1fr / 6rem 1fr;
	grid-column-gap: 1rem;
	align-items: center;
}

a.employee-companies-item {
	text-decoration: none;
	color: var(--secondary);
	background: white;
	padding: 1rem;
	border-radius: var(--radius);
}

@media (max-width: 767px) {
	
	.employee-companies-item {
		grid-column-gap: 1rem;
	}

}

div.employee-companies-item-vignette {
	grid-area: vignette;
}

div.employee-companies-item-content {
	grid-area: content;
	transition: color .5s;
}

a.employee-companies-item:hover div.employee-companies-item-content {
	color: var(--primary);
}

div.employee-companies-item-content h4 {
   font-size: 1.6rem;
	margin-bottom: 0.5rem;
   font-weight: lighter;
}

div.employee-companies-item-infos {
	color: var(--muted);
	font-size: 0.9rem;
	margin: 0.25rem 0;
}

/* Company update */
#company-update .media-image-upload[data-type="company-vignette"] {
	border-radius: var(--radius);
}

.company-settings-subtitle {
	line-height: 1.7;
	opacity: 0.7;
}
