body.template-pdf {
	background-color: white;
	line-height: 1.4;
}

html {
	font-size: 12px !important;
}
:root {
	--margin-bloc-height: 3cm;
}

.pdf-document-wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0.25rem auto;
	width: 18.9cm;
}

.pdf-document-top {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.pdf-document-structure {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pdf-document-details {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: .25rem;
}

.pdf-document-detail-label {
	text-align: right;
}

.pdf-text-small {
	font-size: 0.75rem;
}

table.pdf-table-bordered {
	border: 1px solid black;
	page-break-after: always;
}

.pdf-table-bordered thead tr,
tr.overview_group-title,
tr.overview_group-total,
tr.pdf-tr-title {
	background-color: var(--accounting) !important;
	color: white;
}
tr.pdf-tr-total-general {
	text-transform: uppercase;
}
tr.pdf-tr-total-general > td {
	text-align: right;
}

table.pdf-table-bordered tr:nth-child(odd) td {
	background-color: #0001;
}

tr {
	break-inside: avoid;
}

tr.pdf-tr-muted {
	font-style: italic;
	color: var(--muted);
}
tr.pdf-tr-muted.pdf-tr-ml-1 > td:first-child {
	padding-left: 0.5cm;
}

