.cashflow-status-label {
	border-radius: var(--radius);
	display: inline-block;
}

.cashflow-status-label {
	color: white;
	font-weight: bold;
}

@media (max-width: 767px) {

	.cashflow-status-mobile {
		display: inline-block;
		margin-top: 0.25rem;
		font-size: 0.9rem;
		text-align: right;
	}

}

.cashflow-status-allocated {
	color: var(--success);
}

.cashflow-status-label.cashflow-status-allocated {
	border: 1px solid var(--success);
}
.cashflow-status-waiting {
	color: var(--todo);
}

.cashflow-status-label.cashflow-status-waiting {
	border: 1px solid var(--todo);
}
.cashflow-status-deleted {
	color: var(--muted);
}

.cashflow-status-label.cashflow-status-deleted {
	border: 1px solid var(--muted);
}

/* Allocating form */
.cashflow-create-operation-general {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	grid-gap: 0.5rem;
	align-items: center;
}
.cashflow-operation-create-title {
	background-color: var(--background-light);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-radius: var(--radius);
}
.operation-create .cashflow-create-operation-validate div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	padding: 0.5rem;
	border-radius: 8px;
}

#bank-cashflow-deallocate > div.panel-header > a,
#bank-cashflow-allocate > div.panel-header > a,
#panel-bank-cashflow-copy div.panel-header > a,
#journal-operation-update[data-cashflow] > div.panel-header > a {
	display: none;
}
#bank-cashflow-deallocate div.panel-title-container,
#bank-cashflow-allocate div.panel-title-container,
#panel-bank-cashflow-copy div.panel-title-container,
#journal-operation-update[data-cashflow] div.panel-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

[cashflow-allocate-difference-value] {
	font-weight: bold;
	white-space: nowrap;
}
@media (min-width: 768px) {
	.operation-create-validation {
		background-color: white !important;
		position: sticky;
		right: 0;
	}
}
.cashflow-create-operation-validate.danger > div {
	color: white;
	background-color: var(--danger) !important;
}
#cashflow-allocate-difference-warning {
	text-align: center;
    border-radius: var(--radius);
    background: var(--danger);
    color: white;
    padding: 1rem;
    width: 100%;
    line-height: 1.3;
}

.cashflow-create-operation-validate.warning {
	align-content: baseline;
	margin-top: -0.5rem;
}
.cashflow-create-operation-validate.warning > div {
	color: white;
	background-color: var(--warning) !important;
}

.operation-create .cashflow-create-operation-validate {
	color: var(--primary);
}

.cashflow-invoice {
    color: var(--success);
    cursor: help;
}

.cashflow-strikethrough {
	text-decoration: line-through;
	color: var(--muted);
}

.cashflow-attach-panel-validate {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-items: center;
}

#cashflow-list table tbody tr td:not(:has(a.btn)) {
	padding-top: 0.75rem;
}

#bank-cashflow-allocate #operation-create-list {
	margin-top: 1rem;
}

#bank-cashflow-copy-table tr.tr-title,
#bank-cashflow-copy-table td a:has(svg.asset-icon-piggy-bank) {
	display: none;
}
