
.cashflow-status-label {
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    display: inline-block;
}

.cashflow-status-label {
    color: white;
    font-weight: bold;
}

@media (max-width: 767px) {

    .cashflow-status-mobile {
        display: inline-block;
        margin-top: 0.25rem;
        font-size: 0.9rem;
        text-align: right;
    }

}

.sale-payment-status-allocated {
    background-color: var(--success);
}

.cashflow-status-waiting {
    color: var(--todo);
}

.cashflow-status-label.cashflow-status-waiting {
    background-color: var(--todo);
    color: white;
}

.cashflow-status-allocated {
    color: var(--success);
}


/* Allocating form */
.create-operation-cashflow-general {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-gap: 0.5rem;
    align-items: center;
}
.create-operation-cashflow-title {
    background-color: var(--background-light);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: var(--radius);
}
.create-operation .create-operation-validate div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0.5rem;
    border-radius: 8px;
}

.panel-header-content .create-operations-container > div:nth-child(2n+1),
.panel-header-content .create-operations-container > * {
    background-color: transparent !important;
}

#bank-cashflow-allocate > div.panel-header > a {
    display: none;
}
#bank-cashflow-allocate div.panel-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-operation-total {
    display: flex !important;
    flex-direction: column;
    align-self: baseline;
    justify-content: end;
}

.create-operation-total .amount {
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--primary);
    color: white;
    border-radius: 8px;
}
.create-operation-total .warning {
    font-size: 0.9rem;
    color: white;
    background-color: var(--danger);
    border-radius: 8px;
    margin-top: 0.5rem;
    text-align: center;
}
@supports (grid-template-columns: subgrid) {

    .create-operation-total {
        grid-row: span 2 !important;
    }

    .cashflow-warning {
        grid-row: span 3;
    }

}
#cashflow-allocate-difference-value {
    font-weight: bold;
}
.create-operation-validate.danger > div {
    color: white;
    background-color: var(--danger) !important;
}
.cashflow-warning {
    align-content: end;
}
#cashflow-allocate-difference-warning {
    text-align: center;
}
.create-operation-validate.warning {
    align-content: baseline;
    margin-top: -0.5rem;
}
.create-operation-validate.warning > div {
    color: white;
    background-color: var(--warning) !important;
}

.create-operation-validation {
    margin-left: 0.5rem;
}

.create-operation-validation > .btn {
    display: block;
}

.create-operation .create-operation-validate {
    color: var(--primary);
}
