
.cashflow-status-label {
	border-radius: var(--radius);
	display: inline-block;
}

.cashflow-status-label {
	color: white;
	font-weight: bold;
}

@media (max-width: 767px) {

	.cashflow-status-mobile {
		display: inline-block;
		margin-top: 0.25rem;
		font-size: 0.9rem;
		text-align: right;
	}

}

.cashflow-status-allocated {
	color: var(--success);
}

.cashflow-status-label.cashflow-status-allocated {
	border: 1px solid var(--success);
}
.cashflow-status-waiting {
	color: var(--todo);
}

.cashflow-status-label.cashflow-status-waiting {
	border: 1px solid var(--todo);
}
.cashflow-status-deleted {
	color: var(--muted);
}

.cashflow-status-label.cashflow-status-deleted {
	border: 1px solid var(--muted);
}

/* Allocating form */
.cashflow-create-operation-general {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	grid-gap: 0.5rem;
	align-items: center;
}
.cashflow-operation-create-title {
	background-color: var(--background-light);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-radius: var(--radius);
}
.operation-create .cashflow-create-operation-validate div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	padding: 0.5rem;
	border-radius: 8px;
}

#bank-cashflow-allocate > div.panel-header > a,
#journal-operation-update > div.panel-header > a {
	display: none;
}
#bank-cashflow-allocate div.panel-title-container,
#journal-operation-update div.panel-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#cashflow-allocate-difference-value {
	font-weight: bold;
}
.cashflow-create-operation-validate.danger > div {
	color: white;
	background-color: var(--danger) !important;
}
.cashflow-warning {
	align-content: end;
}
#cashflow-allocate-difference-warning {
	text-align: center;
}

.cashflow-create-operation-validate.warning {
	align-content: baseline;
	margin-top: -0.5rem;
}
.cashflow-create-operation-validate.warning > div {
	color: white;
	background-color: var(--warning) !important;
}

.operation-create .cashflow-create-operation-validate {
	color: var(--primary);
}

.cashflow-invoice {
    color: var(--success);
    cursor: help;
}

.cashflow-strikethrough {
	text-decoration: line-through;
	color: var(--muted);
}
