.stripe-button {
    position: relative;
}

.stripe-button-loading .stripe-button-text {
    visibility: hidden;
    opacity: 0;
}

.stripe-button-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: stripe-button-loading-spinner 1s ease infinite;
}

@keyframes stripe-button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}