
ul.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.operation-info {
	font-size: .9rem;
	font-weight: normal;
	color: var(--muted);
	margin-top: .25rem;
}
table.no-background tbody {
	background-color: white;
}

form[data-ajax-form="/@module/journal/Operation/doQuick"] {
	min-width: 25rem;
}

.journal-title-buttons {
	display: flex;
	gap: 0.25rem;
}

.rowspaned-center {
	vertical-align: middle;
}
.td-description {
	font-size: 0.95rem;
	color: var(--muted);
}

.td-description > div > span {
	margin-top: 0.15rem;
	cursor: help;
}
.operations-delete-more {
	font-size: 0.85rem;
	font-weight: lighter;
	opacity: 0.8;
	font-style: italic;
}
.journal-operation-description {
	cursor: help;
}

.journal-operation-actions {
	display: flex;
	gap: 0.5rem;
}
.journal-operation-actions > .journal-operation-action-icon {
	width: 15px;
}

.journal-operation-action-icon span[data-is-updatable]:hover {
	color: var(--text) !important;
	opacity: 1;
}

tr[name^="operation"]:has(input[name="batch[]"]:checked) {
	background-color: rgba(0, 0, 0, 0.07) !important;
}

.journal-code-batch {
	text-decoration: none;
	margin-bottom: 0.25rem;
}

.journal-code-button {
	background-color: var(--primary);
	color: white !important;
	font-weight: bold;
}

.btn.journal-button {
	color: white !important;
}
.tab-item:hover[data-tab="journal-ach"],
.tab-item.selected[data-tab="journal-ach"],
.btn.journal-ach-button {
	background-color: var(--ach);
}
.tab-item:hover[data-tab="journal-ven"],
.tab-item.selected[data-tab="journal-ven"],
.btn.journal-ven-button {
	background-color: var(--ven);
}
.tab-item:hover[data-tab="journal-ks"],
.tab-item.selected[data-tab="journal-ks"],
.btn.journal-ks-button {
	background-color: var(--ks);
}
.tab-item:hover[data-tab="journal-ban"],
.tab-item.selected[data-tab="journal-ban"],
.btn.journal-ban-button {
	background-color: var(--ban);
}
.tab-item:hover[data-tab="journal-od"],
.tab-item.selected[data-tab="journal-od"],
.btn.journal-od-button {
	background-color: var(--od);
}
.journal-ach {
	color: var(--ach);
}
span.journal-button {
	cursor: initial !important;
}
.journal-ven {
	color: var(--ven);
}
.journal-ks {
	color: var(--ks);
}
.journal-ban {
	color: var(--ban);
}
.journal-od {
	color: var(--od);
}
