.journal-onboarding-list li {
	line-height: 2;
}
ul.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.operation-info {
	font-size: .9rem;
	font-weight: normal;
	color: var(--muted);
	margin-top: .25rem;
}
table.no-background tbody {
	background-color: white;
}

form[data-ajax-form="/@module/journal/Operation/doQuick"] {
	min-width: 25rem;
}

.journal-title-buttons {
	display: flex;
	gap: 0.25rem;
}

.rowspaned-center {
	vertical-align: middle;
}
.td-description {
	font-size: 0.95rem;
	color: var(--muted);
}

.td-description > div > span {
	margin-top: 0.15rem;
	cursor: help;
}
.operations-action-more {
	font-size: 0.85rem;
	font-weight: lighter;
	opacity: 0.8;
	font-style: italic;
}
.journal-operation-description {
	cursor: help;
}

.journal-operation-actions {
	display: flex;
	gap: 0.5rem;
}
.journal-operation-actions > .journal-operation-action-icon {
	width: 15px;
}

.journal-operation-action-icon span[data-is-updatable]:hover {
	color: var(--text) !important;
	opacity: 1;
}

tr[name^="operation"]:has(input[name="batch[]"]:checked) {
	background-color: rgba(0, 0, 0, 0.07) !important;
}

.journal-operation-letters {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

#journals .tab-item {
	align-items: start;
}
#journals .tab-item .util-badge {
	margin-top: 0.25rem;
}

.journal-search-document:has(select[name="hasDocument"] option[value="0"]:checked) input[name="document"] {
	display: none;
}

.journal-margin-credit {
	@media (max-width: 767px) {
		margin-left: 1.5rem;
	}
	@media (min-width: 768px) {
		margin-left: 2.5rem;
	}
}
.journal-margin-debit {
	@media (max-width: 767px) {
		margin-right: 2rem;
	}
	@media (min-width: 768px) {
		margin-right: 3rem;
	}
}
