
ul.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.operation-info {
	font-size: .9rem;
	font-weight: normal;
	color: var(--muted);
	margin-top: .25rem;
}
table.no-background tbody {
	background-color: white;
}

form[data-ajax-form="/@module/journal/Operation/doQuick"] {
	min-width: 25rem;
}

.journal-title-buttons {
	display: flex;
	gap: 0.25rem;
}

.rowspaned-center {
	vertical-align: middle;
}
.td-description {
	font-size: 0.95rem;
	color: var(--muted);
}

.td-description > div > span {
	margin-top: 0.15rem;
	cursor: help;
}
.operations-delete-more {
	font-size: 0.85rem;
	font-weight: lighter;
	opacity: 0.8;
	font-style: italic;
}
