:root {
    --create-operation-rows: 15;
    --create-operation-rows-with-asset: 21;
}
@supports (grid-template-columns: subgrid) {

    .create-operations-container:not(.has-asset) {
        grid-template-rows: repeat(var(--create-operation-rows), auto);
    }
    .create-operations-container.has-asset {
        grid-template-rows: repeat(var(--create-operation-rows-with-asset), auto);
    }

}

.create-operations-container[data-cashflow="1"] {
    display: grid;
    grid-template-columns: 15rem 1fr 10rem;
}
.create-operations-container[data-cashflow="1"][data-columns="2"] {
    grid-template-columns: 15rem repeat(2, 1fr) 10rem;
}
.create-operations-container[data-cashflow="1"][data-columns="3"] {
    grid-template-columns: 15rem repeat(3, 1fr) 10rem;
}
.create-operations-container[data-cashflow="1"][data-columns="4"] {
    grid-template-columns: auto repeat(4, 1fr) auto;
}
.create-operations-container[data-cashflow="1"][data-columns="5"] {
    grid-template-columns: auto repeat(5, 1fr) auto;
}

.create-operations-container[data-cashflow="0"] {
    display: grid;
    grid-template-columns: 15rem 1fr;
}
.create-operations-container[data-cashflow="0"][data-columns="2"] {
    grid-template-columns: 15rem repeat(2, 1fr);
}
.create-operations-container[data-cashflow="0"][data-columns="3"] {
    grid-template-columns: 15rem repeat(3, 1fr);
}
.create-operations-container[data-cashflow="0"][data-columns="4"] {
    grid-template-columns: auto repeat(4, 1fr);
}
.create-operations-container[data-cashflow="0"][data-columns="5"] {
    grid-template-columns: auto repeat(5, 1fr);
}

@supports (grid-template-columns: subgrid) {
    .create-operation,
    .create-operation-validation {
        grid-template-rows: subgrid;
    }
    .create-operations-container:not(.has-asset) .create-operation,
    .create-operations-container:not(.has-asset) .create-operation-validation {
        grid-row: span var(--create-operation-rows);
    }
    .create-operations-container.has-asset .create-operation,
    .create-operations-container.has-asset .create-operation-validation {
        grid-row: span var(--create-operation-rows-with-asset);
    }
}
.create-operation {
    display: grid;
    transition: border-color 0.5s;
    color: var(--text);
    border-radius: 8px;
}
.create-operation > * {
    padding: 0.5rem;
    height: 100%;
    align-content: center;
}
.create-operation div div.input-group {
    align-items: stretch;
}

.create-operations-container {
    overflow-x: auto;
}

.create-operations-container > div:nth-child(2n + 1) {
    background-color: var(--background-light);
}

.operation-asset {
    background-color: #0001;
}
.create-operations-container.has-asset .operation-asset {
    display: flex;
}
.create-operations-container.has-asset div.create-operation:not(.is-asset):not(.create-operation-headers) div.operation-asset > * {
    visibility: hidden;
}
.create-operations-container:not(.has-asset) div.operation-asset {
    display: none;
}

.create-operation div.operation-asset:not([data-index]) {
    padding-left: 0.5rem;
    border-left: 3px solid #0001;
}
.create-operation-buttons {
    display: flex;
    justify-content: space-between;
}
.create-operation-button-add {
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.create-operation-actions {
    display: flex;
    column-gap: 1rem;
}
.create-operation-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.create-operation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[data-wrapper^="vatValue"] {
    align-content: start;
    align-items: start;
}
[data-wrapper^="vat"] .warning {
    color: white;
    background-color: var(--warning);
    border-radius: var(--radius);
    padding: 0.5rem 1rem 0.5rem;
    line-height: 1.6;
}

[data-wrapper^="vat"] .warning a {
    color: white;
    text-decoration: underline;
}
[data-wrapper^="vat"] .warning a:hover {
    text-decoration: none;
}

#create-operation-list {
    flex: 1;
}
#create-operation-list .create-operation-headers,
#create-operation-list .create-operation-validation {
    background-color: transparent !important;
}
#create-operation-list .create-operation-headers > :nth-child(2),
#create-operation-list .create-operation-validation > :nth-child(2) {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
#create-operation-list .create-operation-headers > :nth-child(n + 2),
#create-operation-list .create-operation-validation > :nth-child(n + 2) {
    background-color: var(--background-light);
}
#create-operation-list .create-operation-headers > :last-child,
#create-operation-list .create-operation-validation > :last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
#create-operation-list.has-asset .create-operation-validation div.operation-asset div,
#create-operation-list .create-operation-validation div:not(.operation-asset) div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
}

.invoice-preview {
    width: 500px;
}
.invoice-preview embed {
    height: 730px;
    width: 500px;
}
.invoice-preview img {
    max-height: 730px;
    max-width: 500px;
}

.field-radio-group.payment-type-radio > label:hover {
    background-color: transparent;
}
.field-radio-group.payment-type-radio {
    border: none;
}
