:root {
	--operation-create-rows: 18;
}
@supports (grid-template-columns: subgrid) {

	.operation-create-several-container[data-asset] {
		grid-template-rows: repeat(var(--operation-create-rows), auto);
	}

	.operation-create-several-container:not([data-asset]) {
		grid-auto-flow: column;
	}

}

.operation-create-several-container:not([data-asset]) [data-wrapper^="asset["],
.operation-create-several-container:not([data-asset]) [data-wrapper^="asset-label"] {
	display: none !important;
}

@media (max-width: 767px) {
	.operation-create-several-container[data-cashflow="1"] {
		display: grid;
		grid-template-columns: 15rem 35rem 10rem;
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	.operation-create-several-container[data-cashflow="1"] {
		display: grid;
		grid-template-columns: 15rem 1fr 10rem;
	}

}
@media (min-width: 992px) {
	.operation-create-several-container[data-cashflow="1"] {
		display: grid;
		grid-template-columns: 15rem 40rem 10rem;
	}
}

@media (max-width: 991px) {

	.operation-create-several-container[data-cashflow="1"][data-columns="2"] {
		grid-template-columns: 15rem repeat(2, 25rem) 10rem;
	}

}
@media (min-width: 992px) {

	.operation-create-several-container[data-cashflow="1"][data-columns="2"] {
		grid-template-columns: 15rem repeat(2, 1fr) 10rem;
	}

}
.operation-create-several-container[data-cashflow="1"][data-columns="3"] {
	grid-template-columns: 15rem repeat(3, 25rem) 10rem;
}
.operation-create-several-container[data-cashflow="1"][data-columns="4"] {
	grid-template-columns: 15rem repeat(4, 25rem) 10rem;
}
.operation-create-several-container[data-cashflow="1"][data-columns="5"] {
	grid-template-columns: 15rem repeat(5, 25rem) 10rem;
}



@media (max-width: 767px) {
	.operation-create-several-container[data-cashflow="0"] {
		display: grid;
		grid-template-columns: 15rem 35rem;
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	.operation-create-several-container[data-cashflow="0"] {
		display: grid;
		grid-template-columns: 15rem 1fr;
	}

}
@media (min-width: 992px) {
	.operation-create-several-container[data-cashflow="0"] {
		display: grid;
		grid-template-columns: 15rem 40rem;
	}
}

@media (max-width: 767px) {

	.operation-create-several-container[data-cashflow="0"][data-columns="2"] {
		grid-template-columns: 15rem repeat(2, 25rem);
	}

}
@media (min-width: 768px) {

	.operation-create-several-container[data-cashflow="0"][data-columns="2"] {
		grid-template-columns: 15rem repeat(2, 1fr);
	}

}
.operation-create-several-container[data-cashflow="0"][data-columns="3"] {
	grid-template-columns: 15rem repeat(3, 25rem);
}
.operation-create-several-container[data-cashflow="0"][data-columns="4"] {
	grid-template-columns: 15rem repeat(4, 25rem);
}
.operation-create-several-container[data-cashflow="0"][data-columns="5"] {
	grid-template-columns: 15rem repeat(5, 25rem);
}

.operation-create-validation {
    margin-left: 0.5rem;
}

.operation-create-validation > .btn {
    display: block;
}

@supports (grid-template-columns: subgrid) {
	.operation-create,
	.operation-create-validation {
		grid-template-rows: subgrid;
	}
	.operation-create-several-container .operation-create,
	.operation-create-several-container .operation-create-validation {
		grid-row: span var(--operation-create-rows);
	}
}
.operation-create {
	display: grid;
	transition: border-color 0.5s;
	color: var(--text);
	border-radius: 8px;
}
.operation-update-selected {
	border: 2px solid var(--primary);
}
.operation-create > * {
	padding: 0.375rem 0.5rem;
	height: 100%;
	align-content: center;
}
.operation-create div div.input-group {
	align-items: stretch;
}

.operation-create-several-container {
	overflow-x: auto;
}

.operation-create-several-container > div:nth-child(2n + 1) {
	background-color: var(--background-light);
}

.operation-asset {
	background-color: #0001;
}

.panel-header-content .operation-create-several-container > div:nth-child(2n+1),
.panel-header-content .operation-create-several-container > * {
	background-color: transparent !important;
}

.operation-create div.operation-asset:not([data-index]) {
	padding-left: 0.5rem;
	border-left: 3px solid #0001;
}
.operation-create-buttons,
.operation-create-button-add {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.operation-create-actions {
	display: flex;
	column-gap: 1rem;
}
.operation-create-title {
	display: flex;
	justify-content: space-between;
	align-content: center;
}
[data-columns="3"] .operation-create-title div span.operation-amount-check-legend,
[data-columns="4"] .operation-create-title div span.operation-amount-check-legend,
[data-columns="5"] .operation-create-title div span.operation-amount-check-legend {
	display: none;
}

[data-wrapper^="vatValue"] {
	align-content: start;
	align-items: start;
}
[data-wrapper^="vat"] .warning {
	color: white;
	background-color: var(--warning);
	border-radius: var(--radius);
	padding: 0.5rem 1rem 0.5rem;
	line-height: 1.6;
}

[data-wrapper^="vat"] .warning a {
	color: white;
	text-decoration: underline;
}
[data-wrapper^="vat"] .warning a:hover {
	text-decoration: none;
}

#operation-create-list,
#operation-update-list {
	flex: 1;
}
#operation-create-list .operation-create-headers,
#operation-update-list .operation-create-headers,
#operation-create-list .operation-create-validation,
#operation-update-list .operation-create-validation {
	background-color: transparent !important;
}
#operation-create-list .operation-create-headers > :nth-child(2),
#operation-update-list .operation-create-headers > :nth-child(2),
#operation-create-list .operation-create-validation > :nth-child(2),
#operation-update-list .operation-create-validation > :nth-child(2) {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}
#operation-create-list .operation-create-headers > :nth-child(n + 2),
#operation-update-list .operation-create-headers > :nth-child(n + 2),
#operation-create-list .operation-create-validation > :nth-child(n + 2),
#operation-update-list .operation-create-validation > :nth-child(n + 2) {
	background-color: var(--background-light);
}
#operation-create-list .operation-create-headers > :last-child,
#operation-update-list .operation-create-headers > :last-child,
#operation-create-list .operation-create-validation > :last-child,
#operation-update-list .operation-create-validation > :last-child {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}
#operation-create-list .operation-create-validation div div,
#operation-update-list .operation-create-validation div div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.3rem;
}

.operation-invoice-preview {
	width: 500px;
}
.operation-invoice-preview embed {
	height: 730px;
	width: 500px;
}
.operation-invoice-preview img {
	max-height: 730px;
	max-width: 500px;
}

.field-radio-group.operation-payment-type-radio > label:hover {
	background-color: transparent;
}
.field-radio-group.operation-payment-type-radio {
	border: none;
}

.operation_view_icon {
	color: var(--muted);
	margin-left: 0.5rem;
	font-size: small;
}

body[data-touch="no"].panel-open {

	overflow: auto;

}

body[data-touch="no"] #panel-operation-view {
	left: 0;
	top: 0;
	bottom: 0;
	width: 25rem;
	z-index: 101;
	background-color: white;
	box-shadow: 0 0 1rem #0003;
	position: fixed;
	padding: 0 0.75rem 3rem 0.75rem;
	overflow-y: auto;
}

body[data-touch="no"] #panel-operation-view .panel-dialog {
	margin: 0;
	padding: 0;
}
body[data-touch="no"] #panel-operation-view .panel-body {
	font-size: small;
}
body[data-touch="no"] #panel-operation-view .panel-close-desktop {
	margin: -1rem 0 -1rem 0;
}
body[data-touch="no"] #panel-operation-view .panel-header {
	margin-left: calc(-1 * var(--container-padding));
	width: calc(100% + var(--container-padding));
	padding-left: var(--container-padding);
}
#panel-operation-view .operation-view-label {
	color: var(--muted);
	padding: 0;
	margin: 0;
}
#panel-operation-view .operation-view-value .util-quick {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}
#panel-operation-view .operation-view-value:not(:has(.util-quick)) {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}
#panel-operation-view .operation-view-value .util-quick:hover {
	background-color: var(--background-light);
}

#panel-operation-view table tbody tr td:has(div.operation-view-label) {
	max-width: 110px;
	width: 110px;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.operation-linked-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.operation-hint {
	cursor: pointer;
}
