.date-product-choice tr > *:first-child {
	width: 1%;
}

.data-actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.data-actions-filter {
	display: flex;
	gap: 1rem;
}