/* Create */
#shop-date-create:not(.form-error) .util-danger {
	display: none;
}
#shop-date-create.form-error .util-danger {
	display: block;
}
div.shop-write-fqn {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 1rem;
	align-items: baseline;
}

@media (max-width: 991px) {

	div.shop-write-fqn {
		grid-template-columns: 1fr;
	}

}

div.shop-write-fqn .input-group-addon {
	font-size: 0.8rem;
}

div.shop-write-fqn label {
	text-align: right;
	white-space: nowrap;
}

.date-products {
	display: grid;
	align-items: center;
	grid-column-gap: 1rem;
	grid-template-columns: auto auto 1fr max-content;
	padding: 0;
	border-bottom: 1px dashed #ddd;
}

.date-products-fields {
	display: grid;
	align-items: baseline;
	grid-column-gap: 1rem;
}

.date-products-fields h4 {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}

.date-products:not(.selected):not(.util-grid-header) .date-products-fields {
	opacity: 0.25;
	pointer-events: none;
}

.date-products-info {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media (min-width: 992px) {

	.date-products-fields h4 {
		display: none;
	}

	.date-products .date-products-fields {
		grid-template-columns: 8rem 22rem 10rem;
	}

	.date-products.date-products-with-stock .date-products-fields {
		grid-template-columns: 8rem 20rem 10rem 5rem;
	}

	.date-products-multiple {
		text-align: center;
	}

}

@media (max-width: 991px) {

	.date-products {
		grid-template-columns: auto auto 1fr;
	}

	.date-products.util-grid-header {
		display: none;
	}

	.date-products .date-products-info {
		padding-right: 0.5rem;
	}

	.date-products .date-products-fields {
		grid-column: span 3;
		grid-template-columns: 1fr;
		grid-row-gap: 0.5rem;
		padding-top: 1rem;
	}

	@media (max-width: 767px) {

		.date-products .date-products-fields {
			padding: 1rem;
		}

	}

	.date-products .date-products-fields > * {
		display: grid;
		grid-template-columns: 2fr 3fr;
	}

	@media (max-width: 399px) {

		.date-products .date-products-fields > * {
			grid-template-columns: 1fr;
		}

	}

	.date-products:not(.selected) .date-products-fields {
		display: none;
	}

}

.date-products > label {
	cursor: pointer;
}

.date-products:not(.util-grid-header):nth-child(odd) {
	background-color: var(--background-odd);
}

.date-products > * {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.date-points-title {
	padding: 0.5rem 0;
	font-weight: lighter;
}

.date-points-title:not(:first-child) {
	padding-top: 0.75rem;
}

.date-points-item {
	display: grid;
	align-items: center;
	grid-column-gap: 1rem;
	grid-template-columns: auto 1fr;
	padding: 0;
	border-bottom: 1px dashed #ddd;
}

.date-points-item:not(.util-grid-header):hover {
	background-color: #f5f5f5;
}

.date-points-item > * {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.date-points-label:hover {
	cursor: pointer;
}

.shop-select {
	background-color: #0001;
	padding: 0 0.75rem;
	margin: 0;
	min-height: 3rem;
	height: 100%;
	display: flex;
	align-items: center;
}

.date-products.selected .shop-select {
	background-color: var(--secondary);
}

.shop-select-hide > * {
	visibility: hidden;
}

.date-products.selected label {
	font-weight: bold;
}

/* Customization */
#shop-preview {
	width: 100%;
	min-height: 750px;
	border: 1px solid var(--border);
}
.shop-preview-title {
	margin-top: 3rem;
}

/* List of farms */
.shop-farm-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	margin-bottom: 2rem;
}

@media (max-width: 1199px) {

	.shop-farm-grid {
		grid-template-columns: 1fr 1fr;
	}

}

@media (max-width: 767px) {

	.shop-farm-grid {
		grid-template-columns: 1fr;
	}

}

.shop-farm-item {
	display: grid;
	grid-template: "vignette content" 1fr / 3rem 1fr;
	grid-column-gap: 1rem;
	align-items: center;
}

a.shop-farm-item {
	text-decoration: none;
	color: var(--secondary);
	background: white;
	border-radius: var(--radius);
}

@media (max-width: 767px) {

	.shop-farm-item {
		grid-column-gap: 1rem;
	}

}

div.shop-farm-item-vignette {
	grid-area: vignette;
}

div.shop-farm-item-content {
	grid-area: content;
	transition: color .5s;
}

div.shop-farm-item-content h4 {
	margin-bottom: 0;
	font-weight: lighter;
}