.shop-product-wrapper {
	margin-top: 2rem;
}

body:not([data-template~="shop-embedded"]) {

	.shop-product-wrapper {
		margin-bottom: 10rem;
	}

}

.shop-title-group {
	color: var(--secondary);
	font-weight: normal;
	margin-bottom: 2rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.shop-title-group-label {
	font-size: 90%;
	color: var(--muted);
}

.shop-product-list {
	display: grid;
	margin-bottom: 3rem;
}

.shop-product-wrapper:not(.shop-design-grid) .shop-design-grid-only {
	display: none;
}

.shop-product-wrapper:not(.shop-design-line) .shop-design-line-only {
	display: none;
}

.shop-design-line .shop-product-list {
	grid-template-columns: 1fr;
	grid-gap: 0.5rem;
}

.shop-design-grid .shop-product-list {
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1.25rem;
}

@media (max-width: 1199px) {

	.shop-design-grid .shop-product-list {
		grid-template-columns: repeat(4, 1fr);
	}

}

@media (max-width: 991px) {

	.shop-design-grid .shop-product-list {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media (max-width: 767px) {

	.shop-design-grid .shop-product-list {
		grid-gap: .75rem;
	}

}

@media (max-width: 575px) {

	.shop-design-grid .shop-product-list {
		grid-gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (max-width: 399px) {

	.shop-design-grid .shop-product-list {
		grid-gap: .5rem;
	}

}

@media (max-width: 359px) {

	.shop-design-grid .shop-product-list {
		grid-template-columns: 1fr;
	}

}

.shop-product {
	position: relative;
	display: grid;
	background-color: white;
	padding-bottom: .5rem;
	box-shadow: 1px 1px 1px var(--border);
	border-radius: var(--radius);
}

.shop-design-grid .shop-product {
	grid-template:
		"image" 14rem
		"content" auto
		"buy" 1fr / 1fr;
}

.shop-design-grid .shop-product.shop-product-composition {
	grid-template:
		"image" 14rem
		"content" auto
		"ingredients" auto
		"buy" 1fr / 1fr;
}

.shop-design-line .shop-product {
	grid-template:
		 "image content buy" auto / 4rem 1fr 22rem;
	grid-gap: 0.75rem;
	padding: 0.5rem;
}

.shop-design-line .shop-product.shop-product-parent {
	grid-template:
		 "content buy" auto / 1fr 22rem;
	margin-top: 1rem;
	padding: 0;
}

.shop-design-line .shop-product.shop-product-composition {
	grid-template:
		 "image content buy" auto
		 "image ingredients buy" auto / 4rem 1fr 22rem;
}

@media (max-width: 767px) {

	.shop-design-line .shop-product {
		grid-template:
			 "image content" auto
			 "image buy" auto / 4rem 1fr;
	}

	.shop-design-line .shop-product.shop-product-parent {
		grid-template:
			 "content" auto / 1fr;
	}

	.shop-design-line .shop-product.shop-product-composition {
		grid-template:
			 "image content" auto
			 "image ingredients" auto
			 "image buy" auto / 4rem 1fr;
	}


}

.shop-design-grid .shop-product-composition {
	grid-row: span 2;
}

.shop-product > * {
	padding: 0 0.5rem;
}

.shop-design-line .shop-product.shop-product-parent > * {
	padding: 0;
}

.shop-product-image {
	grid-area: image;
	height: 100%;
	background-position: center center;
	background-size: cover;
	position: relative;
	text-align: center;
}

.shop-design-grid .shop-product-image {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
	padding-top: 1rem;
}

.shop-design-line .shop-product-image {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	padding: 0;
}

.shop-design-grid .shop-header-image-quality {
	color: white;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

.shop-design-line .shop-header-image-quality {
	display: inline-block;
	margin-left: 0.5rem;
}

.shop-header-image-promotion {
	color: white;
	padding: 0.25rem 0.5rem;
	background-color: #000a;
	border-radius: var(--radius);
	line-height: 1;
}

.shop-design-grid .shop-header-image-promotion {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
}

.shop-design-line .shop-header-image-promotion {
	align-self: start;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.shop-design-grid .shop-product-image-placeholder {
	font-size: 6rem;
	opacity: .2;
	margin-top: 2rem;
}

.shop-design-line .shop-product-image-placeholder {
	display: none;
}

.shop-header-image-quality .media-rectangle-view {
	background-position: center bottom;
}

.shop-product-content {
	grid-area: content;
	display: flex;
	flex-direction: column;
}

.shop-design-line .shop-product-content {
	justify-content: center;
}

/* Uniquement dans la boutique */
#shop-basket-summary-list  .shop-product-number,
.shop-design-line .shop-product-number {
	max-width: 22rem;
}

.shop-product-private .shop-product-number {
	max-width: 14rem !important;
}

.shop-product-number .btn {
	border: 1px solid var(--primary);
}

.shop-design-grid .shop-product-number .btn {
	border-width: 2px;
}

.shop-design-line .shop-product-parent {
	box-shadow: none;
	background-color: transparent;
}

.shop-design-line .shop-product-parent .shop-product-farm,
.shop-design-line .shop-product-parent .shop-product-additional,
.shop-design-line .shop-product-parent .shop-product-image,
.shop-design-line .shop-product-parent .shop-product-title,
.shop-design-line .shop-product-parent .shop-product-buy {
	display: none;
}

.shop-design-line .shop-product-parent .shop-product-name-link {
	color: var(--primary);
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.shop-product-parent .shop-product-buy .btn {
	border-width: 2px;
}

.shop-design-grid .shop-product-parent.shop-product-with-children {
	display: none;
}

.shop-design-grid .shop-product-child:not(.shop-product-with-children) {
	display: none;
}

.shop-design-grid .shop-product-child {
	border: 3px solid var(--primary);
}

.shop-design-line .shop-product-child + .shop-product:not(.shop-product-child) {
	margin-top: 1.5rem;
}

input.shop-product-number-display {
	text-align: center;
}

.shop-design-grid .shop-product-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.25rem;
}

.shop-design-grid .shop-product-title {
	margin-bottom: 0.5rem;
}

.shop-design-line .shop-product-title {
	display: grid;
	grid-gap: 0.25rem 1rem;
	align-items: center;
}

@media (min-width: 992px) {

	.shop-design-line .shop-product-title {
		grid-template:
		"infos price" auto / 1fr 10rem;
	}

	.shop-design-line .shop-product-buy-infos {
		justify-self: end;
	}


}

@media (min-width: 576px) and (max-width: 991px) {

	.shop-design-line .shop-product-title {
		grid-template:
			"price infos" auto / 1fr 10rem;
	}

}

@media (max-width: 575px) {

	.shop-design-line .shop-product-title {
		grid-template:
			"price" auto
			"infos" auto / 1fr;
	}

}

.shop-design-line .shop-product-title:not(:last-child) {
	margin-bottom: 0.5rem;
}

.shop-design-grid .shop-product-header {
	margin-top: 0.5rem;
}

.shop-design-line .shop-product-header {
	display: flex;
}

@media (min-width: 992px) {

	.shop-design-line .shop-product-header {
		align-items: center;
		justify-content: space-between;
	}

}

@media (max-width: 991px) {

	.shop-design-line .shop-product-header {
		flex-direction: column;
	}

}

@media (max-width: 991px) {

	.shop-design-line .shop-product-title {
		margin: 0.25rem 0 0.5rem;
	}

}

.shop-product-name-link {
	font-size: 1.3rem;
	color: var(--secondary);
}

.shop-product-name-link:has(.shop-product-name-info) {
	cursor: pointer;
}

.shop-design-grid .shop-product-name-link {
	margin-bottom: 0.25rem;
}

.shop-design-line .shop-product-name-link {
	margin-bottom: 0rem;
}

.shop-product-name-info {
	margin-left: 0.5rem;
}

.shop-product-name-dropdown {
	border-radius: var(--radius);
	background-color: var(--secondary);
	padding: 0.5rem;
	color: white;
}

.shop-product-name-dropdown-content:not(:last-child) {
	margin-bottom: 1rem;
}

.shop-product-additional {
	text-decoration: underline;
	display: inline;
	margin-left: 0.5rem;
}

.shop-product-additional,
.shop-product-origin,
.shop-product-description {
	line-height: 1.3;
	color: var(--muted);
}

.shop-design-grid .shop-product-additional,
.shop-design-grid .shop-product-origin,
.shop-design-grid .shop-product-description,
.shop-design-grid .shop-product-farm {
	font-size: 0.8rem;
}

.shop-design-line .shop-product-additional,
.shop-design-line .shop-product-origin,
.shop-design-line .shop-product-description,
.shop-design-line .shop-product-farm {
	font-size: 0.9rem;
}

.shop-product-origin {
	margin-bottom: 0.25rem;
}

.shop-product-description {
	max-height: 4rem;
	overflow-y: auto;
	margin-bottom: 0.5rem;
}

.shop-product-farm {
	margin-bottom: 0.5rem;
	color: var(--muted);
}

.shop-product-buy {
	grid-area: buy;
	display: grid;
}

.shop-design-grid .shop-product-buy {
	padding-top: 0.5rem;
	align-content: end;
}

.shop-design-line .shop-product-buy {
	align-items: center;
}

@media (max-width: 767px) {

	.shop-design-line .shop-product-buy {
		margin-top: 0.5rem;
	}

}

.shop-product-buy:empty {
	display: none;
}

@media (max-width: 449px) {

	.shop-product-buy {
		grid-template-columns: 1fr;
	}

}


.shop-product-buy small {
	line-height: 1;
}

.shop-product-buy-infos {
	grid-area: infos;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.25rem 0.5rem;
}

.shop-product-buy-price {
	grid-area: price;
}

@media (min-width: 992px) {

	.shop-design-line .shop-product-buy-price {
		text-align: right;
	}

}

.shop-product-buy-packaging,
.shop-product-buy-info {
	font-size: 0.9rem;
	padding: 0.25rem 0.5rem;
	line-height: 1;
	border-radius: var(--radius);
	white-space: nowrap;
}

.shop-product-buy-packaging {
	border: 2px solid #bbb3;
}

.shop-product-buy-info {
	background-color: #bbb3;
}

@media (max-width: 399px) {

	.shop-product-buy-packaging,
	.shop-product-buy-info {
		font-size: .8rem;
	}

}

.shop-product-ingredients {
	grid-area: ingredients;
}

.shop-product-ingredients-list {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	grid-gap: 0.5rem;
	line-height: 1.4;
}

@media (max-width: 575px) {

	.shop-product-ingredients-list {
		font-size: .9rem;
	}

}

.shop-product-ingredients-list.shop-product-ingredients-list-6 {
	grid-gap: 0.375rem 0.5rem;
}

.shop-product-ingredients-list.shop-product-ingredients-list-10 {
	grid-gap: 0.25rem 0.5rem;
}

.shop-product-number {
	display: grid;
	align-items: center;
	grid-column-gap: .75rem;
	grid-template-columns: max-content 1fr max-content;
}

.shop-product-number .btn {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 0.83333;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 3rem;
}

@media (max-width: 449px) {

	.shop-product-number {
		justify-content: initial;
		column-gap: 0.25rem;
	}

	.shop-type-private .shop-product-number .btn {
		width: 3.5rem;
	}

	.shop-type-pro .shop-product-number .btn {
		width: 2.5rem;
	}

}

@media (max-width: 359px) {

	.shop-design-grid .shop-product-number .btn {
		width: 5rem;
	}

}

.shop-product-number .input-group * {
	border-color: var(--primary) !important;
}

.shop-product-number-value {
	padding: 0.125rem 0.375rem;
	text-align: center;
	line-height: 1;
	letter-spacing: 0;
}

.shop-product[data-has="1"] .shop-product-number-value {
	font-size: 1.2rem;
	font-weight: bold;
}

@media (max-width: 399px) {

	.shop-product[data-has="1"] .shop-product-number-value {
		font-size: 1rem;
	}

}

.shop-product[data-has="0"] .shop-product-number-decrease,
.shop-product-number[data-inconsistency="1"] .shop-product-number-decrease,
.shop-product-number[data-inconsistency="1"] .shop-product-number-increase {
	opacity: 0.25;
	border-width: 1px;
	pointer-events: none;
}

.shop-design-grid .shop-product[data-has="0"] .shop-product-number-value,
.shop-design-grid .shop-product-number[data-inconsistency="1"] .shop-product-number-value {
	opacity: 0.5;
}

.shop-design-grid .shop-product-number-value .input-group-addon {
	font-size: 0.75rem;
	padding: 0 0.25rem;
}

.shop-product-ordered {
	padding: 1rem;
	font-size: 1.2rem;
	background-color: white;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: auto 1fr auto;
	align-items: center;
}

body[data-template~="shop-embedded"] {

	.shop-product-ordered {
		border-radius: var(--radius);
		padding: 1.5rem 1rem;
	}

}

body:not([data-template~="shop-embedded"]) {

	.shop-product-ordered {
		z-index: 1101;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

}

.shop-product-ordered-item {
	display: flex;
	align-items: center;
}

.shop-product-ordered-approximate {
	line-height: 1.4;
}

@media (min-width: 576px) {

	.shop-product-around {
		display: inline-block;
		margin-right: 0.375rem;
	}

}

@media (max-width: 575px) {

	.shop-product-around {
		font-size: 0.9rem;
	}

}

.shop-product-ordered-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--secondary);
	color: white;
	border-radius: 50%;
	margin-right: 0.5rem;

}

@media (max-width: 449px) {

	.shop-product-ordered-icon {
		width: 2rem;
		height: 2rem;
		font-size: .9rem;
	}

}

.shop-product-manage-details {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 1rem;
	padding-top: 0;
}

.shop-product-manage-catalog {
	font-size: 1.7rem;
	line-height: 1;
	margin: 0 .75rem 0 .5rem;
	vertical-align: baseline;
}

.shop-product-group td.shop-product-group-first {
	background: #0023;
}

.shop-product-group td.shop-product-group-first {
	background: #0023;
}

.shop-product-group tr:first-child {
	border-bottom: 1px solid #0003;
}

.shop-product-group tr:first-child td.shop-product-group-first {
	border-top-left-radius: calc(var(--radius) * 3);
}

.shop-product-group tr:last-child td.shop-product-group-first {
	border-bottom-left-radius: calc(var(--radius) * 3);
}

.shop-product-group h4 {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.shop-product-group > tr.shop-product-one {
	border-top: 1px solid var(--border);
}

.shop-product-group-readonly {
	background-color: var(--background-body);
	width: 1rem;
}

.shop-product-available {
	white-space: nowrap;
}

.shop-product-limits {
	padding-bottom: 0.5rem;
	font-size: 0.9rem;
	display: flex;
	flex-direction:column;
	color: var(--muted);
	line-height: 1.2;
}

.shop-product-limits > span:not(:last-child) {
	margin-right: 1rem;
}

.shop-product-promotion {
	border-radius: var(--radius);
	background-color: #000a;
	color: white;
	padding: 0.25rem 0.5rem;
}

.shop-product-sold {
	font-size: 1.2rem;
	font-weight: bold;
}

.shop-product-not-exist,
.shop-product-not-exist a {
	color: var(--muted);
	text-decoration: line-through;
}

#shop-menu-list {
	display: flex;
	row-gap: 1rem;
	margin-bottom: 2rem;
	position: sticky;
	z-index: 1100;
	transition: all 0.25s;
	overflow-x: auto;
	background-color: var(--secondary);
	border-radius: var(--radius);
}

body[data-template~="shop-embedded"] #shop-menu-list {
	display: none;
}

#shop-menu-list.shop-menu-list-sticky {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 1px 1px 1px var(--border);
}

a.shop-menu-item {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 1.2;
}

a.shop-menu-item:hover,
a.shop-menu-item.selected {
	background-color: #fff2;
}

a.shop-menu-item svg:not(.asset-icon) {
	stroke: white;
}

a.shop-menu-item:not(:last-child) {
	border-right: 1px solid #fff5;
}

a.shop-menu-item .category-vignette {
	margin-bottom: 0.5rem;
}

@media (min-height: 768px) and (min-width: 768px) {

	#shop-menu-list {
		padding: 0;
		top: calc(var(--nav-main));
	}

	a.shop-menu-item {
		padding: 0.75rem 1rem;
	}

	.shop-menu-list-sticky a.shop-menu-item .category-vignette {
		width: 2.25rem !important;
		height: 2.25rem !important;
		min-width: 2.25rem !important;
	}

}

@media (max-height: 767px), (max-width: 767px) {

	a.shop-menu-item {
		padding: 0.5rem 0.5rem;
	}

	#shop-menu-list {
		padding: 0;
		top: 0;
	}

	.shop-menu-list-sticky {
		font-size: 0.9rem;
	}

	a.shop-menu-item .category-vignette {
		width: 1.75rem !important;
		height: 1.75rem !important;
		min-width: 1.75rem !important;
	}

}

@media (max-width: 575px) {

	#shop-menu-list {
		font-size: 0.85rem;
		letter-spacing: -0.1px;
	}

}