.cash-item-vat-rate {
	font-style: italic;
	color: var(--muted);
}

.cash-item-balance {
	font-weight: bold;
	text-align: end;
}

.cash-item-balance-waiting {
	font-style: italic;
	font-weight: normal;
	color: var(--muted);
}

.cash-item-details,
.cash-item-children {
	color: var(--muted);
	margin-left: 1.5rem;
	font-size: .9rem;
	margin-top: 0.125rem;
}

.cash-item-children {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.cash-actions {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.cash-auto-description {
	color: var(--muted);
	font-size: 0.9rem;
}