@media (min-height: 768px) and (min-width: 768px) {

	:root {
		--calendarWeek: 6rem;
		--calendarYear: 5rem;
	}

}

@media (max-height: 767px) or (max-width: 767px) {

	:root {
		--calendarWeek: 6rem;
		--calendarYear: 5rem;
	}

}

div.task-select-start {
	padding-top: 1rem;
	position: relative;
}

div.tasks-calendar {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 0.75rem;
	align-items: center;
}

div.tasks-calendar.tasks-calendar-with-filter > *:last-child {
	justify-self: end;
}

div.tasks-calendar.tasks-calendar-with-filter {
	grid-template-columns: 4rem 1fr max-content 1fr 4rem;
}

@media (max-height: 767px) or (max-width: 767px) {

	body[data-template~="farm-planning-daily"] div.tasks-calendar-search {
		display: none;
	}
	body[data-template~="farm-planning-daily"] div.tasks-calendar.tasks-calendar-with-filter {
		grid-template-columns: 1fr max-content 1fr;
	}

}

@media (max-width: 575px) {

	div.tasks-calendar {
		grid-column-gap: 1rem;
	}

}

@media (max-width: 449px) {

	div.tasks-calendar {
		grid-column-gap: .75rem;
	}

}

div.tasks-calendar-week {
	height: var(--calendarWeek);
}

div.tasks-calendar-year {
	height: var(--calendarYear);
}

#tasks-calendar-months-wrapper {
	background-color: var(--background-light);
	height: 3rem;
}

#tasks-calendar-months {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: var(--background-light);
}

a.tasks-calendar-month {
	color: var(--text);
	font-weight: bold;
	text-decoration: none;
	transition: border-color 0.25s;
}

@media (max-width: 767px) {

	a.tasks-calendar-month {
		text-transform: capitalize;
	}

}

@media (min-width: 768px) {

	a.tasks-calendar-month {
		text-transform: uppercase;
	}

}

a.tasks-calendar-month:hover,
a.tasks-calendar-month.selected {
	color: var(--secondary);
}

a.tasks-calendar-month.selected {
	font-size: 1.2rem;
}

div.tasks-calendar-title {
	min-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.tasks-calendar-title h1 {
	line-height: 1;
	font-size: 2rem;
}

@media (max-width: 575px) {

	div.tasks-calendar-title h1 {
		font-size: 1.5rem;
		letter-spacing: -0.2px;
	}

}

div.tasks-calendar-title div.tasks-calendar-title-period {
	font-size: 0.9rem;
	line-height: 1.2;
	color: var(--muted);
}

div.tasks-calendar-title h1:not(:only-child) {
	margin-bottom: 0.25rem;
}

div.tasks-calendar-title h1:only-child {
	font-size: 2rem;
	margin-bottom: 0;
}

div.tasks-calendar-title a.dropdown-item small {
	color: rgba(255, 255, 255, 0.5);
}

div.tasks-calendar-navigation {
	display: flex;
	align-items: center;
}

div.tasks-calendar-navigation-before {
	justify-content: flex-end;
}

div.tasks-calendar-navigation a {
	font-size: 2.25rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: background-color 0.5s;
	color: var(--primary);
}

@media (max-width: 575px) {

	div.tasks-calendar-navigation a {
		font-size: 1.75rem;
		width: 2.5rem;
		height: 2rem;
	}

}

div.tasks-calendar-navigation a:hover {
	background: #eee;
}

#tasks-time {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

#planning-wrapper-weekly #tasks-time {
	grid-area: time;
}

@media (max-width: 767px) {

	#planning-wrapper-weekly #tasks-time {
		border-top: 1px solid var(--background);
		padding-top: 1rem;
	}

}

#tasks-time:empty {
	display: none;
}

#tasks-time .tasks-time-all {
	display: flex;
}

#tasks-time .tasks-time-all > *:not(:first-child) {
	margin-left: -1.5rem;
}

#tasks-time .tasks-time-all.tasks-time-all-condensed > *:not(:first-child) {
	margin-left: -2rem;
}

#tasks-time .tabs-item {
	margin-bottom: 0;
	border-bottom: 1px solid white;
}

@media (max-width: 767px) {

	#tasks-time .tabs-item {
		margin-left: var(--container-xs-padding);
	}

}

@media (min-width: 768px) {

	#tasks-time .tabs-item {
		grid-column-gap: 1rem;
	}

}

#tasks-time .tab-item {
	padding: 0.5rem .75rem;
}

#tasks-time .tab-item.selected,
#tasks-time .tab-item:hover {
	background: var(--primary);
}

.tasks-time-content {
	padding: 1rem 0.75rem;
	background: var(--gradient);
}


#tasks-done {
	grid-area: done;
}

#tasks-done .planning-week-header {
	background-color: var(--done);
}

#tasks-todo {
	grid-area: todo;
}

#tasks-todo .planning-week-header {
	background-color: var(--todo);
}

@media (max-width: 767px) {

	#tasks-todo {
		margin-bottom: 1rem;
	}

}

#tasks-harvested {
	grid-area: harvested;
}

#tasks-harvested .planning-week-header {
	background-color: var(--harvest);
}


div.tasks-planning-action,
div.tasks-planning-plant {
	display: grid;
	grid-template-columns: 2.25rem 1fr;
	align-items: stretch;
	grid-column-gap: 0.5rem;
}

@media (max-width: 575px) {

	div.tasks-planning-action,
	div.tasks-planning-plant {
		grid-template-columns: 2.5rem 1fr;
	}

}

div.tasks-planning-plant {
	background-color: white;
}

div.tasks-planning-action {
	position: sticky;
	top: var(--mainSticky);
	z-index: 12;
	background-color: var(--background);
	height: 3rem;
}

#planning-wrapper-daily div.tasks-planning-action {
	position: initial;
}

#planning-wrapper-daily div.tasks-planning-items-first div.tasks-planning-action {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

#planning-wrapper-daily div.tasks-planning-items-first div.tasks-planning-action label {
	border-top-left-radius: var(--radius);
}

#planning-wrapper-daily div.planning-week-title + div.tasks-planning-items-first div.tasks-planning-action,
#planning-wrapper-daily div.planning-week-title + div.tasks-planning-items-first div.tasks-planning-action label {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

a.tasks-planning-action-name {
	display: block;
	font-weight: bold;
	padding: 0.5rem 0;
	align-self: center;
}

.tasks-planning-plant-name {
	display: block;
	font-weight: bold;
	padding-top: 0.25rem;
}

.tasks-planning-plant-image {
	padding-top: 0.15rem;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.tasks-planning-plant-image svg {
	margin-bottom: -0.1rem;
}

.tasks-planning-plant-image input {
	display: none;
}

.tasks-planning-plant-name {
	align-self: center;
}

#tasks-todo a.tasks-planning-action-name {
	color: var(--todo);
}

#tasks-done a.tasks-planning-action-name {
	color: var(--done);
}

div.tasks-planning-items-empty {
	padding: 1rem;
	color: var(--muted);
}

@media (min-width: 768px) {

	#planning-wrapper-weekly div.tasks-planning-items {
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
	}

	#planning-wrapper-weekly div.tasks-planning-items.tasks-planning-items-last {
		border-bottom: 1px solid var(--border);
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
	}

}

#planning-wrapper-daily div.tasks-planning-items.tasks-planning-items-last {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

#planning-wrapper-daily div.tasks-planning-items.tasks-planning-items-first {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

#planning-wrapper-daily div.planning-week-title + div.tasks-planning-items.tasks-planning-items-first {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

div.tasks-planning-item {
	position: relative;
	background-color: white;
	transition: all 0.5s;
	user-select: none; /* Avoid weird selection */
}

div.tasks-planning-item:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

div.tasks-planning-item {
	display: grid;
	align-items: stretch;
}

div.tasks-planning-item.tasks-planning-item-todo {
	grid-template-columns: auto 1fr auto;
}

div.tasks-planning-item.tasks-planning-item-done {
	grid-template-columns: auto 1fr;
}

div.tasks-planning-item.tasks-planning-item-todo {
	padding-right: 0;
}

div.tasks-planning-item div.tasks-planning-item-base {
	display: grid;
	grid-column-gap: 0.5rem;
	align-items: center;
	grid-template-columns: 1fr auto;
	padding: 0 0.5rem;
}

label.tasks-planning-select {
	width: 2.25rem;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 575px) {

	label.tasks-planning-select {
		width: 2.5rem;
	}

}

label.tasks-planning-select input {
	position: relative;
	z-index: 11;
	width: 1.2rem;
	height: 1.2rem;
}

div.tasks-planning-item:not(.tasks-planning-item-with-series):not(.tasks-planning-item-with-content) div.tasks-planning-item-base {
	grid-template-columns: 1fr;
}

div.tasks-planning-item.tasks-planning-item-with-series a.tasks-planning-item-top {
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
	text-decoration: none;
}

div.tasks-planning-item.tasks-planning-item-with-series.tasks-planning-item-with-content a.tasks-planning-item-top {
	grid-column: span	2;
}

div.tasks-planning-item.tasks-planning-item-with-series .tasks-planning-item-content,
div.tasks-planning-item.tasks-planning-item-with-series.tasks-planning-item-with-content .tasks-planning-item-actions {
	margin-top: -0.5rem;
}

div.tasks-planning-item.tasks-planning-item-with-series .flow-timeline-done {
	grid-row: span	2;
}

div.tasks-planning-item a.flow-timeline-status-todo {
	height: 100%;
	border-radius: 0;
}

@media (max-width: 575px) {

	div.tasks-planning-item a.flow-timeline-status-todo {
		width: 2.5rem;
	}

}

div.tasks-planning-items-last div.tasks-planning-item:last-child a.flow-timeline-status-todo {
	border-bottom-right-radius: var(--radius);
}

@media (max-width: 767px) {

	#planning-wrapper-weekly div.tasks-planning-items-last div.tasks-planning-item:last-child a.flow-timeline-status-todo {
		border-bottom-right-radius: 0;
	}

}


a.tasks-year-item {
	display: grid;
	padding: 0.5rem 0.75rem;
	color: inherit;
	text-decoration: none;
	border-top: 1px solid var(--border);
	user-select: none; /* Avoid weird selection */
}

a.tasks-year-item:hover {
	transition: all 0.5s;
	background-color: var(--background-light);
}

div.tasks-planning-item.highlight {
	box-shadow: 0 0 2rem var(--muted);
	z-index: 1;
	position: relative;
}

div.tasks-planning-items.tasks-planning-items-last > div.tasks-planning-item:last-child,
div.tasks-header + div.tasks-planning-item:last-child {
	margin-bottom: 0;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}

@media (max-width: 767px) {

	#planning-wrapper-weekly div.tasks-planning-items.tasks-planning-items-last > div.tasks-planning-item:last-child,
	#planning-wrapper-weekly div.tasks-header + div.tasks-planning-item:last-child {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}


}

.tasks-planning-item-content {
	align-self: stretch;
}

a.tasks-planning-item-content {
	text-decoration: none;
	color: var(--text);
}

.tasks-planning-item-content:not(:empty) {
	padding: 0.5rem 0;
}

.tasks-planning-item-series {
	color: var(--muted);
	line-height: 1.3;
	font-size: 0.9rem;
}

span.tasks-planning-item-series-name {
	text-decoration: underline;
}

div.tasks-planning-item-series-places,
div.tasks-planning-item-series-places > div {
	display: inline;
	font-size: 0.8rem;
	letter-spacing: -0.1px;
}

div.tasks-planning-item-actions {
	align-self: baseline;
	line-height: 1.2;
	display: grid;
	grid-template-columns: 1fr;
}

div.tasks-planning-item-actions:only-child {
	justify-self: end;
}

div.tasks-planning-item-description:empty {
	display: none;
}

div.tasks-planning-item-description {
	line-height: 1.2;
}

div.tasks-planning-item-description:not(:first-child) {
	margin-top: 0.25rem;
}

.tasks-planning-item-days {
	font-size: 0.7rem;
	color: var(--text);
	border-radius: var(--radius);
	line-height: 1;
	font-weight: bold;
	margin-right: 0.25rem;
}

div.tasks-planning-item-label {
	font-weight: bold;
	display: inline-block;
}

span.tasks-planning-item-label-time {
	font-style: italic;
	font-weight: normal;
	color: var(--muted);
}

@media (min-width: 768px) and (max-width: 991px) {

	div.tasks-planning-item-comment {
		display: none;
	}

}

div.tasks-planning-item-more {
	font-size: 0.9rem;
	text-decoration: none;
	color: var(--muted);
}

div.tasks-planning-item-more:not(:first-child) {
    margin-top: 0.125rem;
}

div.tasks-planning-item-more > *:not(:last-child):after {
	content: '•';
	padding: 0 0.5rem;
}

a.tasks-planning-item-user {
	font-size: 0.9rem;
	text-decoration: none;
	display: flex;
	column-gap: 0.25rem;
	align-items: center;
	padding: 0.25rem 0;
}

a.tasks-planning-item-user:first-child {
	padding-top: 0.5rem;
}

a.tasks-planning-item-user:last-child {
	padding-bottom: 0.5rem;
}

div.tasks-item-users {
	display: flex;
	line-height: 1;
}

div.tasks-item-users-list {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
}

div.tasks-item-users-list > *:not(:last-child) {
	margin-right: -0.5rem;
}

div.tasks-item-users-list .media-circle-view {
	border: 0;
	transition: all 0.5s;
}

div.tasks-item-users-list a:hover {
	text-decoration: none;
}

a.tasks-planning-item-time {
	grid-area: time;
	display: inline-grid;
	align-items: center;
	grid-template-columns: auto 1fr;
	text-decoration: none;
	width: 4rem;
	font-size: 0.9rem;
	padding: 0.5rem 0;
}

a.tasks-planning-item-time.highlight {
	color: white;
	border-color: var(--secondary);
	background-color: var(--secondary);
}

a.tasks-planning-item-time:hover {
	border-color: var(--primary);
}

div.tasks-planning-item-time-value {
	margin-left: 0.25rem;
}

a.tasks-time-user {
	text-decoration: none;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	line-height: 1;
}

div.tasks-time-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr) min-content 1fr;
	grid-column-gap: 1rem;
	justify-items: center;
}

@media (min-width: 576px) and (max-width: 767px) {

	div.tasks-time-days {
		grid-template-columns: repeat(5, minmax(auto, 110px));
		grid-row-gap: 2rem;
	}

}

@media (max-width: 575px) {

	div.tasks-time-days {
		grid-template-columns: repeat(4, minmax(auto, 110px));
		grid-row-gap: 2rem;
	}

	div.tasks-time-days > svg {
		display: none;
	}

}

div.tasks-time-days > svg {
	align-self: center;
	margin-top: 1.5rem;
	font-size: 1.5rem;
}

div.tasks-time-day-future {
	opacity: 0.3;
	pointer-events: none;
}

div.tasks-time-day > h5 {
	margin-bottom: 0.5rem;
	text-align: center;
	grid-column: span 2;
}

@media (min-width: 992px) {

	div.tasks-time-day > h5 {
		margin-bottom: .75rem;
	}

}

div.tasks-time-day-values {
	display: grid;
	grid-gap: 0.5rem;
	justify-content: center;
	align-items: center;
}

#planning-wrapper-daily div.tasks-time-day-values {
	grid-auto-flow: column;
}

@media (min-width: 1200px) {

	div.tasks-time-day-values {
		grid-auto-flow: column;
	}

}

div.tasks-time-day-absent {
	color: var(--danger);
	margin-top: .25rem;
	text-align: center;
}

.tasks-time-day-full {
	width: 4rem;
	height: 2.5rem;
	border-radius: var(--radius);
	background-color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	position: relative;
}

div.tasks-time-day.tasks-time-day-global .tasks-time-day-full {
	background-color: transparent;
	color: var(--primary);
	background: var(--background-light);
	border: 2px solid var(--primary);
	font-weight: bold;
}

a.tasks-time-day-full-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	transition: background-color 0.5s;
	text-decoration: none;
}

div.tasks-time-day-full-form {
	padding: 1rem;
	background-color: white;
}

div.tasks-time-day-full-form form {
	display: grid;
	grid-row-gap: 0.5rem;
}

div.tasks-time-day-timesheet {
	color: var(--primary);
	font-size: 0.8rem;
}

@media (min-width: 1200px) {

	div.tasks-time-day div.tasks-time-day-timesheet {
		margin-left: -2rem;
		padding: 0.5rem 0.5rem 0.5rem 2rem;
		border-radius: var(--radius);
		background: rgba(0, 0, 0, 0.04);
	}

}

span.tasks-time-day-numeric {
	font-size: 0.8rem;
	font-weight: lighter;
}

@media (max-width: 991px) {

	span.tasks-time-day-numeric {
		display: block;
		color: var(--muted);
	}

}

@media (min-width: 992px) {

	span.tasks-time-day-numeric {
		margin-left: 0.5rem;
	}

}

div.tasks-time-day-timesheet.tasks-time-day-timesheet-alert {
	color: var(--danger);
}

.tasks-week-list-name {
	max-width: 20rem;
}

.tasks-week-list-name > a {
	display: block;
	color: inherit;
	text-decoration: none;
}

@media (max-width: 767px) {

	.tasks-week-list-plant,
	.tasks-week-list-tools {
		display: none;
	}

}

table.tasks-week-plant-list tbody:hover tr {
	background-color: rgba(0, 0, 0, 0.03) !important;
}

@media (max-width: 575px) {

	.tasks-week-plant-list .media-circle-view {
		display: none;
	}

	.tasks-week-tools .media-rectangle-view {
		display: none;
	}

}

div.task-item-header {
	margin-bottom: 1rem;
}

div.task-item-presentation {
	display: grid;
	margin-bottom: 2rem;
	grid-template-rows: auto auto;
	padding: 0;
	border: 1px solid var(--border);
	border-radius: var(--radius);
}

.task-item-presentation > div {
	grid-row: span 2;
	display: grid;
}

@supports (grid-template-columns: subgrid) {

	.task-item-presentation > div {
		grid-template-rows: subgrid;
	}

}

.task-item-presentation > div > *:first-child {
	align-self: center;
}

@media (min-width: 768px) {

	div.task-item-presentation.task-item-presentation-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	div.task-item-presentation.task-item-presentation-2 > div:first-child {
		border-right: 1px solid var(--border);
	}

}

@media (max-width: 767px) {

	div.task-item-presentation.task-item-presentation-2 {
		grid-template-columns: 1fr;
	}

	div.task-item-presentation.task-item-presentation-2 > div:first-child {
		border-bottom: 1px solid var(--border);
	}

}

@media (min-width: 992px) {

	div.task-item-presentation.task-item-presentation-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	div.task-item-presentation.task-item-presentation-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	div.task-item-presentation.task-item-presentation-3 > div:not(:nth-child(3n)) {
		border-right: 1px solid var(--border);
	}

	div.task-item-presentation.task-item-presentation-4 > div:not(:nth-child(4n)) {
		border-right: 1px solid var(--border);
	}

}

@media (min-width: 576px) and (max-width: 991px) {

	div.task-item-presentation.task-item-presentation-3,
	div.task-item-presentation.task-item-presentation-4 {
		grid-template-columns: repeat(2, 1fr);
	}

	div.task-item-presentation.task-item-presentation-3 > div:not(:nth-child(2n)),
	div.task-item-presentation.task-item-presentation-4 > div:not(:nth-child(2n)) {
		border-right: 1px solid var(--border);
	}

	div.task-item-presentation.task-item-presentation-3 > div:not(:nth-child(n + 3)),
	div.task-item-presentation.task-item-presentation-4	 > div:not(:nth-child(n + 3)) {
		border-bottom: 1px solid var(--border);
	}

}

@media (max-width: 575px) {

	div.task-item-presentation {
		grid-template-columns: 1fr;
	}

	div.task-item-presentation > div:not(:last-child) {
		border-bottom: 1px solid var(--border);
	}

}

div.task-item-presentation > div {
	padding: 1rem;
}

div.task-item-presentation h4 {
	color: var(--secondary);
}

.task-item-presentation-week-days {
	margin-left: 0.5rem;
	color: var(--muted);
	font-weight: normal;
	font-size: .8rem;
}

/* Fertilisation */
select.task-fertilizer-field {
	display: inline-block;
	width: auto;
	padding-right: 3rem;
}

div.task-fertilizer-grid {
	display: grid;
	grid-template-columns: auto auto auto auto 1fr;
	align-items: center;
	grid-row-gap: 0.25rem;
	grid-column-gap: 1rem;
	padding: 0.5rem;
}

@media (min-width: 768px) {

	div.task-fertilizer-grid {
		display: grid;
		grid-template-columns: auto auto 1fr auto auto;
		align-items: center;
		grid-column-gap: 1.5rem;
	}

}

div.task-fertilizer-grid div.task-fertilizer-grid-total {
	border-top: 1px solid var(--border);
	align-self: start;
}

div.task-fertilizer-grid div.task-fertilizer-grid-zone {
	text-transform: uppercase;
	white-space: nowrap;
}

div.task-fertilizer-grid div.task-fertilizer-grid-plot {
	white-space: nowrap;
}

div.task-fertilizer-grid div.task-fertilizer-grid-bed {
	font-weight: bold;
	white-space: nowrap;
}

div.task-fertilizer-grid div.task-fertilizer-grid-size {
	text-align: right;
}

div.task-fertilizer-grid div.task-fertilizer-grid-greenhouse {
	white-space: nowrap;
}

div.task-item-action {
	margin-bottom: 2rem;
}

div.task-item-action dl {
	grid-row-gap: 0.5rem;
}

div.task-item-action dt {
	padding: 0.5rem 0;
}

div.task-item-action dd {
	background-color: var(--background-light);
	padding: 0.5rem;
	border-radius: var(--radius);
}

div.task-presentation-seedling {
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 0.5rem;
	align-items: center;
}

div.task-presentation-seedling-sum {
	color: var(--secondary);
}

div.task-presentation-seedling-number {
	text-align: right;
}

div.task-presentation-seedling-part {
	font-weight: normal;
	color: var(--muted);
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

div.task-presentation-seedling-tools {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 0.5rem;
	align-items: center;
}

div.task-presentation-seedling-tools-number {
	text-align: right;
}

#task-write-action a.nav-link {
	color: var(--muted);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#task-write-action a.nav-link.active,
#task-write-plant a.nav-link.active {
	background-color: var(--secondary);
	color: white;
	font-weight: bold;
}

#task-write-action > ul.nav + div.field-radio-group {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

span.task-write-planned-active a {
	font-weight: bold;
	text-decoration: none;
	color: var(--text);
}

div.task-write-planned[data-period="week"] span.task-write-planned-link-week,
div.task-write-planned[data-period="week"] div.task-write-planned-field:not(.task-write-planned-week),
div.task-write-planned[data-period="week"] span.task-write-planned-separator-1 {
	display: none;
}

div.task-write-planned[data-period="date"] span.task-write-planned-link-date,
div.task-write-planned[data-period="date"] div.task-write-planned-field:not(.task-write-planned-date),
div.task-write-planned[data-period="date"] span.task-write-planned-separator-1 {
	display: none;
}

div.task-write-planned[data-period="unplanned"] span.task-write-planned-link-unplanned,
div.task-write-planned[data-period="unplanned"] div.task-write-planned-field:not(.task-write-planned-unplanned),
div.task-write-planned[data-period="unplanned"] span.task-write-planned-separator-2 {
	display: none;
}

div.task-write-repeat-field {
	margin: 1rem 0;
}

#panel-task-create h3 {
	margin-bottom: 0;
}

/* Add a new task in the flow */
div.task-create-from {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-column-gap: 1rem;
}

@media (max-width: 767px) {

	div.task-create-from {
		grid-auto-flow: row;
		grid-template-columns: 1fr;
		justify-content: center;
		grid-row-gap: 1rem;
	}

}

div.task-create-from > *:nth-child(2) {
	align-self: center;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

#task-create-plant {
	margin-bottom: 1rem;
}

.task-time-hour {
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

/* Tabs */
.tabs-categories {
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

@media (min-width: 576px) {

	.tabs-categories {
		flex-wrap: wrap;
	}

	.tabs-category:not(:last-child) {
		margin-right: 0.25rem;
	}

}

@media (max-width: 575px) {

	.tabs-categories {
		flex-direction: column;
		margin-bottom: 2rem;
		border: 1px solid var(--border);
		border-radius: var(--radius);
		position: relative;
	}

	.tabs-category:not(:last-child) {
		margin-bottom: 1px;
	}

	.tabs-categories:after {
		content: ' ';
		height: 12px;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 16px 12px;
		bottom: calc(-12px - 0.5rem);
		left: 0;
		right: 0;
		position: absolute;
	}

}

.tabs-category {
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.25s;
	background-color: var(--background);
	color: var(--text);
}
a.tabs-category {
	text-decoration: none;
}

.tabs-category.active,
.tabs-category:hover {
	background-color: var(--secondary);
	color: white;
}

.tabs-category.active {
	font-weight: bold;
}

@media (min-width: 576px) {

	.tabs-category {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}

}

@media (max-width: 575px) {

	.tabs-category:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}

	.tabs-category:last-child {
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}

}

body[data-template~="farm-planning-daily"] .util-bar-inline,
body[data-template~="farm-planning-weekly"] .util-bar-inline {
	left: 2.5rem;
}

@media (max-width: 575px) {

	body[data-template~="farm-planning-daily"] .util-bar-inline,
	body[data-template~="farm-planning-weekly"] .util-bar-inline {
		left: 2.75rem;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	body[data-template~="farm-planning-weekly"] .util-bar-inline {
		top: calc(50% - 1.25rem);
	}

	body[data-template~="farm-planning-weekly"] .util-bar-inline-item {
		width: 3rem;
	}

	body[data-template~="farm-planning-weekly"] .util-bar-inline-item span {
		display: none;
	}

}

body[data-template~="farm-planning-daily"] .util-bar-inline-item span {
	font-size: 0.75rem;
}

@media (max-width: 1399px) {

	body[data-template~="farm-planning-weekly"] .util-bar-inline-item span {
		font-size: 0.75rem;
	}

}

.batch-planned-user[post-action="add"] .asset-icon-x-lg {
	display: none;
}

.batch-planned-user[post-action="delete"] .asset-icon-plus-lg {
	display: none;
}

.batch-planned-days {
	display: grid;
	grid-template-columns: repeat(4, min-content);
}

.batch-planned-days > *:nth-child(7) {
	grid-column: span 2;
}

.batch-planned-days > *:not(:nth-child(7)):not(:nth-child(4)) {
	border-right: 1px solid rgba(255, 255, 255, 0.33);
}
.batch-planned-days > * {
	border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

.batch-planned-days-date {
	font-size: 0.9rem;
	color: #fffa;
}

.batch-planned-weeks {
	display: grid;
	grid-template-columns: repeat(2, auto);
}

.batch-planned-weeks > *:not(:last-child) {
	border-right: 1px solid rgba(255, 255, 255, 0.33);
}
.batch-planned-weeks > * {
	border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}