
/* Batch */
#batch-group {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	border-top: 1px solid var(--background);
	background-color: var(--secondary);
	padding: 0.75rem 0.75rem 0;
}

.batch-title {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	margin-bottom: 0.5rem;
	color: white;
}

.batch-title h4 {
	margin-bottom: 0;
}

.batch-item {
	position: relative;
}

.batch-menu {
	overflow-x: auto;
	color: white;
	display: flex;
	justify-content: space-between;
}

.batch-menu-main {
	display: flex;
	justify-content: start;
	align-items: end;
	width: max-content;
}

@media (max-width: 575px) {

	.batch-menu-main {
		justify-content: center;
	}

}


a.batch-menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	white-space: nowrap;
	background-color: var(--secondary);
	color: white;
	padding: 0.75rem;
	min-width: 5rem;
}

a.batch-menu-item.disabled {
	pointer-events: none;
	opacity: 0.5;
}

a.batch-menu-item-danger {
	background-color: var(--danger);
}

@media (min-width: 576px) {

	a.batch-menu-item-danger {
		border-radius: var(--radius);
		margin: 0.5rem 0;
	}

}

a.batch-menu-item:hover {
	text-decoration: none;
}

.batch-menu-main a.batch-menu-item:not(.batch-menu-item-last) {
	border-right: 1px solid var(--background);
}

a.batch-menu-item svg {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

a.batch-menu-item:hover span:last-child {
	text-decoration: underline;
}

@media (max-width: 575px) {

	a.batch-menu-item span:last-child {
		font-size: 0.9rem;
	}

}

@media (max-width: 449px) {

	a.batch-menu-item span:last-child {
		font-size: 0.8rem;
	}

}


.batch-one {
	position: absolute;
	top: calc(50% - 2rem);
	border-radius: var(--radius);
	z-index: 20;
	background-color: var(--secondary);
	padding-left: 0.25rem;
}

.batch-one-menu {
	display: flex;
	align-items: center;
}

.batch-one-item {
	color: white;
	font-size: 1.1rem;
	padding: 0.5rem;
	text-align: center;
	display: block;
	white-space: nowrap;
}

@media (max-width: 767px), (min-width: 1400px) {

	.batch-one-item {
		padding: 0.5rem 0.375rem;
	}

}

.batch-one-item:not(:last-child) {
	border-right: 1px solid white;
}

a.batch-one-item {
	color: white;
}

.batch-one-item span {
	font-size: 0.8rem;
	display: block;
	margin-top: 0.25rem;
}