input[type="number"] {
   width: 5rem;
}

input[type="file"] {
	display: none;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 0.75rem;
	margin-top: 0.375rem;
	margin-bottom: 0.375rem;
	padding: 0;
	border: 1px solid var(--primary);
	border-radius: 5px;
	background: white;
	outline: none;
	opacity: 0.8;
	transition: opacity .5s;
}

input[type="range"]:hover {
	opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: var(--primary);
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
	background: var(--primary);
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}

input[type="checkbox"] {
	width: 1.1rem;
	height: 1.1rem;
}


.form-error [type="submit"] {
	box-shadow: 0 0 15px var(--danger);
}

[data-wrapper].form-error-wrapper > label.form-control-label {
	color: var(--danger) !important;
	font-weight: bold;
}

[data-wrapper].form-error-wrapper input {
	color: var(--danger);
}

[data-wrapper].form-error-wrapper [data-wrapper]  input {
	color: inherit;
}

[data-wrapper].form-error-wrapper [data-wrapper].form-error-wrapper input {
	color: var(--danger);
}

.form-columns [data-wrapper].form-error-wrapper > label.form-control-label {
	padding-right: 0.25rem;
	border-right: 2px solid var(--danger);
}

.form-error-message {
	font-size: 0.875rem;
	color: var(--danger) !important;
	font-weight: normal !important;
	border-radius: var(--radius);
	margin: 0.25rem 0.25rem 0 0;
	line-height: 1.3;
}

.form-error-field div.input-group label.btn,
.form-error-field div.btn,
.form-error-field .input-group label,
.form-error-field input,
.form-error-field textarea,
.form-error-field .form-error-field-component,
.form-error-field,
.form-error-field select {
	border-color: #d9534f !important;
}
.form-error-field input[type="radio"] {
	outline: 1px solid #d9534f !important;
}
.form-error-field input[type="text"],
.form-error-field input[type="time"],
.form-error-field input[type="date"],
.form-error-field input[type="email"],
.form-error-field input[type="url"] {
	background: linear-gradient(to right, rgba(217, 83, 111, 0.2) 0, transparent 3rem);
	background-color: white;
}
.form-error-field .input-group-addon {
	color: rgb(217, 83, 111);
}

.form-character-count-wrapper {
	display: flex;
}

.form-character-count-wrapper.for-textarea {
	flex-direction: column;
}

.form-character-count {
	color: var(--muted);
	display: none;
	align-items: center;
	font-size: 0.9rem;
}

.form-character-count-wrapper.for-input input {
	padding-right: 3rem;
}

.for-input .form-character-count {
	margin-left: -2.5rem;
	width: 2.5rem;
	justify-content: center;
	border-left: 1px solid;
}

.for-textarea .form-character-count {
	justify-content: flex-end;
	padding-top: 0.25rem;
}

.form-character-count.error,
.form-character-count.error.focus {
	border-color: var(--danger);
}

.form-character-count.error {
	color: var(--danger);
}

.form-info {
	font-size: .9rem;
	font-weight: normal;
	color: var(--muted);
	margin-top: .25rem;
}

.form-control + .form-info,
.form-info-ancestor + .form-info,
.editor + .form-info,
.editor + script + .form-info,
.input-group + .form-info {
	margin-top: -1px;
	background: #CCC2;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	padding: 0.25rem 0.5rem;
	margin-left: 1rem;
	/*border: 1px solid #0002;*/
	margin-right: 1rem;
}

.form-info svg {
	margin: 0 0.5rem;
}

.form-info > :last-child {
	margin-bottom: 0;
}

input.form-color {
	max-width: 6rem;
}

div.form-range {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: .5rem;
	align-items: center;
	width: 100%;
}

div.form-postcode-city {
	display: grid;
	grid-template-columns: 10rem 1fr;
	column-gap: 1rem;
}

div.form-asterisk {
	display: inline-block;
	font-size: 0.8em;
	transform: translate(0, -0.5em);
	margin-left: 0.25rem;
}

div.form-asterisk svg {
	color: var(--secondary);
}

div.form-asterisk-info {
	margin-bottom: 1rem;
	font-size: 0.9rem;
	color: var(--muted);
	width: max-content;
	background-color: #0000000a;
	border-radius: var(--radius);
	padding: 0.25rem 0.75rem;
}

/* Form group */
div.form-group {
	margin-bottom: 0.75rem;
}

.form-columns div.form-group:not(.form-group-nested) {
	display: grid;
	grid-column-gap: 1rem;
}

div.form-group-highlight {
	background-color: var(--background);
	padding: 1rem;
	border-radius: var(--radius);
}

div.form-group-highlight.bg-primary,
div.form-group-highlight.bg-secondary {
	color: white;
}

div.form-group-highlight .form-control-label {
	font-weight: bold;
}

.form-columns div.form-group.form-group-highlight {
	align-items: center;
}

.form-columns-25 div.form-group {
	grid-template-columns: 1fr 3fr;
}

.form-columns-33 div.form-group {
	grid-template-columns: 1fr 2fr;
}

.form-columns-40 div.form-group {
	grid-template-columns: 2fr 3fr;
}

.form-columns-50 div.form-group {
	grid-template-columns: 1fr 1fr;
}

div.form-group.form-group-nested > .form-control-label {
	margin-bottom: 0.125rem;
	color: var(--muted);
	font-size: 0.9rem;
}

@media (max-width: 767px) {

	.form-columns-sm div.form-group:not(.form-group-nested) {
		grid-template-columns: 1fr !important;
	}

	.form-columns-sm div.form-group:not(.form-group-nested) > .form-control-label {
		margin: 0.5rem 0;
		font-weight: bold;
	}

}

@media (max-width: 575px) {

	.form-columns-xs div.form-group:not(.form-group-nested) {
		grid-template-columns: 1fr !important;
	}

	.form-columns-xs div.form-group:not(.form-group-nested) > .form-control-label {
		margin: 0.5rem 0;
		font-weight: bold;
	}

}

.form-selects-item {
	margin-bottom: 0.5rem;
}

.form-buttons {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: .5rem;
	align-items: center;
}

.field-followup {
	margin-top: 0.25rem;
	text-align: right;
}

/* Radio group */
.field-radio-group {
	display: grid;
	border: 1px solid #0002;
	border-radius: var(--radius);
	background-color: white;
	line-height: 1.4;
	padding: 0.5rem;
}

.field-radio-group-2 {
	grid-template-columns: repeat(2, 1fr);
}

.field-radio-group-3 {
	grid-template-columns: repeat(3, 1fr);
}

.field-radio-group-4 {
	grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 575px) {

	.field-radio-group-3,
	.field-radio-group-4 {
		grid-template-columns: repeat(2, 1fr);
	}

}

.field-radio-group > label {
	padding: 0.5rem;
	cursor: pointer;
	transition: background-color 0.5s;
	border-radius: calc(var(--radius) / 2);
}

.field-radio-group > label:hover {
	background-color: var(--background);
}

.field-radio-group > label > input:checked + span {
	font-weight: bold;
}

.field-radio-group > label > input:disabled + span {
	color: var(--muted);
}

.field-radio-group-action {
	padding: 0.25rem 0.5rem;
	font-size: 0.9rem;
	text-align: right;
}

.field-radio-select {
	color: var(--primary);
}

.field-radio-separator {
	color: var(--muted);
	font-style: italic;
}

/* Switch */
.field-switch {
	height: 1.8rem;
	width: 3.6rem;
	min-width: max-content;
	border-radius: 1rem;
	border: 1px solid white;
	transition: all 0.5s;
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}

.field-switch:hover {
	box-shadow: 0 0 0.5rem var(--border);
	text-decoration: none !important;
}

.field-switch input {
	display: none;
}

.field-switch-on {
	background-color: var(--success);
}

.field-switch-off {
	background-color: var(--muted);
}

.field-switch-text {
	padding: 0 0.5rem;
}

.field-switch-on .field-switch-text {
	margin-left: 1.3rem;
}

.field-switch-off .field-switch-text {
	transform: translate(0, calc(-1.8rem + 2px));
	margin-right: 1.3rem;
}

.field-switch-text > div {
	height: calc(1.8rem - 2px);
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	line-height: 1;
	color: white;
}

.field-switch-text > div:last-child {
	padding-right: 0.3rem;
}

.field-switch-circle {
	height: calc(1.2rem - 2px);
	width: calc(1.2rem - 2px);
	border-radius: 50%;
	background-color: white;
	position: absolute;
	transition: left 0.25s;
	margin: 0.3rem 0;
}

.field-switch-circle {
	left: 0.3rem;
}

.field-switch-off .field-switch-circle {
	left: calc(100% - 1.4rem + 2px - 0.3rem);
}

/* Weeks */
div.input-group > .input-group-addon.field-week-preview {
	border-left: 0;
	background-color: white;
	text-align: right;
	min-width: 75px;
	font-size: 0.9rem;
	user-select: none;
}

div.input-group > .input-group-addon.field-week-preview:empty {
	display: none;
}

div.input-group > input:disabled + .input-group-addon.field-week-preview {
	color: var(--muted);
	background-color: var(--background-light);
}

.field-week-selector {
	width: calc(100vw - 2rem);
	max-width: 300px;
	background: linear-gradient(to bottom, var(--background) 0%, #fff 50%, #fff 100%);
	border-radius: var(--radius);
	padding: 1rem;
	user-select: none;
}

.field-week-selector-title {
	text-align: center;
	margin-bottom: .5rem;
}

.field-week-selector-year {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;
}

.field-week-selector-year a.field-week-selector-navigation {
	font-size: 1.2rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: font-size 0.25s;
}

.field-week-selector-year a.field-week-selector-navigation:hover {
	font-size: 1.7rem;
}

.field-week-selector-year h4 {
	text-align: center;
	font-weight: bold;
	margin: 0;
}

.field-week-selector-weeks {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 0.25rem;
	grid-row-gap: 0.25rem;
	align-items: center;
	overflow: hidden;
}

.field-week-selector-ticks {
	display: grid;
	grid-template-columns: repeat(38, 1fr);
	position: relative;
	text-align: center;
}

.field-week-selector-ticks > .field-week-selector-label {
	line-height: 1;
	padding-bottom: 1rem;
	font-size: 0.9rem;
}

.field-week-selector-ticks > .field-week-selector-tick {
	justify-content: center;
	border-right: 1px solid #0002;
	position: absolute;
	top: 1.5rem;
	height: 1000px;
}

.field-week-selector-month {
	font-weight: bold;
	line-height: 1.2;
	text-transform: capitalize;
	text-align: center;
	border-radius: var(--radius);
}

a.field-week-selector-month {
	background-color: rgba(0, 0, 0, 0.05);
	color: var(--text);
	text-decoration: none;
	padding: 0.5rem 0.75rem;
}

a.field-week-selector-month:hover {
	background-color: var(--primary);
	color: white;
}

.field-week-selector-bubbles {
	display: grid;
	grid-template-columns: repeat(38, 1fr);
	position: relative;
}

.field-week-selector-bubble {
	text-align: center;
	margin: 0 1px;
}

.field-week-selector-bubble.btn.btn-sm {
	padding-left: 0;
	padding-right: 0;
}

.field-week-selector-bubble-current {
	background-color: white;
	font-weight: bold;
}

/* Month */
.field-month-native {
	display: block;
}

.field-month-fallback {
	display: flex;
}

/* Color field */
.field-color {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 1rem;
	align-items: center;
}
.field-color input[type="color"] {
	width: 5rem;
	height: 3rem;
}
.field-color label {
	color: var(--muted);
	transition: color 0.5s;
}
.field-color label:hover {
	color: inherit;
}

/* Backend */
#form-search {
}

#form-search > div:first-of-type {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem 0.75rem;
	margin-bottom: 0.5rem;
}

#form-search > div:first-of-type > select,
#form-search > div:first-of-type > input	,
#form-search > div:first-of-type > .input-group {
	width: auto;
}

#form-search > div:first-of-type > span {
	white-space: nowrap;
}

#form-search > div:last-of-type {
	display: flex;
	column-gap: 0.5rem;
}

#form-search > div:last-child > .form-search-end {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	text-align: right;
	font-weight: lighter;
	line-height: 1.2;
	margin-right: 0;
}

/* Autocomplete features */
body.autocomplete-fullscreen-open {
	overflow: hidden;
	width: 100vw;
}

body.autocomplete-fullscreen-open[data-touch="no"] {
	padding-right: 15px;
}


.autocomplete-placeholder {
	display: none;
}

body[data-touch="yes"] .autocomplete-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

body[data-touch="no"] .autocomplete-dropdown {
	position: absolute;
}

body[data-touch="no"] .autocomplete-dropdown:empty {
	display: none;
}

ul.autocomplete-list {
	position: absolute;
	overflow-y: auto;
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 300px;
	background-color: black;
}


body[data-touch="yes"] ul.autocomplete-list {
	max-height: 80vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

ul.autocomplete-list li {
	padding: 0.375rem 0.75rem;
	text-decoration: none;
	cursor: pointer;
	color: white;
	display: flex;
	align-items: center;
	line-height: 1.2;
}

ul.autocomplete-list li:not(:last-child) {
	border-bottom: 1px solid #333;
}

body[data-touch="yes"] ul.autocomplete-list li:last-child {
	padding-bottom: 60vh;
}

ul.autocomplete-list li a {
	color: white;
}

ul.autocomplete-list li.not-selectable {
	background-color: #444;
	cursor: auto;
}
ul.autocomplete-list li:not(.not-selectable).selected,
ul.autocomplete-list li:not(.not-selectable):hover {
	background-color: #555;
}

ul.autocomplete-list li > *:not(:last-child) {
	margin-right: 0.5rem;
}

ul.autocomplete-list li.autocomplete-list-empty {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-style: italic;
	color: #bbb !important;
}

ul.autocomplete-list .color-muted {
	color: #bbb !important;
}

.autocomplete-dropdown div.autocomplete-place > div:first-child {
	margin-bottom: 0.25rem;
}

.autocomplete-dropdown div.autocomplete-place > div:last-child {
	font-size: 0.85rem;
	color: #ddd;
}

/* Form field */
body[data-touch="yes"] input.autocomplete-open {
	font-size: 1.2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 80vw;
	margin: 2rem auto 0;
}

a.autocomplete-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

input[data-autocomplete-items] {
	border-right: 0;
}

input[data-autocomplete-items]:placeholder-shown + a.autocomplete-empty:not(:focus) {
	background-color: white;
	border-top: 1px solid #0002;
	border-right: 1px solid #0002;
	border-bottom: 1px solid #0002;
	pointer-events: none;
}

/* Results */
.autocomplete-items:empty {
	display: none;
}

.autocomplete-items-multiple:not(:empty) {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem -0.5rem;
}

.autocomplete-items-multiple .autocomplete-item {
	display: flex;
	align-items: center;
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: var(--radius);
	background-color: #eee;
	font-weight: bold;

}

.autocomplete-items-multiple .autocomplete-item > *:not(:last-child) {
	margin-right: 0.5rem;
}