#header-login a {
	color: white;
}

.login-form,
.signup-form {
	max-width: 500px;
	margin: auto;
}

header .login-form,
header .signup-form {
	margin: auto;
	padding: 0 1rem;
}

.login-teasing {
	max-width: 500px;
	margin: 1rem auto 0 auto;
	text-align: center;
}

.login-form div.row > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.login-submit {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login-submit .login-forgotten-password {
	text-align: right;
	font-size: 0.9rem;
}

.login-form .form-control-label {
	padding: 0;
}

#panel-forgotten-password {
	z-index: 1000000;
}

#link-forgotten-password {
	font-size: 0.9rem;
}

/* E-mail verified */
div.user-light {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.user-light h1 {
	margin-bottom: 1.5rem;
}

div.user-light h4 {
	margin: 0rem 0 3rem;
	color: #666;
}

div.user-light-actions a {
	margin: 0 0.5rem;
}

.user-field-role .btn {
	padding: 0.5rem 1.5rem;
	border: 1px solid var(--border);
	border-radius: 1rem;
	background: white;
}

.user-field-role .btn:not(:last-child) {
	margin-right: 1rem;
}

.user-account-header {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
	align-items: center;
}

.user-account-header .media-image-dropdown {
	border-radius: 50%;
}

.user-account-header .media-image-upload.media-image-no .media-image-action {
	top: -0.5rem;
	right: -0.5rem;
	left: 66%;
	bottom: 66%;
	font-size: 1.25rem;
}

.user-account-header .media-image-action a {
	background-color: var(--primary);
}

.user-account-header > h1 {
	margin-bottom: 0;
}