/* Items */
div.crop-items {
	margin-bottom: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

@media (max-width: 1499px) {

	div.crop-items {
		grid-template-columns: 1fr;
		max-width: 50rem;
	}

	div.crop-item-ghost {
		display: none;
	}

}

div.crop-item {
	border-radius: var(--radius);
	box-shadow: 0.125rem 0.125rem 0.25rem #0001;
	background-color: white;
}

div.crop-item.crop-item-ghost {
	visibility: hidden;
}

div.crop-item-header {
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

div.crop-item-header:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

div.crop-item-title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 0.5rem;
	align-items: center;
}

div.crop-item-title h2 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: normal;
}

div.crop-item-title h2 a {
	color: inherit;
}

div.crop-item-varieties {
	width: 100%;
	padding-left: 3.5rem;
	display: grid;
	grid-template-columns: auto auto;
	align-items: baseline;
	font-size: 0.9rem;
	line-height: 1.4	;
}

div.crop-item-varieties.crop-item-varieties-1 {
	grid-template-columns: 1fr;
}

@media (max-width: 575px) {

	div.crop-item-varieties {
		grid-template-columns: 1fr;
	}

}

span.crop-item-varieties-label {
	text-transform: uppercase;
	padding-right: .5rem;
}

span.crop-item-varieties-part {
	color: var(--muted);
}

div.crop-item-soil-infos {
	padding-left: 3.5rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	line-height: 1.4;
}

div.crop-item-presentation {
	padding: 0.5rem;
}

div.crop-item-info {
	padding: 0.5rem;
	background-color: var(--info);
	font-weight: bold;
	border-bottom-right-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	line-height: 1.4;
}

@media (min-width: 576px) {

	dt.crop-item-harvest-label {
		grid-column-start: 1;
	}

	dd.crop-item-harvest-value {
		grid-column-start: 2;
		grid-column: span 3;
	}

}

@media (max-width: 575px) {

	dt.crop-item-harvest-label {
		grid-column-start: 1;
		grid-column: span 2;
	}

	dd.crop-item-harvest-value {
		grid-column-start: 1;
		grid-column: span 2;
	}

}

div.crop-write-spacing-values {
	display: grid;
	grid-template-columns: auto min-content auto;
	align-items: center;
}

tr.crop-list-title-plant {
	background-color: white
}

tr.crop-list-title-plant td {
	font-size: 0.9rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.3px;
}

tr.crop-list-title-plant .plant-vignette {
	margin-right: 0.75rem;
}

[data-wrapper^="seedlingSeeds"]:not([data-action="sowing"]):not([data-action="young-plant"]) {
	display: none !important;
}

[data-wrapper^="seedlingSeeds"][data-action="sowing"] .crop-field-young-plant {
	display: none;
}

[data-wrapper^="seedlingSeeds"][data-action="young-plant"] .crop-field-sowing {
	display: none;
}