#flow-wrapper {
	margin-bottom: 1.5rem;
}

div.flow-timeline-body {
	background-color: white;
	margin-bottom: 1rem;
}

div.flow-timeline {
	display: grid;
	grid-template-columns: 5rem 6rem 2rem 1fr;
	grid-column-gap: 0.75rem;
	align-items: center;
	transition: background-color 0.5s;
}

div.flow-timeline-readonly div.flow-timeline {
	grid-template-columns: 5rem 6rem 1fr;
}

@media (max-width: 767px) {

	div.flow-timeline {
		grid-template-columns: 4rem 4rem 2rem 1fr;
		grid-column-gap: 0.5rem;
	}

	div.flow-timeline-readonly div.flow-timeline {
		grid-template-columns: 4rem 4rem 1fr;
	}

}

@media (max-width: 449px) {

	div.flow-timeline {
		grid-template-columns: 2.5rem 3rem 2rem 1fr;
		grid-column-gap: 0.25rem;
	}

	div.flow-timeline-readonly div.flow-timeline {
		grid-template-columns: 3rem 3rem 1fr;
	}

}

div.flow-timeline-header > .util-grid-header{
	padding: 0.5rem 0 0.25rem;
}

div.flow-timeline-new-week:not(:first-child),
div.flow-timeline-inter:not(:first-child),
div.flow-timeline-year:not(:first-child) {
	border-top: 1px dashed rgba(200, 200, 200, 0.75);
}

div.flow-timeline-year {
	background-color: #fafafa;
	font-size: 0.9rem;
	font-weight: bold;
}

div.flow-timeline-year div.flow-timeline-year-value {
	width: 5rem;
	text-align: center;
	padding: 0.5rem 0;
}

@media (max-width: 767px) {

	div.flow-timeline-year div.flow-timeline-year-value {
		width: 4rem;
	}

}

@media (max-width: 449px) {

	div.flow-timeline-year div.flow-timeline-year-value {
		width: 2.5rem;
	}

}

div.flow-timeline-inter {
	background-color: #fafafa;
}

div.flow-timeline-new-season > *:first-child,
div.flow-timeline-new-year > .flow-timeline-anonymous-year {
	font-weight: bold;
	grid-column: span 2;
	margin: 0.75rem 0;
	padding-left: 0.5rem;
}

div.flow-timeline-new-year > .flow-timeline-reference-year {
	font-weight: bold;
	text-align: center;
}

div.flow-timeline-item {
	display: flex;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	min-height: 50px;
}

div.flow-timeline-week {
	font-size: 0.85rem;
	color: var(--muted);
}

@media (max-width: 575px) {

	div.flow-timeline-week {
		font-size: 0.8rem;
	}

}

div.flow-timeline-inter div.flow-timeline-item {
	min-height: 14px;
}

div.flow-timeline-item:before {
	position: absolute;
	content: ' ';
	left: calc(50% - 1);
	top: 0;
	bottom: 0;
	background-color: var(--primary);
	width: 2px;
}

div.flow-timeline-inter div.flow-timeline-item:before {
	background: linear-gradient(to bottom,
		white 0px, white 2px,
		var(--primary) 2px, var(--primary) 4px,
		white 4px, white 6px,
		var(--primary) 6px, var(--primary) 8px,
		white 8px, white 10px,
		var(--primary) 10px, var(--primary) 12px,
		white 12px, white 14px,
		var(--primary) 14px, var(--primary) 16px,
		white 16px, white 18px
	);
}

div.flow-timeline-action {
	display: flex;
	height: 100%;
	position: relative;
	padding: 0.5rem;
}

a.flow-timeline-circle,
div.flow-timeline-circle {
	position: relative;
	background-color: white;
	color: var(--primary);
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-decoration: none;
	border-radius: var(--radius);
	transition: color, background-color 0.5s;
}

a.flow-timeline-circle:hover {
	color: white;
	background-color: var(--primary);
}

div.flow-timeline-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	line-height: 1.2;
	width: 100%;
}

div.flow-timeline-move {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a.flow-timeline-text {
	padding: 0.25rem 0;
	color: var(--text);
}

a.flow-timeline-text:hover {
	text-decoration: none;
}

a.flow-timeline-text:hover .action-text {
	text-decoration: underline;
}

span.flow-timeline-fertilizer {
	font-size: .9rem;
	margin-bottom: .25rem;
}

div.flow-timeline-description-list {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 0.5rem;
	align-items: baseline;
}

div.flow-timeline-description-list div[data-action="task-checkbox"] {
	margin: 0 -0.5rem;
	padding: 0.125rem 0.5rem;
}

div.flow-timeline-description-list div[data-action="task-checkbox"]:hover {
	cursor: pointer;
}

div.flow-timeline-description-list div[data-action="task-checkbox"] svg {
	font-size: 1.2rem;
}

div.flow-timeline-description-list div[data-action="task-checkbox"] svg.asset-icon-circle,
div.flow-timeline-description-list div[data-action="task-checkbox"]:hover svg.asset-icon-check-circle {
	color: var(--todo);
}

div.flow-timeline-description-list div[data-action="task-checkbox"]:hover svg.asset-icon-circle,
div.flow-timeline-description-list div[data-action="task-checkbox"] svg.asset-icon-check-circle {
	color: var(--done);
}

div.flow-timeline-description {
	font-size: 0.9rem;
	user-select: none;
}

@media (min-width: 576px) {

	div.task-item-header div.flow-timeline-description {
		font-size: 1.2rem;
	}

}

@media (max-width: 575px) {

	div.task-item-header div.flow-timeline-description {
		font-size: 1.1rem;
	}

}

div.flow-timeline-description:not(:first-child) {
	padding-top: 0.375rem;
}

div.flow-timeline-tools {
	padding-top: 0.375rem;
}

div.flow-timeline-comments {
	font-size: 0.9rem;
	line-height: 1.5;
}

div.flow-timeline-comments:not(:first-child) {
	margin-top: 0.375rem;
}

div.flow-timeline-comments:empty {
	display: none;
}

div.flow-timeline-frequency {
	color: var(--muted);
}

div.flow-timeline-lasting {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 6px;
	min-width: 6px;
}

div.flow-timeline-lasting-start {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: 0.5rem;
}

div.flow-timeline-lasting-stop {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 0.5rem;
}

div.flow-timeline-lasting-only {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 6px;
	min-width: 6px;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	border-radius: 3px;
}

div.flow-timeline-update {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 2rem;
	align-self: stretch;
	background-color: rgba(0, 0, 0, 0.05);
}

div.flow-timeline-update > a {
	line-height: 1;
}

@media (max-width: 767px) {
	div.flow-timeline-update > a.flow-timeline-update-up,
	div.flow-timeline-update > a.flow-timeline-update-down {
		display: none;
	}
}

div.flow-timeline-task {
	width: 100%;
	display: grid;
	grid-template: "description done time" auto / 1fr auto auto;
	grid-column-gap: 1rem;
	grid-row-gap: 0.5rem;
	align-items: center;
	margin-left: 1rem;
	line-height: 1.2;
}

@media (max-width: 575px) {

	div.flow-timeline-task {
		grid-template:
			"description description" auto
			"time done" auto / auto 1fr;
	}

}

div.flow-timeline-task div.flow-timeline-label {
	grid-area: description;
}

div.flow-timeline-task div.flow-timeline-update {
	grid-area: update;
}

a.flow-timeline-element-action {
	color: inherit;
}

div.flow-timeline-done {
	border-radius: var(--radius);
	display: inline-block;
}

div.flow-timeline-task div.flow-timeline-done {
	grid-area: done;
}

div.flow-timeline-done-repeat {
	grid-area: number;
	font-size: 0.9rem;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: var(--radius);
}

@media (min-width: 576px) {

	div.flow-timeline-done-repeat {
		justify-content: flex-end;
	}

}

a.flow-timeline-status-todo {
	display: flex;
	width: 2rem;
	height: 2rem;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 50%;
	text-decoration: none;
	transition: all 0.5s;
	line-height: 1;
}

a.flow-timeline-status-todo.disabled {
	cursor: default;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

a.flow-timeline-status-todo {
	background-color: var(--todo);
	color: white;
}

a.flow-timeline-status-todo svg {
	font-size: 1.5rem;
}

a.flow-timeline-status-todo:hover {
	box-shadow: inset 0px 0px 0 100px rgba(0, 0, 0, .1);
}

div.flow-write-week {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-column-gap: 1rem;
}

label.flow-timeline-select {
	width: 2rem;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.flow-timeline-update label.flow-timeline-select {
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
}

label.flow-timeline-select input {
	width: 1.1rem;
	height: 1.1rem;
}

div.flow-timeline .util-bar-inline {
	left: 2.25rem;
}

@media (max-width: 449px) {

	div.flow-timeline .util-bar-inline-item span {
		font-size: 0.7rem;
	}

}

.flow-harvest-out-period {
	font-size: 80%;
	opacity: 0.5;
}