/* Sequence header */
div.sequence-header {
	margin-bottom: 1rem;
}

div.sequence-header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.sequence-header-title h1 {
	margin-bottom: 0;
}

div.sequence-header-title h1 > svg {
	font-size: 80%;
	margin-left: 1rem !important;
}

div.sequence-header-infos {
	color: var(--primary);
}

@media (max-width: 575px) {

	div.sequence-header-title {
		margin: 0;
		width: 100%;
	}

	a.sequence-header-notes {
		display: none;
	}

}


div.sequence-header-description {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
	grid-auto-flow: column;
	margin-top: 1rem;
}

span.sequence-header-description-icon {
	font-size: 3rem;
	color: var(--primary);
	line-height: 1;
}

/* Items */
@media (min-width: 768px) {

	main table.sequence-item thead {
		background: var(--background-light);
		position: sticky;
		top: calc(var(--mainSticky) - 1px);
		z-index: 1;
	}

}

td.sequence-item-vignette {
	width: 2rem;
}

td.sequence-item-vignette > * {
	margin-top: -0.25rem;
	margin-bottom: -0.25rem;
}

td.sequence-item-use {
	font-size: 0.9rem;
}

@media (max-width: 767px) {
	.sequence-item-use {
		display: none;
	}
}

div.sequence-item-crop {
	display: grid;
	grid-template-columns: 1fr 10rem 10rem 10rem;
}

@media (max-width: 1199px) {
	div.sequence-item-crop {
		grid-template-columns: 1fr 7.5rem 7.5rem 7.5rem;
	}
}

div.sequence-item-crop > *:not(:nth-child(1)) {
	text-align: right;
}

.sequence-item-period:not(:last-child) {
	margin-bottom: 0.25rem;
}

.sequence-item-season {
	font-weight: normal;
	line-height: 1.2;
}

/* Notes à propos d'un itinéraire */

#sequence-comment:empty {
	display: none;
}

div.sequence-comment-submit {
	position: relative;
	background-color: white;
	box-sizing: content-box;
	padding-bottom: 0.625rem;
	margin-top: 1rem;
}

div.sequence-comment-title {
	display: grid;
	grid-template-columns: 1fr auto;
}

/* Séries dans un itinéraires technique */
div.sequence-series-wrapper {
	overflow: auto;
	margin-bottom: 1.5rem;
}

div.sequence-series-wrapper.sequence-series-wrapper-1 {
	max-width: 600px;
}

div.sequence-series-wrapper.sequence-series-wrapper-2 {
	max-width: 800px;
}

div.sequence-series-body {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

div.sequence-series-header {
	border: 1px solid transparent;
}

div.sequence-series-item {
	display: grid;
	grid-column-gap: 0.5rem;
	align-items: baseline;
	text-decoration: none;
	padding: 0.33rem 1rem;
}

div.sequence-series-item-season {
	font-weight: bold;
	font-size: 0.9rem;
}

div.sequence-series-item-crop:not(:last-child) {
	border-right: 1px solid var(--border);
	padding-right: 0.5rem;
}