div.slice-items {
	display: grid;
	grid-row-gap: 0.5rem;
}

div.slice-spare {
	display: none;
}

div.slice-item-new {
	display: grid;
	grid-template-columns: 1fr max-content auto;
	grid-column-gap: 0.5rem;
	align-items: center;
	padding-right: 0.5rem;
}

span.slice-item-limit {
	font-weight: bold;
	font-size: 1.2rem;
	margin-right: 0.5rem;
}

div.slice-wrapper[data-n="0"] .slice-several,
div.slice-wrapper[data-n="1"] .slice-several {
	display: none;
}

div.slice-item {
	display: grid;
	grid-template: "variety arrow parts remove" 1fr / 1fr auto 10rem auto;
	grid-column-gap: 0.5rem;
	align-items: center;
	border-radius: var(--radius);
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.5rem;
}

div.slice-wrapper[data-n="1"] div.slice-item {
	grid-template: "variety remove" auto / 1fr auto;
}

@media (max-width: 575px) {

	div.slice-wrapper[data-n="1"] div.slice-item {
		grid-template: "variety remove" auto / 1fr auto;
	}

	div.slice-wrapper:not([data-n="1"]) div.slice-item {
		grid-template: "variety arrow parts remove" 1fr / 1fr auto auto auto;
	}

}

div.slice-item-arrow {
	grid-area: arrow;
	display: none;
	font-size: 1.4rem;
}

@media (min-width: 576px) {

	div.slice-item-arrow {
		padding: 0 .5rem;
	}

}

div.slice-item div.slice-item-variety {
	grid-area: variety;
}

div.slice-item div.slice-item-parts {
	grid-area: parts;
	display: none;
}

div.slice-item div.slice-item-parts input {
	text-align: right;
}

div.slice-wrapper:not([data-n="1"]) div.slice-item div.slice-item-arrow,
div.slice-wrapper:not([data-n="1"]) div.slice-item div.slice-item-parts {
	display: block;
}

div.slice-item a.slice-item-remove {
	grid-area: remove;
}

div.slice-item-create {
	display: none;
}

a.slice-item-create-cancel {
	display: none;
}

div.slice-item:only-child div.slice-item-create {
	grid-template-columns: 1fr auto;
	grid-column-gap: 0.5rem;
	align-items: center;
}

div.slice-item:only-child a.slice-item-create-cancel {
	display: inline-block;
}

option.variety-field-new {
	color: var(--secondary);
	font-weight: bold;
}

