.invoicing-presentation {
	background: linear-gradient(135deg, var(--commercialisation) 0, var(--production) 50%, var(--accounting) 100%);
	color: white;
	text-align: center;
	min-height: 20rem;
}

.preaccounting-import-table tbody:nth-of-type(even) {
	background-color: var(--background-even);
}
.preaccounting-import-table tbody:nth-of-type(odd) {
	background-color: var(--background-odd);
}

.preaccounting-import-table tbody:hover td {
	background-color: rgba(0, 0, 0, 0.03) !important;
}
.preaccounting-import-table tbody:hover tr:has(td.preaccounting-import-td-operation:hover) td.preaccounting-import-td-operation {
	background-color: rgba(0, 0, 0, 0.06) !important;
}

.preaccounting-import-table tbody:has(input[type="checkbox"]:checked) {
	background-color: rgba(201, 236, 253, 0.25) !important
}


.preaccounting-import-table tbody td.preaccounting-import-td-operation {
	white-space: nowrap;
}
.preaccounting-import-table tbody td div.preaccounting-import-td-action {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin-top: 0.5rem;
}
.preaccounting-import-table tbody td.preaccounting-import-td-amount a.util-badge {
	margin-left: 0.15rem !important;
}
.preaccounting-import-table tbody tr:first-child td.preaccounting-import-td-operation {
	padding-bottom: 0;
}
.preaccounting-import-table tbody tr:last-child td.preaccounting-import-td-operation {
	padding-top: 0;
}
.preaccounting-import-table tbody tr:not(:first-child):not(:last-child) td.preaccounting-import-td-operation {
	padding-top: 0;
	padding-bottom: 0;
}
