
.reconciliate-table {
	background-color: white;
}
.reconciliate-table tbody {
	border-bottom: 1px dotted var(--secondary);
}

.reconciliate-table tbody:hover td {
	background-color: rgba(0, 0, 0, 0.03) !important;
}
.reconciliate-table tbody:hover tr:has(td.reconciliate-td-operation:hover) td.reconciliate-td-operation {
	background-color: rgba(0, 0, 0, 0.06) !important;
}
.reconciliate-table tbody:has(input[type="checkbox"]:checked) {
	background-color: rgba(201, 236, 253, 0.25) !important
}

.reconciliate-table tbody td.reconciliate-td-operation {
	white-space: nowrap;
}
.reconciliate-table tbody tr:first-child td.reconciliate-td-operation {
	padding-bottom: 0;
}
.reconciliate-table tbody tr:last-child td.reconciliate-td-operation {
	padding-top: 0;
}
.reconciliate-table tbody tr:not(:first-child):not(:last-child) td.reconciliate-td-operation {
	padding-top: 0;
	padding-bottom: 0;
}
.reconciliate-table tbody tr:first-child td {
	padding-bottom: 0;
}
.reconciliate-table tbody tr:nth-child(2) td {
	position: relative;
}
.reconciliate-table tbody tr:nth-child(2) td span.reconciliate-confidence {
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: calc(50% - (1em + 1px) / 2);
}
.reconciliate-table tbody tr:nth-child(2) td span:not(.reconciliate-confidence) {
	position: absolute;
	top: 1rem;
}
.reconciliate-table tbody tr:last-child td {
	padding-top: 0;
}
