.step-process {
	display: flex;
	margin-bottom: 1rem;
	background: none;
}

a.step {
	color: inherit;
}
a.step:hover {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.15);
}
.step.selected {
	background-color: rgba(0, 0, 0, 0.15);
}
.step.step-success,
.step.step-success:hover {
	cursor: default;
	background-color: #6c62;
	pointer-events: none;
}
.step.step-success[data-step="export"],
.step.step-success[data-step="export"]:hover {
	cursor: pointer;
}
.step {
	position: relative;
	flex: 1;
	padding: 1rem 2.5rem;
	background-color: rgba(0, 0, 0, 0.05);

	/* chevauchement */
	margin-left: -1rem;

	clip-path: polygon(
			0 0,
			95% 0,
			100% 50%,
			95% 100%,
			0 100%,
			5% 50%
	);
}

/* ordre d’empilement */
.step:nth-child(1) { z-index: 4; margin-left: 0; }
.step:nth-child(2) { z-index: 3; }
.step:nth-child(3) { z-index: 2; }
.step:nth-child(4) { z-index: 1; }

/* première sans encoche */
.step-process > *:first-child {
	margin-left: 0;

	clip-path: polygon(
			0 0,
			95% 0,
			100% 50%,
			95% 100%,
			0 100%
	);
}

/* dernière sans flèche */
.step-process > *:last-child {
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		0 100%,
		5% 50%
	);
}

/* Header */
.step-header {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.step-number {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background: rgba(255,255,255,0.25);
	display: grid;
	place-items: center;
	font-weight: 700;
}

.step-main {
	display: flex;
	flex-direction: column;
}

.step-title {
	font-weight: bold;
	font-size: 0.9rem;
}

.step-value {
	opacity: 0.9;
}

.step-desc {
	margin: 0.75rem 0 0;
	font-size: 0.9rem;
	line-height: 1.4;
}

/* Responsive */
@media (max-width: 1199px) and (min-width: 992px) {
	.step {
		padding: 1.5rem 2.5rem;
		margin-left: 0;

		clip-path: polygon(
				0 0,
				95% 0,
				100% 50%,
				95% 100%,
				0 100%,
				5% 50%
		);
	}

	.step:first-child {
		margin-left: 0;
		clip-path: polygon(
				0 0,
				95% 0,
				100% 50%,
				95% 100%,
				0 100%
		);
	}

	.step:last-child {
		clip-path: polygon(
				0 0,
				100% 0,
				100% 100%,
				0 100%,
				5% 50%
		);
	}
}

.step-bloc-export {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

@media (max-width: 767px) {

	.step-bloc-export {
		display: block;
	}
}

@media (max-width: 991px) {
	.step-process {
		flex-direction: column;
		gap: 1rem;
	}

	.step:first-child {
		padding-left: 1rem;
	}

	.step:first-child,
	.step:last-child {
		clip-path: none;
	}
	.step {
		margin-left: 0;
		clip-path: none;
		border-radius: var(--radius);
		padding: 1rem;
	}

	.step > *:last-child {
		clip-path: none;
	}
}
