.financial-year-cca-table {
	margin-bottom: 0;
}

div.financial-year-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {

	div.financial-year-list {
		grid-template-columns: 1fr;
	}

}

.financial-year-list > .financial-year-block {
	padding: 1rem;
	border-radius: var(--radius);
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 1rem;
	grid-template-rows: 1fr auto;
	transition: color 0.25s, background-color 0.25s, border-color 0.25s, box-shadow 0.25s;
	text-decoration: none;
	background-color: white;
	border: 2px solid var(--secondary);
}

.financial-year-title {
	text-align: center;
}
.financial-year-dates {
	line-height: 1.2;
	background-color: #0001;
	padding: 1rem;
	border-radius: var(--radius);
}
.financial-year-stats {
	margin-top: 1rem;
}
.financial-year-details ul.financial-year-details-list {
	list-style-type: none;
	margin-bottom: 1rem;
	border-left: 1px solid black;
	padding-left: 1rem;
	margin-left: 1rem;
}
.financial-year-details ul li span.financial-year-detail-icon {
	display: inline-block;
	width: 1.5rem;
}
.financial-year-buttons {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.financial-year-action-label {
	display: none;
}

@media (max-width: 359px) {
	.financial-year-list > .financial-year-block {
		grid-template-columns: auto;
	}
	.financial-year-dates {
		width: fit-content;
		margin: auto;
	}
	[financial-year-name] {
		grid-area: fy-name;
		margin-bottom: 0;
		margin-top: 1rem;
	}
	[financial-year-dates] {
		grid-area: fy-dates;
	}
	[financial-year-stats] {
		grid-area: fy-stats;
		margin-top: 0;
	}
	.financial-year-title {
		display: grid;
		align-items: start;
		grid-template-areas:
			"fy-name fy-dates"
			"fy-stats fy-dates";
	}
	.financial-year-details {
		margin-top: 1rem;
	}
	.financial-year-action-label {
		display: inline;
	}
}
